BODY { background-color: #DFE59D; color: #111;
       font-family: Verdana, Arial, Helvetica, sans-serif;
       font-size:10px; font-style: normal; font-weight: normal; font-variant: normal;
       line-height: normal; text-align: left }

BODY A {color: #828281;}
#var-div { background-color:#DFE59D; text-align:center; padding: 0px 0px 0px 0px;margin: 0px 0px 0px 0px; position: relative}

#content-section { background-color:#DFE59D; }

.heading {font-size: 14px; color: #000; background-color: #C3D436;text-align:left;padding:8px;font-weight: bold; }
.subheading {font-size: 12px; color: #000; background-color: #C3D436;text-align:left;padding:3px;font-weight: bold; }
.subsection {color: #000; text-align:left;margin-left:10px; }

#tab1, #tab2, #tab3 { color:#000;text-decoration:none;text-align:center;font-weight:bold;}
.htop, .hbottom{display:block;background:#396D7B;}

b.topr, b.bottomr{display:block;background: #DFE59D} /*  round corner bg of current tab */
b.topr b, b.bottomr b{display:block;height: 1px; overflow: hidden; background: #C3D436} /*  round corner fg of current tab */
b.topr_off, b.bottomr_off{display:block;background: #DFE59D} /*  round corner bg of inactive tab */
b.topr_off b, b.bottomr_off b{display:block;height: 1px; overflow: hidden; background: #919D22} /*  round corner fg of inactive tab */

.tab_off {background:#919D22;color:#000}
.tab_current {background:#C3D436;color:#828281}

.tabcontent {background:#C3D436;padding:5px;color:#000}
.tabcontent .heading2 {color:#000}
.tabcontent .heading4 {color:#000}
.advoptions {background:#919D22;padding:5px;border:1px solid #333;color:#000}

.advoptions A:link    {color: #000;}
.advoptions A:visited {color: #000;}
.advoptions A:hover   {color: #000;}
.advoptions A:active  {color: #000;}

#searchbarform input {background-color: #919D22; color: #000; margin-right: 6px;  font-size: 10px; border:none;}

#mid-col-1 A { font-style: normal; text-decoration: underline; font-weight: bold; }
#mid-col-1 A:link, #mid-col-1 A:visited  { color: #EF3B33; text-decoration: none;}
#mid-col-1 A:hover, #mid-col-1 A:active  { color: #EF3B33; text-decoration: underline;}

#bd1 A:link    , #bd2 A:link    ,#bd3 A:link    , #bd4 A:link    ,#bd5 A:link    , #bd6 A:link    {color: #ddd;}
#bd1 A:visited , #bd2 A:visited ,#bd3 A:visited , #bd4 A:visited ,#bd5 A:visited , #bd6 A:visited {color: #ddd;}
#bd1 A:hover   , #bd2 A:hover   ,#bd3 A:hover   , #bd4 A:hover   ,#bd5 A:hover   , #bd6 A:hover   {color: #fff;}
#bd1 A:active  , #bd2 A:active  ,#bd3 A:active  , #bd4 A:active  ,#bd5 A:active  , #bd6 A:active  {color: #fff;}

#menu-col-1 {background-color: #DFE59D;} /* bg color of city menu and trail */

#aff_menu .linkon A           { color: #EF3B33; text-decoration: none; }
#aff_menu .linkon A:link      { color: #EF3B33; text-decoration: none; }
#aff_menu .linkon A:visited   { color: #EF3B33; text-decoration: none; }
#aff_menu .linkon A:hover     { color: #EF3B33; text-decoration: underline; }
#aff_menu .linkon A:active    { color: #EF3B33; text-decoration: underline; }
#aff_menu .linkoff A         { color: #919D22; text-decoration: none; }
#aff_menu .linkoff A:link    { color: #919D22; text-decoration: none; }
#aff_menu .linkoff A:visited { color: #919D22; text-decoration: none; }
#aff_menu .linkoff A:hover   { color: #919D22; text-decoration: underline; }
#aff_menu .linkoff A:active  { color: #919D22; text-decoration: underline; }
