#menu-col-1 {font-size: 12px; background-color: #FFF;text-align:left;vertical-align:middle}
#mid-col-1 {top:10px;left:0px;font-size: 12px;text-align:left;}

#bottom-col-1 {top:5px;left:0px;height: 30px;width:1000px;font-size: 12px;text-align:center;
             background-color: #FFF}


#mid-col-1 table {font-size: 12px; margin-left:2px}
#mid-col-1 th {font-size: 12px }
#mid-col-1 td {font-size: 12px }

#city-menu {font-weight:bold}
#flags {width:200px;text-align:right;}

__#city-menu {font-weight:bold;float:left;position:static}
__#flags {float:right;position:static}

_#city-menu {font-weight:bold;text-align:left;border: 2px solid #000077;}
_#flags {text-align:right;border: 2px solid #007700;}

#top-col-2 #caption {font-size: 24px; font-weight: bold; text-align:center; padding: 0px; color:#695046; vertical-align:top}
#top-col-2 #subcaption {font-size: 12px; font-weight: bold;font-style: italic; text-align:center; padding: 0px; color:#695046; vertical-align:top}
#mid-col-2 #auth{text-align:right;font-size: 12px;vertical-align:baseline;}


#menu-col-1 .linkoff A         { color: #67450C; text-decoration: none; }
#menu-col-1 .linkoff A:link    { color: #67450C; text-decoration: none; }
#menu-col-1 .linkoff A:visited { color: #67450C; text-decoration: none; }
#menu-col-1 .linkoff A:hover   { color: #F00; text-decoration: underline; }
#menu-col-1 .linkoff A:active  { color: #67450C; text-decoration: underline; }

#menu-col-1 .linkon A           { color: #9F1726; text-decoration: underline; }
#menu-col-1 .linkon A:link      { color: #9F1726; text-decoration: underline; }
#menu-col-1 .linkon A:visited   { color: #9F1726; text-decoration: underline; }
#menu-col-1 .linkon A:hover     { color: #F00; text-decoration: underline; }
#menu-col-1 .linkon A:active    { color: #9F1726; text-decoration: underline; }

#footer {text-align:center;width:948px;color: #f00; font-size:12px; font-style: normal; text-decoration: none; }
#footer A { color: #f00; font-size:12px; font-style: normal; text-decoration: none; }

#mid-col-1 .fake_link { font-style: normal; text-decoration: none; font-weight: bold; color: #67450C; text-decoration: underline;cursor:pointer}

#mid-col-1 A { font-family:arial;font-size:12px;font-weight:bold;font-style: normal; text-decoration: none; }
#mid-col-1 A:link { color: #f7bf01; text-decoration: none; }
#mid-col-1 A:visited { color: #f7bf01; text-decoration: none; }
#mid-col-1 A:hover { color: #f7bf01; text-decoration: underline; }
#mid-col-1 A:active { color: #f7bf01; text-decoration: underline; }

#mid-col-1 .redback A { color: #000;font-style: normal; text-decoration: none; font-weight: bold; display: block;
    padding:2px;
		border: 1px solid #FFEFCE;
}
#mid-col-1 .redback A:link, #mid-col-1 .redback A:visited { color: #000}
#mid-col-1 .redback A:hover, #mid-col-1 .redback A:active{
		color: #fff;
		background-color: #9F1726;
		border:1px solid #ccc;
		cursor: pointer;
  }
#mid-col-1 .redback A:active { color: #ddd}

#footer-section A { font-style: normal; text-decoration: none; font-weight: bold; font-size:10px}
#footer-section A:link { color: #67450C; text-decoration: underline; }
#footer-section A:visited { color: #67450C; text-decoration: underline; }
#footer-section A:hover { color: #A76C08; text-decoration: underline; }
#footer-section A:active { color: #67450C; text-decoration: underline; }

#bottom-col-1 #partners A { font-style: normal; text-decoration: none; font-weight: bold; }
#bottom-col-1 #partners A:link { color: #67450C; text-decoration: underline; }
#bottom-col-1 #partners A:visited { color: #67450C; text-decoration: underline; }
#bottom-col-1 #partners A:hover { color: #A76C08; text-decoration: underline; }
#bottom-col-1 #partners A:active { color: #67450C; text-decoration: underline; }

#bottom-col-1 #endcaption {width:70%; background-color: #eef; color: #224; font-size: 14px; height:12px; font-weight: bold; text-align:left;padding-left: 15px;padding-top: 4px; }

#pic_large2 {border: 2px solid white; text-align: center}

.heading {font-size: 14px; color: #000; background-color: #AB9B8D;text-align:left;padding:8px;font-weight: bold; }
.subheading {font-size: 12px; color: #000; background-color: #AB9B8D;text-align:left;padding:3px;font-weight: bold; }
.subsection {color: #000; text-align:left;margin-left:10px; }
H1  {font-size: 18px; color: #111; text-align:left;padding:2px;font-weight: bold; }
H2  {font-size: 14px; color: #111; text-align:left;padding:2px;font-weight: bold; }
H3  {font-size: 12px; color: #111; text-align:left;padding:2px;font-weight: bold; }
H4  {font-size: 10px; color: #111; text-align:left;padding:2px;font-weight: bold; }
.admin_menu {font-size: 10px; color: #000; background-color: #fff;text-align:left;padding:3px;font-weight: bold; }
.site_menu {font-size: 12px; color: #000; background-color: #fff;text-align:left;font-weight: bold; }

.heading1  {font-size: 18px; color: #111; text-align:center;padding:2px;font-weight: bold; }
.heading2  {font-size: 14px; color: #111; text-align:center;padding:2px;font-weight: bold; }
.heading3  {font-size: 12px; color: #111; text-align:center;padding:2px;font-weight: bold; }
.heading4  {font-size: 10px; color: #111; text-align:center;padding:2px;font-weight: bold; }

.unordered_list {padding-left:5px;}
.unordered_list_item {font-size: 14px; padding-left:5px;}

#locations #map {background-image: url(/apts/maps/map_basic_colored.gif); background-repeat: no-repeat; color:white}
#locations .marker_label {font-size: 14px; color: #000;text-align:center;padding:1px;font-weight: bold;}

TABLE.recordset tr.firstrow th {
	border-top: 1px solid #FB7A31;
	border-bottom: 1px solid #FB7A31;
	padding: 2px;
	background: #FFC;}
TABLE.recordset tr.odd {color:#111;background-color: #fff;}
TABLE.recordset tr.even {color:#111;background-color: #eee}
TABLE.recordset td {padding-left: 2px;padding-right: 2px}

TABLE.record tr.firstrow th {
	border-top: 1px solid #FB7A31;
	border-bottom: 1px solid #FB7A31;
	background: #FFC;}
TABLE.record tr.odd {color:#111;background-color: #fff}
TABLE.record tr.even {color:#111;background-color: #eee}

#facilities {color: #000}
#facilities .odd {color:#f5f5f5;background-color: #7B6B5D}
#facilities .even {color:#f5f5f5;background-color: #8B7B6D}

#rates {color: #000}
#rates .odd {color:#f5f5f5; background-color: #7B6B5D}
#rates .even {color:#f5f5f5;background-color: #8B7B6D}

#off_rates {border: 1px solid #fff;}
#off_rates TD {text-align: center}
.rates {padding:15px 15px 15px 15px;border-collapse: collapse; border: 3px solid #fff;}
.rates *#col1 {border: 3px solid white; }

.link {color: #cdf;}
.linksel {color: #fff;}
.smallLink {font-size: 8px;}
.normaltext {font-size: 12px;font-weight:bold;padding: 2px;;margin-right:10px}
.smalltext {font-size: 10px;padding: 2px;margin-right:10px}
.center {text-align:center}
.left{text-align:left}

#sitesearch {color:#000;vertical-align:top;font-size:9px;text-align:left;z-index:18;display:block;position:absolute;left:0px;top:1px;width:380px;height:94px;}

#loginform2 {color:#000;vertical-align:top;font-size:9px;text-align:right;z-index:18;display:block;position:absolute;right:0px;top:18px;width:180px;height:94px;}
#loginform2 TD {color:#000;text-align:left}
#loginform2 form {color:#000;text-align:left}
#loginform2 .text {background-color: #eee; color: #111; font-size: 9px}
#loginform2 .buttons { background-color: #eee;color:#111; font-size: 9px;}
#loginform2 input {height:14px}


#loginform {color:#000;text-align:left}
#loginform form {color:#000;text-align:left}
#logintext {background-color: #eee; color: #000; font-size: 9px;border: 1px solid #D7E5F2; padding:5px }
#loginform .buttons { background-color: #333;color:#000; font-size: 9px;}

#_loginform table {background-color: #F9FBFD; color: #000; border: 1px solid #D7E5F2; border-collapse: collapse; }
#_loginform td { border: 1px solid #D7E5F2; padding-left: 4px }

.loginmsg {color: #a00; font-size: 9px;padding:3px}
.error {color: #a00; font-size: 12px;padding:3px;font-weight:bold}
.message {color: #0a0; font-size: 12px;padding:3px;font-weight:bold}

.calbutton {margin:2px;}
.off_searchbarform form {background-color: #ccc; color: #000;  text-align: right;}
.off_searchbarform input {background-color: #ffe; color: #111; margin-right: 0px;  font-size: 10px;
                    border:solid #ddd;
                    border-width: 3px;}
.searchbarform_orig input {background-color: #ffe; color: #111; margin-right: 0px;  font-size: 10px;
                    border:solid #AB9B8D;
                    border-width: 3px;
}
.searchbarform select { color: #f00; background-color: #ffb; color: #111; margin-left: 1px;  font-size: 10px;
                    border:solid #AB9B8D;
                    border-width: 2px;
}

.searchbarform .hand {cursor:pointer;}

#adminsearchform form {background-color: #ccc; color: #000;  text-align: right;}
#adminsearchform input {background-color: #ffe; color: #111; margin-right: 6px;  font-size: 10px;
                    border:solid #efdfbe;
                    border-width: 3px;
}
#adminsearchform select { color: #f00; background-color: #ffb; color: #111; margin-right: 6px;  font-size: 10px;
                    border:solid #AB9B8D;
                    border-width: 2px;
}


#filters_off {background-color: #99f; color: #000000; text-align: right;}
#filters_off select {background-color: #ffb; color: #111; margin-right: 6px; }

#cal_filters {background-color: #99f; color: #000000; text-align: right;}

#reservations TD.Request {background-color: #fff;}
#reservations TD.Unconfirmed {background-color: #cc0;}
#reservations TD.Ready {background-color: #ff0;}
#reservations TD.Acknowledged {background-color: #0c0;}
#reservations TD.ConfirmedRequest {background-color: #ee0;}
#reservations TD.Reserved {background-color: #c88;}
#reservations TD.Blocked {background-color: #944;}
#reservations TD.Paying {background-color: #eaa;}
#reservations TD.Complete {background-color: #88c;}
#reservations TD.Cancelled {background-color: #888;}
#reservations TD.Rejected {background-color: #999;}
#reservations TD.Expired {background-color: #aaa;}
#reservations TD.Cleaning {background-color: #000;}
#reservations TD.Maintenance {background-color: #000;}
#reservations TD.Pickup {background-color: #000;}

#reservations TD.Direct{background-color: #fff;}
#reservations TD.RequestOwner {background-color: #aaa;}
#reservations TD.RequestGuest {background-color: #aaa;}

#reservations .ConflictRequest {background-color: #fff;color: #111;padding:2px}
#reservations .ConflictAcknowledged {background-color: #0c0;color: #111;padding:2px}
#reservations .ConflictUnconfirmed {background-color: #cc0;color: #111;padding:2px}
#reservations .ConflictReserved {background-color: #c88;color: #111;padding:2px}
#reservations .ConflictBlocked {background-color: #c88;color: #111;padding:2px}
#reservations .ConflictPaying {background-color: #eaa;color: #111;padding:2px}

#reservations TD.NotPaid {background-color: #c00;}
#reservations TD.Paid {background-color: #0c0;}
#reservations .text {width: 30px;background-color: #ffb; font-size: 10px}


#reservationform form {background-color: #ccc; color: #000;  text-align: right;}
#reservationform input {background-color: #ffe; color: #111; margin-right: 6px;  font-size: 10px}
#reservationform .required {background-color: #ffb; color: #111; margin-right: 6px; font-size: 10px}
#reservationform .optional {background-color: #fff; color: #111; margin-right: 6px; font-size: 10px }
#reservationform select { background-color: #ffb; color: #111; margin-right: 6px;  font-size: 10px}
#reservationform .radio {background-color: #ccc;color:#ffb;}

#reservationform .actionbuttonssmall { font-family: Tahoma;  background-color: #ffe; color: #111; margin-right: 6px; width: 32px; height: 22px }
#reservationform .changebutton { font-family: Tahoma;  background-color: #ffe; color: #111; margin-right: 6px; width: 85px; height: 22px }
#reservationform .actionbuttonsbig { font-family: Tahoma;  background-color: #ffe; color: #111; margin-right: 6px; width: 45px; height: 22px }
#reservationform .yearokbutton { font-family: Tahoma;  background-color: #ffe; color: #111; margin-right: 6px; width: 25px; height: 22px }
#reservationform .daybuttons{border: 0px;width: 25px;height: 15px; background-color: #00f; font-family: Tahoma;font-size: 12px;position: relative;}
#reservationform .presseddaybutton{border: 2px;width: 25px; background-color: #99f ;font-family: Tahoma;font-size: 12px;position: relative;}
#reservationform .caltable {border: 0px;background-color: #ccc; font-family: Tahoma;font-size: 12px;}
#reservationform .monthmonth {border: 0px;background-color: #fff; font-family: Tahoma;font-size: 12px;text-align :center;width: 65px;}
#reservationform .monthyear {border: 0px;background-color: #fff;font-family: Tahoma;font-size: 12px;text-align :center;width: 40px;}


#tab1, #tab2, #tab3 { color:#444;text-decoration:none;text-align:center;font-weight:bold;}

.tab_off {background:#ccc;cursor:pointer}
.tab_current {background:#eee;cursor:pointer}
.tabcontent {background:#eee;padding:5px;color:#000}
.advoptions {background:#eee;padding:5px;border:1px solid #ccc;}

b.topr, b.bottomr{display:block;background: #FFF}
b.topr b, b.bottomr b{display:block;height: 1px; overflow: hidden; background: #eee}
b.topr_off, b.bottomr_off{display:block;background: #FFF}
b.topr_off b, b.bottomr_off b{display:block;height: 1px; overflow: hidden; background: #ccc}

b.round_h1{margin: 0px 5px}
b.round_h2{margin: 0px 3px}
b.round_h3{margin: 0px 2px}
b.topr b.topr_off b.round_h4, b.bottomr b.round_h4{margin: 0px 1px;height: 2px}

b.toph, b.bottomh{display:block;background: #FFF}
b.toph b, b.bottomh b{display:block;height: 1px; overflow: hidden; background: #FFEFCE}
.h_container_out {}
.h_container_in {padding:0px 10px;background:#FFEFCE;}


table.floatLeft {
    float: left;
    margin: 10px;
}
.ulist {font-size:12px}

.no_photo {border:2px solid black;height:120px;width:120px;text-align:center;font-size:10px;font-weight:bold;font-family:arial;}
.searchresult {margin:5px;}
/* FORM {margin:0px;padding:0px;}*/
SELECT {margin:0px;padding:0px;}
.orange_list li {margin-left:-2em;}

.red {color: #a00}