/* Moveandstay Affiliates CSS */

body {
	margin: 0;
	padding: 0;
	background: #fff;
}
form {
    margin: 0px;
    padding: 0px;
}
.inquiry {
	width: 220px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: arial,helvetica,verdana,lucida,sans-serif;
	font-weight: bold;
}
h1 {
	font-size: 14px;
}
h2 {
	font-size: 13px;
}
h3 {
	font-size: 12px;
}

A           { color: #f7bf01; text-decoration: none; }
A:link      { color: #f7bf01; text-decoration: none; }
A:visited   { color: #f7bf01; text-decoration: none; }
A:hover     { color: #f7bf01; text-decoration: underline; }
A:active    { color: #f7bf01; text-decoration: underline; }





