@charset "utf-8";

/*
inner: 600
123 + 2 125
250 + 8  258
200 + 10 210

600 - 335
*/

/* -------------------- APARTMENTS (LIST) --------------------  */	
.propertyContent {
	overflow:hidden; 
	}
.propertyLeft { 
	width: 123px; 
	float: left; 
	padding-left: 2px;
	}
.propertyCen {
	float: left; 
	padding-left: 8px;
	line-height:15px; 
	}
.propertyRight {
	width:200px; 
	float: left;
	font-size: 12px; 
	padding-left: 8px;
	border-left: 2px solid #918f90; 
	}
.houseTitle A {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px; 
	font-weight: bold; 
	color: #00b0d8;
	}
.houseTitleDetail {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px; 
	font-weight: bold; 
	color: #00b0d8;
	}
.stars {
	margin-left: 10px; 
	}
p.links  a { 
	float: right; 
	font-weight: bold; 
	color: #00b0d8; 
	text-decoration:underline; 
	font-size:12px;
	}
	
/* -------------------- APARTMENT DETAIL --------------------  */
/* changed from 846 px to 678px to fit menu on left */

#detailItem {
	height: 136px;
	margin: 0px auto;
	margin-bottom: 25px;
	text-align: left;
	font: 11px Arial, Helvetica, sans-serif;
	font-weight: bold;
	line-height:20px;
}

.detailPic {
	float: left;
	margin-left: 9px;
	margin-top: 9px;
	}
.detailName {
	float: left;
	margin-left: 20px;
	*margin-top: 9px;
	}
