/* afr_gallery.css 
   used for artist/gallery pages
*/

.navbar-nav li.active A {
  color: #fff;
  background-color: #ed8323 !important;
}


.table-thumb {
  height: 40px !important;
  width: 40px !important;
  border: 1px solid #ccc;
}

.fixed-top-menu {
  width: 100%;
  background-color: #fff;
  z-index: 10;
  position: fixed;
  height:50px;
}
  
#gallery-viewer {
  padding-top:50px;
}

#subview-container {
  max-width: 1080px;
}

.photo-grid-5 { /* 5 columns */
  /* Prevent vertical gaps */
  line-height: 0;
   
  -webkit-column-count: 5;
  -moz-column-count:    5;
  column-count:         5;
                      
  -webkit-column-gap:   30px;
  -moz-column-gap:      30px;
  column-gap:           30px;  
}

.photo-grid {
  /* Prevent vertical gaps */
  line-height: 0;
   
  -webkit-column-count: 3;
  -moz-column-count:    3;
  column-count:         3;

  -webkit-column-gap:   30px;
  -moz-column-gap:      30px;
  column-gap:           0px;  
}

.photo-grid .photo-grid-container, .photo-grid-5 .photo-grid-container{
  position: relative;
}

.photo-grid .photo-grid-container IMG {
  padding-bottom: 100px;
}
  
.photo-grid-5 .photo-grid-container IMG {
  padding-bottom: 60px;
}

.photo-grid .photo-grid-title, .photo-grid-5 .photo-grid-title {
  position: absolute;
  bottom: 10px;
  height: 90px;
  width: 100%;
  text-align:center;
  color: black;  
  border: 0px solid black;
  line-height: 1.2em;
  
}

.photo-grid-5 .photo-grid-title {
  height: 50px;
}

.photo-grid .photo-grid-title A, .photo-grid-5 .photo-grid-title A {
  position: relative;
  top: 10px;
  text-overflow: ellipsis;
  color: #868686;
}

.photo-grid .photo-grid-container, .photo-grid-5 .photo-grid-container {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  position: relative;
}

.pdf-thumb-box {
  position: relative;
  _overflow: hidden;
  display: block;
}

.pdf-thumb-box-overlay {
  background: transparent;
  color: #FFF;
  _padding: 20px;
  position: absolute;
  visibility: hidden;
  width:100%;
  height:100%;
  text-align:center;
}

.pdf-thumb-box-links {
  background-color: #000;
  width: 100%;
  height: 44px;
  opacity: 0.8;
  padding: 6px;
}
    
        
.glyphicon-eye-open {
    margin-top:60px;
    color:red;
}

@media (max-width: 1200px) {
  .photo-grid-5 {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  .photo-grid-5 {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}    

@media (max-width: 800px) {
  .photo-grid-5 {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  .photo-grid-5 {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
} 

@media (max-width: 1200px) {
  .photo-grid {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 800px) {
  .photo-grid {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
} 
  

/** old code below */

.gallery_image_container IMG {
  max-width: 480px;
}

#page_gallery A {
  color: #0074c1;
}

#gallery_content {margin: 0 !important; padding: 0 !important}
#gallery_content UL {margin: 0 !important; padding: 0 !important}

UL.user_list LI {
  width: 640px;
  margin: 4px 0;
  padding: 10px 0;
}

UL.user_list LI DIV.left_column {
  _border: 1px solid red;
  width: 120px;
}

UL.user_list LI DIV.middle_column {
  _border: 1px solid green;
  width: 300px;
}

UL.user_list LI DIV.right_column {
  _border: 1px solid blue;
  width: 180px;
}

UL.user_list LI A {
  font-size: 18px;
  color: #0074c1;
}

UL.user_list LI .img_cont {
  width: 96px;
  height: 72px;
  border: 1px solid #ccc;
  padding: 6px;
  overflow: hidden;
}
  
UL.user_list LI .img_cont IMG, UL.user_list LI .img_cont A IMG {
  width: 96px;
  max-height: 72px;
}

/* gallery list */
UL.gallery_list {
  width: 480px;
  margin: 0 !important;
  _padding-right:5px;
}

UL.gallery_list LI {
  _width: 440px;
  margin: 4px 0;
  padding: 10px 0;  
}

UL.gallery_list LI DIV.left_column {
  _border: 1px solid red;
  width: 120px;
}

UL.gallery_list LI DIV.middle_column {
  _border: 1px solid green;
  width: 240px;
}

UL.gallery_list LI DIV.right_column {
  _border: 1px solid blue;
  width: 100px;
}

UL.gallery_list LI A {
  font-size: 18px;
  color: #0074c1;
}

UL.gallery_list LI .img_cont {
  width: 96px;
  height: 72px;
  border: 1px solid #ccc;
  padding: 6px;
  overflow: hidden;
}
  
UL.gallery_list LI .img_cont IMG, UL.gallery_list LI .img_cont A IMG {
  width: 96px;
  max-height: 72px;
}

/* icon list */
UL.icon_list LI {
  max-width: 100px;
  padding: 4px 0;
  margin: 10px;
  display: inline-block;
  vertical-align: top;
}

UL.icon_list LI .img_cont {
  width: 96px;
  height: 72px;
  padding: 0;
    overflow: hidden;
}

UL.icon_list LI .img_cont IMG {
  width: 96px;
  height: 72px;
}

UL.icon_list LI .icon_list_title {
  text-align: center;
}

/* compact list */
UL.compact_list {
  width: 480px;
  margin: 0 !important;
  _padding-right:5px;
}

UL.compact_list LI {
  margin: 0px 0;
  padding: 0px 0;  
}

UL.compact_list LI DIV.left_column {
  _border: 1px solid red;
  width: 34px;
}

UL.compact_list LI DIV.middle_column {
  _border: 1px solid green;
  width: 240px;
}

UL.compact_list LI DIV.right_column {
  _border: 1px solid blue;
  width: 100px;
}

UL.compact_list LI A {
  font-size: 14px;
  color: #0074c1;
}

UL.compact_list LI .img_cont {
  width: 32px;
  height: 24px;
  padding: 0;
  overflow: hidden;
}
  
UL.compact_list LI .img_cont IMG {
  width: 32px;
  height: 24px;
}

A.blue {
  color: #0074c1 !important;
}

A.zocial {
  color: #fff !important;
}

UL.related-list-inline {
  margin-top: 10px !important;
}

UL.related-list-inline LI {
  display:inline-block;
  margin-bottom: 10px;
}

UL.related-list-inline LI DIV.img_cont {
  width: 90px;
  height: 90px;
  text-align: center;
}

UL.related-list-inline LI DIV.related-image-title {
  max-width: 90px;
  height: 30px;
  overflow: hidden;
}

UL.related-list-inline LI IMG {
  max-width: 60px;
}

UL.related-list LI {
  margin-left: 40px;
  margin-bottom: 10px;
}

UL.related-list LI IMG {
  max-width: 60px;
}

.related-title-cont {
  position: relative;
}

.related-title {
  margin-left: 36px;
}

.related-title-icon {
  position: absolute;
  top: -16px;
  left: 0px;
}

.related-image-title {
  display: block;
  font-size: 10px;
}

.gallery-profile-text {
  font-size: 12px;
  margin: 10px 0;
  padding-right: 10px;
}

.gallery-explorer-buttons {
  margin: 10px 0;
}

UL.simple-list {
  margin:0;
  padding:0;
}

UL.simple-list LI {
  float: left;
  margin-right: 20px;
}

UL.simple-list LI IMG {
  position: relative;
  width: 100px;
  z-index: 1;
}

UL.simple-list LI DIV.image-title {
  text-align: center;
  max-width: 100px;
  height: 30px;
  margin-top: 6px;
  _overflow: hidden;
}

UL.simple-list LI DIV.image-title {
  font-size: 10px;
  z-index: 2;
  position: relative;
}

UL.simple-list LI DIV.image-title A.info-link {
  position: absolute;
  top: -22px;
  left: -8px;
  z-index: 3;
}

UL.simple-list LI DIV.image-title A.full-link {
  position: absolute;
  top: -22px;
  right: -8px;
  z-index: 3;
}

.gallery_cont_wrapper {
  position:relative;
  display:none;
  padding: 10px;
  background: #000;
  height:520px;
  width:680px;
  text-align: center;
}

.gallery_cont {
  height:520px;
  width:680px;
}

.fancybox-info-icon {
  position: absolute;
  position:absolute;top:0px;left:-50px;
}

/** from sass.screen */
.user-info{display:inline;_position:relative}
.user-menu{display:none;position:absolute;z-index:32001 !important;min-width:250px;margin-top:10px;margin-left:5px;margin-right:200px;padding:5px 10px;border-radius:5px;background-color:#fff;-webkit-box-shadow:0px 10px 10px rgba(0,0,0,0.6);-moz-box-shadow:0px 10px 10px rgba(0,0,0,0.6);box-shadow:0px 10px 10px rgba(0,0,0,0.6);color:#222}
.user-menu UL{padding:0;margin:0;list-style-type:none}
.user-menu UL LI{padding:5px 10px}
.user-menu A{color:#222}

#share-buttons img{width:35px;padding:5px;border:0;box-shadow:0;display:inline}
.bp_frame{position:relative;padding:20px 0;left:-45px;width:500px;height:150px;background:white}
#cms_button_bar{height:30px;_border:1px solid black;}
.cms_button_hidden{display:none}
#cms_tree{float:left;width:30%;margin-top:-40px;white-space:nowrap}
#cms_spacer{float:left;width:3%}
#cms_viewer{float:left;width:66%;margin-left:20px}
#cms_container .profile_pic{float:left;margin-right:20px;margin-bottom:20px;}
#cms_container .profile_pic IMG{max-width:100px}
#cms_container .profile_footer{clear:both}
.file-container{list-style-type:none;margin:0;padding:0;overflow:auto}
.file-container li{margin:3px 3px 3px 0;padding:1px;float:left;width:120px;height:130px;text-align:center;border:1px solid #ccc;margin:4px;padding:4px}
.file-container .thumbCont,.file-container .thumbCont img{width:100px;height:100px}
.file-container DIV.buttons{position:absolute;top:5px;left:10px}
.file-container DIV.name{position:absolute;top:104px;left:0px;font-size:0.8em;width:100px;height:20px;overflow:hidden;text-overflow:ellipsis}


@media only screen and (max-width: 767px) {
	.photo-grid .photo-grid-container, .photo-grid-5 .photo-grid-container{
		width:49% !important;
		padding: 0px 10px;
	}
	figure.effect-1002 p{
		width: 100%;
		border-right: 0px solid #fff;
	}
}