  
/* For calendar */
#calendar, #currencyConverter {
    display: none;
    position: absolute;
    padding: 0 4px 4px 0;
}

#calendar TD { color: #000;} 

.caltable {
    border: 1px solid #003580;
    background-color: #fff;
}
.caltable a:link, .caltable a:visited {
    color: #0896ff !important;
}
.caltable a:hover {
    color: #feba02 !important;
    border-color: #feba02 !important;
}
.caltable a:active {
    color: #b30000 !important;
    border-color: #b30000 !important;
}
.caltable td {
    text-align: center;
}
.caltable td a {
    display: block;
    text-decoration: none;
}
.caltable td.calheader a {
    display: inline;
    vertical-align: -.2em;
}
.caltable td.calheader img.calNoPrevMonth {
    background: white url(/static/img/butPrevMonth.png) 0 -72px no-repeat;
    vertical-align: -.2em;
}
.caltable td.calheader img.calNoNextMonth {
    background: white url(/static/img/butNextMonth.png) 0 -72px no-repeat;
}
.caltable td.calheader .calNextMonth img {
    background: white url(/static/img/butNextMonth2.png) 0 0 no-repeat;
}
.caltable td.calheader .calPrevMonth img {
    background: white url(/static/img/butPrevMonth2.png) 0 0 no-repeat;
}
.caltable td.calheader .calNextMonth:hover img, .caltable td.calheader .calPrevMonth:hover img {
    background-position: 0 -24px;
}
.caltable td.calheader .calNextMonth:active img, .caltable td.calheader .calPrevMonth:active img {
    background-position: 0 -48px;
}
.calheader {
    padding: .2em;
    white-space: nowrap;
}
.calheader select {
    margin: 0 .1em;
}
.monthYear {
    background-color: #ffffff;
    color: white;
}
.dayNames td {
    border-bottom: 1px solid #003580;
    background-color: #e6edf6;
}
.days td {
    color: #779bca;
    background-color: #e6edf6;
    padding: .1em;
    border: 1px solid #e6edf6;
}
.days td.weekend {
    background-color: #c5d4e9;
    border-color: #c5d4e9;
}
.days td.past {
    text-decoration: line-through;
}
.days td.today, .days td.future {
    border: none;
    padding: 0;
}
.days td a {
    padding: .1em;
    border: 1px solid #e6edf6;
}
.days td.weekend a {
    border-color: #c5d4e9;
}
.days td.today a {
    background-color: #fff;
}
.days td.selected {
    font-weight: bold;
}
.days td.selected a {
    border-color: #0896ff;
}
.hotelchars.blockdisplay {
    display: block;
}
.blockdisplay {
    display: none;
}
.calbutton img {
    padding: 0;
}



#inout {
    padding: 0 0 1.2em .6em;
    border-top: 1px solid #e6edf6;
}

#inout .avail {
    clear: left; /* voor IE 5.0 Win */
}
#availcheck {
    margin-top: .6em;
}
#homein, #homeout {
    position: relative;
    line-height: 0;
}
#inout h3 {
    padding-left: 0;
}
#homein {
    float: left;
    width: auto;
    padding-right: .6em;
}

#homein h3 {
    z-index: 90;
    background-color: #C5D4E9;
}
