BODY { background-color: #fff; color: #000;}

.heading {color:#fff;background-color:#0e7ec2;}
.subheading {color:#fff;background-color:#0e7ec2;}
.subsection {color: #fff;}
#box_menu {width:550px;background-color:#F5F5F5;}
#var-div {padding-left: 10px; padding-top: 10px }
#request_form input{width: 160px}