BODY { background-color: #fff; color: #111; 
       font-family: Verdana, Arial, Helvetica, sans-serif;
       font-size:10px; font-style: normal; font-weight: normal; font-variant: normal; 
       line-height: normal; text-align: left }

BODY A {color: #004c4c;}
#body-div {width:1000px;
            border: 1px solid grey;border-width: 1px 1px 1px 1px;
            background-color:#fff; text-align:center;
            padding: 5px 5px 10px 5px;margin: 5px 5px 5px 5px}
#var-div { background-color:#fff; text-align:center;
            padding: 0px 0px 5px 0px;margin: 0px 0px 0px 0px; position: relative}

.heading {font-size: 14px; color: #004c4c; background-color: #f3c000;text-align:left;padding:8px;font-weight: bold; }
.subheading {font-size: 12px; color: #004c4c; background-color: #f3c000;text-align:left;padding:3px;font-weight: bold; }
.subsection {color: #fff; text-align:left;margin-left:10px; }

#tab1, #tab2, #tab3 { color:#fff;text-decoration:none;text-align:center;font-weight:bold;}
.htop, .hbottom{display:block;background:#396D7B;}

b.topr, b.bottomr{display:block;background: #fff} /*  round corner bg of current tab */
b.topr b, b.bottomr b{display:block;height: 1px; overflow: hidden; background: #f3c000} /*  round corner fg of current tab */
b.topr_off, b.bottomr_off{display:block;background: #fff} /*  round corner bg of inactive tab */
b.topr_off b, b.bottomr_off b{display:block;height: 1px; overflow: hidden; background: #004c4c} /*  round corner fg of inactive tab */

.tab_off {background:#004c4c;color:#fff}
.tab_current {background:#f3c000;color:#004c4c}

.tabcontent {background:#f3c000;padding:5px;color:#000}
.advoptions {background:#004c4c;padding:5px;border:1px solid #333;color:#fff}

.advoptions A:link    {color: #fff;}
.advoptions A:visited {color: #fff;}
.advoptions A:hover   {color: #fff;}
.advoptions A:active  {color: #fff;}

#searchbarform input {background-color: #004c4c; color: #fff; margin-right: 6px;  font-size: 10px; border:none;}                    

#mid-col-1 A { font-style: normal; text-decoration: underline; font-weight: bold; }
#mid-col-1 A:link, #mid-col-1 A:visited  { color: #004c4c; }  
#mid-col-1 A:hover, #mid-col-1 A:active  { color: #005d5d; }  

#bd1 A:link    , #bd2 A:link    ,#bd3 A:link    , #bd4 A:link    ,#bd5 A:link    , #bd6 A:link    {color: #ddd;}
#bd1 A:visited , #bd2 A:visited ,#bd3 A:visited , #bd4 A:visited ,#bd5 A:visited , #bd6 A:visited {color: #ddd;}
#bd1 A:hover   , #bd2 A:hover   ,#bd3 A:hover   , #bd4 A:hover   ,#bd5 A:hover   , #bd6 A:hover   {color: #fff;}
#bd1 A:active  , #bd2 A:active  ,#bd3 A:active  , #bd4 A:active  ,#bd5 A:active  , #bd6 A:active  {color: #fff;}

#menu-col-1 .light A         { color: #004c4c; text-decoration: none; }  
#menu-col-1 .light A:link    { color: #004c4c; text-decoration: none; }  
#menu-col-1 .light A:visited { color: #004c4c; text-decoration: none; } 
#menu-col-1 .light A:hover   { color: #005d5d; text-decoration: underline; }  
#menu-col-1 .light A:active  { color: #005d5d; text-decoration: underline; } 
 
#menu-col-1 .red A           { color: #f3c000; text-decoration: underline; }  
#menu-col-1 .red A:link      { color: #f3c000; text-decoration: underline; }  
#menu-col-1 .red A:visited   { color: #f3c000; text-decoration: underline; } 
#menu-col-1 .red A:hover     { color: #f3c000; text-decoration: underline; }  
#menu-col-1 .red A:active    { color: #f3c000; text-decoration: underline; } 
