BODY { background-color: #87511B; color: #111;
       font-family: Verdana, Arial, Helvetica, sans-serif;
       font-size:10px; font-style: normal; font-weight: normal; font-variant: normal;
       line-height: normal; text-align: left }

BODY A {color: #003375;}
#body-div {width:1000px;
            border: 1px solid grey;border-width: 1px 1px 1px 1px;
            background-color:#87511B; text-align:center;
            padding: 5px 5px 10px 5px;margin: 5px 5px 5px 5px}
#var-div { background-color:#87511B; text-align:center;
            padding: 0px 0px 5px 0px;margin: 0px 0px 0px 0px; position: relative}
#content-section { background-color:#87511B; }

.heading {font-size: 14px; color: #fff; background-color: #7C4309;text-align:left;padding:8px;font-weight: bold; }
.subheading {font-size: 12px; color: #fff; background-color: #7C4309;text-align:left;padding:3px;font-weight: bold; }
.subsection {color: #fff; text-align:left;margin-left:10px; }

.advoptions A:link    {color: #7B4108;}
.advoptions A:visited {color: #7B4108;}
.advoptions A:hover   {color: #DEE3AD;}
.advoptions A:active  {color: #DEE3AD;}

#mid-col-1 A { font-style: normal; text-decoration: underline; font-weight: bold; }
#mid-col-1 A:link, #mid-col-1 A:visited  { color: #7B4108; }
#mid-col-1 A:hover, #mid-col-1 A:active  { color: #7B4108; text-decoration: underline;}

#bd1 A:link    , #bd2 A:link    ,#bd3 A:link    , #bd4 A:link    ,#bd5 A:link    , #bd6 A:link    {color: #7B4108;}
#bd1 A:visited , #bd2 A:visited ,#bd3 A:visited , #bd4 A:visited ,#bd5 A:visited , #bd6 A:visited {color: #7B4108;}
#bd1 A:hover   , #bd2 A:hover   ,#bd3 A:hover   , #bd4 A:hover   ,#bd5 A:hover   , #bd6 A:hover   {color: #DEE3AD;}
#bd1 A:active  , #bd2 A:active  ,#bd3 A:active  , #bd4 A:active  ,#bd5 A:active  , #bd6 A:active  {color: #DEE3AD;}

#aff_menu .linkoff A           { color: #7C4309; text-decoration: underline; }
#aff_menu .linkoff A:link      { color: #7C4309; text-decoration: underline; }
#aff_menu .linkoff A:visited   { color: #7C4309; text-decoration: underline; }
#aff_menu .linkoff A:hover     { color: #7C4309; text-decoration: underline; }
#aff_menu .linkoff A:active    { color: #7C4309; text-decoration: underline; }

#aff_menu .linkon A         { color: #C0C377; text-decoration: none; }
#aff_menu .linkon A:link    { color: #C0C377; text-decoration: none; }
#aff_menu .linkon A:visited { color: #C0C377; text-decoration: none; }
#aff_menu .linkon A:hover   { color: #C0C377; text-decoration: underline; }
#aff_menu .linkon A:active  { color: #C0C377; text-decoration: underline; }
