.heading {font-size: 14px; color: #fff; background-color: #9C0039;text-align:left;padding:8px;font-weight: bold; }
.subheading {font-size: 12px; color: #fff; background-color: #9C0039;text-align:left;padding:3px;font-weight: bold; }
.subsection {color: #fff; text-align:left;margin-left:10px; }

#tab1, #tab2, #tab3 { color:#eee;text-decoration:none;text-align:center;font-weight:bold;}
.htop, .hbottom{display:block;background:#fff;}

b.topr, b.bottomr{display:block;background: #FFF}
b.topr b, b.bottomr b{display:block;height: 1px; overflow: hidden; background: #C62429}
b.topr_off, b.bottomr_off{display:block;background: #FFF}
b.topr_off b, b.bottomr_off b{display:block;height: 1px; overflow: hidden; background: #9C0039}

.tab_off {background:#9C0039;color:#eee}
.tab_current {background:#C62429;color:#eee}

.tabcontent {background:#C62429;padding:5px;color:#eee}
.advoptions {background:#9C0039;padding:5px;border:1px solid #333;color:#eee}

.advoptions A:link    {color: #ddd;}
.advoptions A:visited {color: #ddd;}
.advoptions A:hover   {color: #fff;}
.advoptions A:active  {color: #fff;}

#mid-col-1 A { font-style: normal; text-decoration: underline; font-weight: bold; }
#mid-col-1 A:link, #mid-col-1 A:visited  { color: #9d0038; }  
#mid-col-1 A:hover, #mid-col-1 A:active  { color: #404040; }  

#bd1 A:link    , #bd2 A:link    ,#bd3 A:link    , #bd4 A:link    ,#bd5 A:link    , #bd6 A:link    {color: #ddd;}
#bd1 A:visited , #bd2 A:visited ,#bd3 A:visited , #bd4 A:visited ,#bd5 A:visited , #bd6 A:visited {color: #ddd;}
#bd1 A:hover   , #bd2 A:hover   ,#bd3 A:hover   , #bd4 A:hover   ,#bd5 A:hover   , #bd6 A:hover   {color: #fff;}
#bd1 A:active  , #bd2 A:active  ,#bd3 A:active  , #bd4 A:active  ,#bd5 A:active  , #bd6 A:active  {color: #fff;}

