    <nav class="navbar navbar-inverse navbar-fixed-top" id="main-nav" role="navigation">
      <div class="navbar-inner">
        <div class="">

          <div class="navbar-header pull-left">
            <div class='margin-top relative nogutter inline-block'></div> <a class="navbar-brand" href="/">Hitabrick</a>
          </div>
      
          <div class="navbar-header pull-right">
            <div class="nav pull-left" style="margin-right: 20px">
              <!-- login/user button/menu -->            
            </div>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav .navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            
          </div>
          <div class="collapse navbar-collapse navbar-right">
            <ul class='nav navbar-nav'>
              <li ><a href='/about-us/'>About us</a></li>
              <li ><a href='/contact/'>Contact</a></li>
              <li ><a data-handler='cms_save' data-site_id='263' data-parent_id='0' title='Add page' id='add_page_0' class='add_node' href='#' onclick="return false;">[Add]</a></li>
            </ul>
            <div class='demo ui-widget' id="site_page_dialog"></div>
          </div><!--/.nav-collapse -->
        </div><!--/.container -->
      </div><!--/.navbar-inner -->
    </nav><!--/.nav -->

