
.icon-spin3:before { content: '\e802'; } /* '' */
.icon-clock:before { content: '\e816'; } /* '' */
.icon-spin6:before { content: '\e88f'; } /* '' */
.icon-crown:before { content: '\e800'; } /* '' */
.icon-heart:before { content: '\e803'; } /* '' */
.icon-heart-empty:before { content: '\e804'; } /* '' */
.icon-star:before { content: '\e805'; } /* '' */
.icon-star-empty:before { content: '\e806'; } /* '' */
.icon-ok:before { content: '\e860'; } /* '' */
.icon-ok-circled:before { content: '\e861'; } /* '' */
.icon-ok-circled2:before { content: '\e862'; } /* '' */
.icon-ok-squared:before { content: '\e863'; } /* '' */
.icon-cancel-circled:before { content: '\e864'; } /* '' */
.icon-home-1:before { content: '\e857'; } /* '' */
.icon-link:before { content: '\e8c8'; } /* '' */
.icon-download-1:before { content: '\e8b7'; } /* '' */
.icon-download-cloud:before { content: '\e8b8'; } /* '' */
.icon-export:before { content: '\e8bd'; } /* '' */
.icon-export-alt:before { content: '\e8c7'; } /* '' */
.icon-comment:before { content: '\e807'; } /* '' */
.icon-clock-3:before { content: '\e881'; } /* '' */
.icon-lightbulb-2:before { content: '\e880'; } /* '' */
.icon-resize-vertical-2:before { content: '\e8a4'; } /* '' */
.icon-resize-horizontal:before { content: '\e8a5'; } /* '' */
.icon-move:before { content: '\e8a6'; } /* '' */
.icon-down-open:before { content: '\e898'; } /* '' */
.icon-left-open:before { content: '\e899'; } /* '' */
.icon-right-open:before { content: '\e89a'; } /* '' */
.icon-up-open:before { content: '\e89b'; } /* '' */
.icon-angle-circled-left:before { content: '\e89c'; } /* '' */
.icon-angle-circled-right:before { content: '\e89d'; } /* '' */
.icon-angle-circled-up:before { content: '\e89e'; } /* '' */
.icon-angle-circled-down:before { content: '\e89f'; } /* '' */
.icon-down:before { content: '\e88d'; } /* '' */
.icon-up:before { content: '\e88e'; } /* '' */
.icon-left-circled-1:before { content: '\e8a0'; } /* '' */
.icon-right-circled:before { content: '\e8a1'; } /* '' */
.icon-up-circled:before { content: '\e8a2'; } /* '' */
.icon-down-circled:before { content: '\e8a3'; } /* '' */
.icon-cw-1:before { content: '\e8a7'; } /* '' */
.icon-ccw-1:before { content: '\e8a8'; } /* '' */
.icon-award-1:before { content: '\e87a'; } /* '' */
.icon-globe:before { content: '\e87f'; } /* '' */
.icon-leaf-3:before { content: '\e87e'; } /* '' */
.icon-circle:before { content: '\e87b'; } /* '' */
.icon-circle-empty:before { content: '\e87c'; } /* '' */
.icon-dot-circled:before { content: '\e87d'; } /* '' */
.icon-chart-bar-1:before { content: '\e85e'; } /* '' */
.icon-credit-card:before { content: '\e878'; } /* '' */
.icon-certificate-1:before { content: '\e879'; } /* '' */
.icon-euro:before { content: '\e85c'; } /* '' */
.icon-pound:before { content: '\e867'; } /* '' */
.icon-dollar:before { content: '\e868'; } /* '' */
.icon-bitcoin:before { content: '\e85d'; } /* '' */
.icon-sort-alt-up:before { content: '\e865'; } /* '' */
.icon-sort-alt-down:before { content: '\e866'; } /* '' */
.icon-sort-name-up:before { content: '\e858'; } /* '' */
.icon-sort-name-down:before { content: '\e859'; } /* '' */
.icon-sort-number-up:before { content: '\e85a'; } /* '' */
.icon-sort-number-down:before { content: '\e85b'; } /* '' */
.icon-spinner:before { content: '\e8a9'; } /* '' */
.icon-medkit:before { content: '\e890'; } /* '' */
.icon-linkedin-squared:before { content: '\e8ce'; } /* '' */
.icon-pagelines:before { content: '\e882'; } /* '' */
.icon-search-1:before { content: '\e884'; } /* '' */
.icon-flashlight:before { content: '\e883'; } /* '' */
.icon-home-2:before { content: '\e869'; } /* '' */
.icon-link-1:before { content: '\e8c9'; } /* '' */
.icon-export-1:before { content: '\e8be'; } /* '' */
.icon-share:before { content: '\e8bf'; } /* '' */
.icon-light-down:before { content: '\e821'; } /* '' */
.icon-light-up:before { content: '\e81f'; } /* '' */
.icon-adjust:before { content: '\e820'; } /* '' */
.icon-left-circled:before { content: '\e825'; } /* '' */
.icon-left:before { content: '\e826'; } /* '' */
.icon-left-bold:before { content: '\e827'; } /* '' */
.icon-right-bold:before { content: '\e8aa'; } /* '' */
.icon-ccw:before { content: '\e891'; } /* '' */
.icon-cw:before { content: '\e892'; } /* '' */
.icon-arrows-ccw:before { content: '\e893'; } /* '' */
.icon-shuffle:before { content: '\e822'; } /* '' */
.icon-trophy:before { content: '\e85f'; } /* '' */
.icon-flash:before { content: '\e824'; } /* '' */
.icon-leaf:before { content: '\e823'; } /* '' */
.icon-air:before { content: '\e894'; } /* '' */
.icon-credit-card-1:before { content: '\e895'; } /* '' */
.icon-rocket:before { content: '\e885'; } /* '' */
.icon-twitter:before { content: '\e828'; } /* '' */
.icon-facebook-squared:before { content: '\e829'; } /* '' */
.icon-gplus:before { content: '\e82a'; } /* '' */
.icon-home-outline:before { content: '\e896'; } /* '' */
.icon-home-3:before { content: '\e897'; } /* '' */
.icon-link-outline:before { content: '\e8cb'; } /* '' */
.icon-link-3:before { content: '\e8cc'; } /* '' */
.icon-thumbs-up:before { content: '\e82b'; } /* '' */
.icon-thumbs-down:before { content: '\e82c'; } /* '' */
.icon-download-outline:before { content: '\e8b9'; } /* '' */
.icon-download-2:before { content: '\e8ba'; } /* '' */
.icon-upload-outline:before { content: '\e8b4'; } /* '' */
.icon-upload-3:before { content: '\e8b5'; } /* '' */
.icon-upload-cloud-outline:before { content: '\e8b3'; } /* '' */
.icon-upload-cloud:before { content: '\e8ac'; } /* '' */
.icon-export-outline:before { content: '\e8c5'; } /* '' */
.icon-export-5:before { content: '\e8c6'; } /* '' */
.icon-spin5:before { content: '\e801'; } /* '' */
.icon-compass-1:before { content: '\e82e'; } /* '' */
.icon-cog-outline:before { content: '\e82f'; } /* '' */
.icon-cog:before { content: '\e830'; } /* '' */
.icon-clock-2:before { content: '\e833'; } /* '' */
.icon-stopwatch-1:before { content: '\e832'; } /* '' */
.icon-lightbulb-1:before { content: '\e831'; } /* '' */
.icon-plug:before { content: '\e834'; } /* '' */
.icon-sun:before { content: '\e835'; } /* '' */
.icon-flash-outline:before { content: '\e886'; } /* '' */
.icon-flash-1:before { content: '\e887'; } /* '' */
.icon-rain:before { content: '\e837'; } /* '' */
.icon-cloud-sun:before { content: '\e838'; } /* '' */
.icon-drizzle:before { content: '\e839'; } /* '' */
.icon-snow:before { content: '\e83a'; } /* '' */
.icon-cloud-flash:before { content: '\e83b'; } /* '' */
.icon-leaf-1:before { content: '\e836'; } /* '' */
.icon-lifebuoy:before { content: '\e888'; } /* '' */
.icon-scissors-outline:before { content: '\e81b'; } /* '' */
.icon-scissors:before { content: '\e81c'; } /* '' */
.icon-sort-alphabet-outline:before { content: '\e817'; } /* '' */
.icon-sort-alphabet:before { content: '\e818'; } /* '' */
.icon-sort-numeric-outline:before { content: '\e819'; } /* '' */
.icon-sort-numeric:before { content: '\e81a'; } /* '' */
.icon-linkedin-circled:before { content: '\e8cf'; } /* '' */
.icon-home:before { content: '\e83c'; } /* '' */
.icon-link-2:before { content: '\e8ca'; } /* '' */
.icon-download-3:before { content: '\e8bb'; } /* '' */
.icon-upload-2:before { content: '\e8b2'; } /* '' */
.icon-download-cloud-1:before { content: '\e8bc'; } /* '' */
.icon-upload-cloud-2:before { content: '\e8b6'; } /* '' */
.icon-box:before { content: '\e83d'; } /* '' */
.icon-share-1:before { content: '\e8c0'; } /* '' */
.icon-block:before { content: '\e845'; } /* '' */
.icon-resize-vertical-1:before { content: '\e83e'; } /* '' */
.icon-steering-wheel:before { content: '\e86a'; } /* '' */
.icon-sun-1:before { content: '\e83f'; } /* '' */
.icon-sun-inv:before { content: '\e840'; } /* '' */
.icon-cloud:before { content: '\e841'; } /* '' */
.icon-rain-1:before { content: '\e842'; } /* '' */
.icon-umbrella:before { content: '\e843'; } /* '' */
.icon-chart-bar:before { content: '\e844'; } /* '' */
.icon-search:before { content: '\e80a'; } /* '' */
.icon-heart-1:before { content: '\e846'; } /* '' */
.icon-user:before { content: '\e847'; } /* '' */
.icon-camera:before { content: '\e848'; } /* '' */
.icon-export-4:before { content: '\e8c4'; } /* '' */
.icon-zoom-in:before { content: '\e808'; } /* '' */
.icon-zoom-out:before { content: '\e809'; } /* '' */
.icon-award:before { content: '\e849'; } /* '' */
.icon-money:before { content: '\e84a'; } /* '' */
.icon-temperature:before { content: '\e80f'; } /* '' */
.icon-compass:before { content: '\e80e'; } /* '' */
.icon-na:before { content: '\e84d'; } /* '' */
.icon-celcius:before { content: '\e84b'; } /* '' */
.icon-fahrenheit:before { content: '\e84c'; } /* '' */
.icon-sun-inv-1:before { content: '\e856'; } /* '' */
.icon-snowflake:before { content: '\e889'; } /* '' */
.icon-user-male:before { content: '\e84e'; } /* '' */
.icon-download:before { content: '\e8ae'; } /* '' */
.icon-upload:before { content: '\e8ad'; } /* '' */
.icon-upload-cloud-1:before { content: '\e8b1'; } /* '' */
.icon-export-2:before { content: '\e8c1'; } /* '' */
.icon-clock-1:before { content: '\e81d'; } /* '' */
.icon-stopwatch:before { content: '\e81e'; } /* '' */
.icon-hourglass:before { content: '\e851'; } /* '' */
.icon-trophy-1:before { content: '\e877'; } /* '' */
.icon-flash-2:before { content: '\e88c'; } /* '' */
.icon-female-1:before { content: '\e84f'; } /* '' */
.icon-male-1:before { content: '\e850'; } /* '' */
.icon-commerical-building:before { content: '\e810'; } /* '' */
.icon-garden:before { content: '\e80b'; } /* '' */
.icon-hospital:before { content: '\e86b'; } /* '' */
.icon-minefield:before { content: '\e80c'; } /* '' */
.icon-tree-1:before { content: '\e88a'; } /* '' */
.icon-tree-2:before { content: '\e88b'; } /* '' */
.icon-icq:before { content: '\e853'; } /* '' */
.icon-jabber:before { content: '\e852'; } /* '' */
.icon-star-1:before { content: '\e875'; } /* '' */
.icon-star-circled:before { content: '\e874'; } /* '' */
.icon-star-empty-1:before { content: '\e876'; } /* '' */
.icon-ok-1:before { content: '\e871'; } /* '' */
.icon-ok-circled-1:before { content: '\e872'; } /* '' */
.icon-ok-circled2-1:before { content: '\e873'; } /* '' */
.icon-help-circled:before { content: '\e855'; } /* '' */
.icon-info-circled:before { content: '\e854'; } /* '' */
.icon-download-alt:before { content: '\e8af'; } /* '' */
.icon-upload-1:before { content: '\e8b0'; } /* '' */
.icon-share-2:before { content: '\e8c2'; } /* '' */
.icon-export-3:before { content: '\e8c3'; } /* '' */
.icon-cog-1:before { content: '\e86d'; } /* '' */
.icon-cogs:before { content: '\e86c'; } /* '' */
.icon-lightbulb:before { content: '\e80d'; } /* '' */
.icon-resize-vertical:before { content: '\e811'; } /* '' */
.icon-leaf-2:before { content: '\e86f'; } /* '' */
.icon-tint:before { content: '\e812'; } /* '' */
.icon-fire:before { content: '\e86e'; } /* '' */
.icon-certificate:before { content: '\e813'; } /* '' */
.icon-smiley-circled:before { content: '\e870'; } /* '' */
.icon-male:before { content: '\e815'; } /* '' */
.icon-female:before { content: '\e814'; } /* '' */
.icon-ok-2:before { content: '\e8ab'; } /* '' */
.icon-link-4:before { content: '\e8cd'; } /* '' */
.icon-feather:before { content: '\e82d'; } /* '' */