            <!-- Add/Edit Form -->
            <div class="modal fade in" id="artist-form-modal">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{'add artist'|translate:'t'}</h4>
                  </div>
                  <div class="modal-body">
                    {{"include": "_artist-form.html"}}
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="close" data-dismiss="modal">{'close'|translate:'c'}</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            
