      {$media = $scope.media}

      <form class="ajax-submit" data-handler="save" data-reload_link="#btnReload">
        <input hidden="1" name="id" type="text" value="{$media.id}">
        <input hidden="1" name="obj_type" type="hidden" value="media">      
                
        {if ($add_to)}
        <input hidden="1" name="parent_type" type="hidden" value="media_collection">
        <input hidden="1" name="parent_id" type="hidden" value="{$add_to}">

        <div class="row form-group">
          <label for="media-name">Upload image</label>
          {"media_collection"|object_uploader:$add_to:"media":["resize" => 1, "cloud" => 1, "handler" => "collection_image_handler"]}
        </div>
        {/if}
        
        <div class="form-group col-sm-6">
          <label for="media-title">Type (*)</label>
          <input type="text" class="form-control" name="name" value="{$media.name}" maxlength="255">
        </div>
        <div class="form-group col-sm-6">
          <label for="media-title">Title</label>
          <input type="text" class="form-control" name="name" value="{$media.name}" maxlength="255">
        </div>
        <div class="form-group col-sm-6">
          <label for="media-technique">Notes</label>
          <input type="text" class="form-control" name="notes" value="{$media.notes}" required>
        </div>
        <input type="submit" class="btn btn-success" value="Save">
            
      </form>
      <div class="gap gap-small"></div>
