{$backend = 1}    
{$id = $scope.obj_id}
{$obj_type = $scope.obj_type}
{$parent_type = $scope.parent_type}
{$parent_id = $scope.parent_id}

{if (isset($smarty.get.add) || $page.action == "add") && !$object}{$add=1}{$action="Create"}{/if} 
{if (isset($smarty.get.edit) || $page.action == "edit") && $object}{$edit=1}{$action="Edit"}{/if}
{$form = $add || $edit}
{$list = ($page.subview == $page.listview) ? 1 : 0}
{$add_to = $scope.add_to}

{$edit_link = 'backend:subview:id:action'|rroute:['subview' => $page.itemview, 'id' => $scope.obj_id, 'action' => 'edit']}
{$list_link = 'backend:subview'|rroute:['subview' => $page.listview]}
{$add_link  = 'backend:subview:action'|rroute:['subview' => $page.itemview, 'action' => 'add']}
{$view_link = 'backend:subview:id'|rroute:['subview' => $page.itemview, 'id' => $scope.obj_id]}
{$base_link = 'backend:subview'|rroute:['subview' => $page.itemview]}

{if ($parent_type && $parent_id)}
  {$tail = "&amp;_pt=`$parent_type`&amp;_pid=`$parent_id`"}
{/if}      

{* Subview: {$page.subview} Listview: {$page.listview} Action: {$page.action} *}
{* Add: {$add} Edit: {$edit} Form: {$form} AddTo: {$add_to} *}

{* &amp;pt={$parent_type}&amp;pid={$parent_id} *}


{$data = $user.data|@json_decode}
{$default_options_json = $smarty.const.POPUP_DEFAULTS}

{if ($data && $data->gallery)}
  {$user_settings = $data->gallery}
  {$user_settings_json = $user_settings|@json_encode}
{/if}
{if (!$user_settings_json)}
  {$user_settings_json = $default_options_json}
  {$user_settings = $user_settings_json|@json_decode} 
{/if}

{$settings_quick = ['dot' => 'Availability', 'gallery' => 'Gallery/Curator', 'artwork' => "Title", 'technique' => 'Technique', 
          'artist' => 'Artist', 'year' => 'Primary Year', 'secondary' => 'Secondary Year',
          'size' => 'Dimensions','series' => 'Number of Editions', 'price' => 'Price', 'price_option' => 'Price Option']}
{$settings_full = $settings_quick}
{$settings_full.description = 'Description'}
           
{$settings_buttons = ['info' => 'Information', 'calendar' => 'Calendar', 'contact' => 'Chat', 'map' => 'Map', 
             'zoom' => 'Zoom', 'share' => 'Share', 'fullscreen' => "Full screen", 'follow' => 'Follow', 'download' => 'Download']}
{$settings_tabs = ['artwork' => 'Artwork', 'artist' => 'Artist', 'exhibition' => 'Exhibition', 'gallery' => 'Gallery']}


<!-- spacer -->
<div class="hidden-sm hidden-md hidden-lg" style="height:48px">
</div>

{block name="buttons"}
{$buttons = 0}
{if ($list_view || $item_view)}

  <ul class="list inline-list">
  {if ($add_to)}
    {$ex_link = 'backend:subview:id:action'|rroute:['subview' => 'exhibition', 'id' => $add_to, 'action' => 'edit']}  
    {$buttons = 1}
    <li><a href="{$ex_link}/media?_pv=1" class="btn btn-danger ajax-loader" data-target="#subview-container"><i class="fa fa-arrow-left"></i>Cancel - Back to exhibition</a></li>  
  {else}
    {if (!$list && !$form)}
      {$buttons = 1}
      <li><a href="{$list_link}?_pv=1{$tail}" class="btn btn-primary ajax-loader" data-target="#subview-container"><i class="fa fa-arrow-left"></i> List</a></li>
    {/if}
    
    {if ($add)}
      {$buttons = 1}
      <li><a href="{$list_link}?_pv=1{$tail}" class="btn btn-danger ajax-loader" data-target="#subview-container"><i class="fa fa-arrow-left"></i>Cancel</a></li>
    {/if}
  
    {if ($edit)}
      {$buttons = 1}
      <li><a href="{$view_link}{if ($obj_type != 'plugin')}?_pv=1{/if}" class="btn btn-primary ajax-loader" {if ($obj_type == 'plugin')}data-breakout=1{/if} data-target="#subview-container"><i class="fa fa-eye"></i> Preview</a></li>
    {/if}
    {if ($list && $obj_type|in_array:['artwork', 'media_collection', 'minisite', 'artist'])} <!--pradeepa-->
      {$buttons = 1}
      <li><a href="{$add_link}?_pv=1" class="btn btn-success ajax-loader" data-target="#subview-container"><i class="fa fa-plus-circle"></i> Create {$what}</a></li>
    {/if}

    {if ($list && $obj_type == 'plugin' && $parent_type && $parent_id)}
      <li><a href="/backend/plugin/add?_pv=1&amp;_pt={$parent_type}&amp;_pid={$parent_id}" class="btn btn-success ajax-loader" data-target="#subview-container"><i class="fa fa-plus-circle"></i> Create Plugin</a></li>    
    {/if}
    
    {if (!$list && $obj_type == 'media_collection')}
      {$buttons = 1}
      <li><a href="/backend/plugin/add?_pv=1&amp;_pt=media_collection&amp;_pid={$id}" class="btn btn-success ajax-loader" data-target="#subview-container"><i class="fa fa-plus-circle"></i> Create Plugin</a></li>
    {/if}
    
    {if ($object && !$form && $auth_edit_backend)}
      {$buttons = 1}
      <li><a href="{$edit_link}?_pv=1" class="btn btn-success ajax-loader" data-target="#subview-container"><i class="fa fa-pencil-square"></i>{'edit'|translate:'c'}</a></li>
    {/if}
    {if ($page.action)}
      {$title = "`$page.action|capitalize` `$what`"}
    {elseif ($add_to)}
      {$title = "Select `$what` to attach to exhibition"}
    {elseif ($scope.title)}
      {$title = $scope.title}
    {else}
      {$title = $plural|capitalize}
    {/if}
    <li>
      <h3 class="inline" style="position:relative;top:10px;left:10px">{$title}</h3>
    </li>
    
    
  {/if}
  </ul>
{/if}
{/block}

{if ($buttons)}
<div class="gap gap-small border-bottom-light"></div>
{/if}

{block name="main"}
{/block}

{block name="table"}
{/block}

<script>
  if(typeof g_section == "undefined") {
    var g_section = '{$scope.section}';
    console.log("Weird, no g_section in base... val=" + g_section);
  } else {
    g_section = '{$scope.section}';
    console.log("\n\n\n backend-base: ok, g_ready_scripts is defined... val=" + g_section);
    $(".navbar-nav li").removeClass('active');    
    $("#nav_section_" + g_section).addClass('active');    
  }
    
</script>