{$what = 'exhibition'}
{$plural = 'exhibitions'}
{{"extend": "_gallery-backend-list-base.html"}}

{block name=main}              
{/block}

{block name="fields"}
  <th data-field="state" data-checkbox="true">Check</th>
  <th data-field="actions" data-formatter="bstCollectionActionFormatter">Actions</th>
  <!--th data-field="id" data-sortable="true" data-formatter="bstIDFormatter">ID</th-->
  <th data-field="title_image" data-formatter="bstTitleImageFormatter">Image</th>
  <th data-field="title" data-sortable="true" data-formatter="bstTitleFormatter">Title</th>
  <th data-field="artist_ids" data-sortable="true" data-formatter="bstArtistsFormatter">Artist</th>
  <th data-field="created" data-sortable="true" data-formatter="bstDateFormatter">Created</th>
  <th data-field="subtype" data-sortable="true" data-formatter="bstCollectionSubtypeFormatter">Type</th>
  <th data-field="start_date" data-sortable="true" data-formatter="bstStartDateFormatter">Start</th>
  <th data-field="end_date" data-sortable="true" data-formatter="bstStartDateFormatter">End</th>
  <th data-field="location" data-sortable="true">Location</th>
{/block}

{block name="script"}
{/block}
