    
    
      <h2>Edit Exhibition</h2>
      
      {if ($scope.auth_edit)}
      <a class="btn btn-primary popup-iframe" inline_comment="lightbox" data-effect="mfp-fade" href="https://vimeo.com/159749087"><i class='fa fa-play-circle margin-right'></i>Editing Exhibitions</a>
      {/if}
      {$collection = $scope.collection}
      <p>
      Add information to the collection such as title and description. 
      </p>

      <form class="ajax-submit" data-handler="save-collection" data-reload_link="#btnReload">
        <input hidden="1" name="id" type="hidden" value="{$collection.id}">
        <input hidden="1" name="obj_id" type="hidden" value="{$collection.id}">
        <input hidden="1" name="obj_type" type="hidden" value="media_collection">      
        <input hidden="1" name="type" type="hidden" value="{$collection.type}">
        <input hidden="1" name="location_id" type="hidden" value="{$collection.location_id}">
        <input hidden="1" name="event_id" type="hidden" value="{$collection.event_id}">
        <input hidden="1" name="address_formatted" type="hidden" value="{$collection.address_formatted}">

        <input name="address_formatted_foo" type="hidden" class="form-control" value="{$collection.address_formatted}">
        
        <div class="form-group">
          <label for="media-name">Title Image</label>
          <a data-toggle="tooltip" title="Select one title image to represent the front page of your exhibition. This doesn't need to be an artwork"> <i class="fa fa-info-circle"></i></a>
          {$scope.obj_type|object_uploader:$scope.obj_id:"title_image"}
          <!--img src="{$collection|collection_photo}"-->
          <div class="gap gap-small"></div>
        </div>
        
        <div class="form-group">
          <label for="media-name">Title *</label>
          <a data-toggle="tooltip" title="This is title that will appear when the exhibition is explored, shared or followed"> <i class="fa fa-info-circle"></i></a>
          <input type="text" class="form-control" name="title" value="{$collection.title}" maxlength="255">
        </div>

        <div class="form-group">
          <label for="comment">Description of collection</label>
          <a data-toggle="tooltip" title="This is the description of your exhibition that will appear when it is embedded, shared or followed"> <i class="fa fa-info-circle"></i></a>
          <textarea class="summernote form-control special" data-height="200" name="description">{$collection.description}</textarea>
        </div>
        
        {if ($collection.type == $smarty.const.MEDIA_COLLECTION_TYPE_EXHIBITION)}

        <h4>Exhibition dates and address
          <a data-toggle="tooltip" title="Optionally add an address and dates if this is a physical exhibition."> <i class="fa fa-info-circle"></i></a>
        </h4>
        {$location = $collection.location}
        {$address = $location}
        {{"include": "_address-form-new.html"}}
        
        <div class="row input-daterange">
          <div class="col-sm-6 relative ">
            <label for="page-active">Start Date</label>
            <div class="input-group">
              <input type="text" value="{$collection.start_date}" class="form-control" name="start_date" placeholder="Start Date">
              <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
          </div>
          <div class="col-sm-6 relative">
            <label for="page-show_menu">End Date</label>
            <div class="input-group">
              <input type="text" value="{$collection.end_date}" class="form-control" name="end_date" placeholder="End Date">
              <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
          </div>
        </div>

        <div class="gap gap-small"></div>           
        {$event = $collection.event}
        <h4>Associated Event
          <a data-toggle="tooltip" title="If there is an opening, book signing, performance, or other event connected to the exhibition, add it here so collectors can add it to their diaries."> <i class="fa fa-info-circle"></i></a>
        </h4>
        
        <div class="row">
          <div class="form-group col-sm-6">
            <label>Title</label>
            <input name="event_title" class="form-control" value="{$event.title}" type="text" placeholder="Opening, Book Signing" maxlength="128"/>
          </div>
          <div class="form-group col-sm-6">
            <label>Date</label>
            <div class="input-group">
              <input type="text" value="{$event.start_time|date_format:'d-m-Y'}" class="form-control datepicker" name="event_date" placeholder="Event Date">
              <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
            <!--div class="help-block with-errors">Whole Number</div-->                          
          </div>
        </div>

        <div class="row">

          <div class="form-group col-sm-4">
            <label>Start Time</label>
            <div class="input-group">
              <input type="text" name="event_start_time" class="form-control input-small timepicker" value="{$event.start_time|date_format:'H:i'}" data-time-format="H:i" data-step="15">
              <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
            </div>
          </div>

          <div class="form-group col-sm-4">
            <label>End Time</label>
            <div class="input-group">
              <input type="text" name="event_end_time" class="form-control input-small timepicker" value="{$event.end_time|date_format:'H:i'}" data-time-format="H:i" data-step="15">
              <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
            </div>
          </div>

          <div class="form-group col-sm-4">
            <label>Timezone</label>
            
            <select name="timezone" id="timezone" data-value="{$event.timezone|default:$user.timezone}" 
               class="form-control auto-select" autofocus="autofocus" autocorrect="off" autocomplete="off">
              <option value="">Select a timezone...</option>
              {{"include": "_timezones.html"}}
            </select>
          </div>
          
        </div>
        
        {/if}
        <br>
        <input type="submit" class="btn btn-success" value="Save">
            
      </form>
      <div class="gap gap-small"></div>

