                    
                    
                    {$id = $scope.obj_id}
                    {if ($id)}
                      <div class="container">
                      {{"include": "_gallery-artwork-detail.html"}}
                      </div>
                    {else}
                      
                      {$items = $scope.items}
                      {$scope.obj_type = 'artwork'}
                      {{"include": "_gallery-artwork-items.html"}}
                      
                    {/if}

