
  {$gallery_settings_json = $collection.settings|default:$user_settings_json}
  {$gallery_settings = $gallery_settings_json|@json_decode}
      <div style="position:relative;top:10px;left:10px">
        <h3>Visibility settings</h3>
        
        <button id="gbe_use_default_settings" class="btn btn-primary">Use default settings</button>
        
        {$settings_link = 'backend:subview'|rroute:['subview' => 'settings']}  
        &nbsp;(You can set "default settings" <a href="{$settings_link}?_pv=1" class="ajax-loader" data-target="#subview-container">here</a>)
      </div>
      
      <div class="gap gap-small"></div>

      
      {$settings = $gallery_settings}
      {{"include": "_gallery-backend-settings-buttons.html"}}   
      
      <form class="ajax-submit" data-handler="save-collection">
        <input hidden="1" name="id" type="hidden" value="{$collection.id}">
        <input hidden="1" name="obj_id" type="hidden" value="{$collection.id}">
        <input hidden="1" name="obj_type" type="hidden" value="media_collection">      
        <input hidden="1" name="user_id" type="hidden" value="{$user.id}">
        <input hidden="1" name="artist_id" type="hidden" value="{$artist_id}">
        <input hidden="1" name="gallery_id" type="hidden" value="{$scope.gallery_id}">

        <input type="hidden" class="form-control" name="settings" id="gallery_options" value='{$gallery_settings_json}'>
        
        <div class="row">
          <div class="form-group col-xs-12">
            <input type="submit" id="submit" class="btn btn-success" value="Save">
          </div>
        </div>
      
      </form>      

      <input type="hidden" id="gbe_default_settings" value='{$user_settings_json}'>
      
      <input type="hidden" class="form-control" name="quick_info" id="quick_info" value='{$quick_info|json_encode}'>     
      <input type="hidden" class="form-control" name="full_info" id="full_info" value='{$full_info|json_encode}'>     
      <input type="hidden" class="form-control" name="popup_buttons" id="popup_buttons" value='{$popup_buttons|json_encode}'>     
      <input type="hidden" class="form-control" name="popup_tabs" id="popup_tabs" value='{$popup_tabs|json_encode}'>     
      