
      {$artwork = $scope.artwork}

      <form class="ajax-submit" data-handler="save-artwork" data-success_handler="gbe_artwork_handler">
        <input hidden="1" name="id" type="hidden" value="{$artwork.id}">
        <input hidden="1" name="obj_id" type="hidden" value="{$artwork.id}">
        <input hidden="1" name="obj_type" type="hidden" value="artwork">      
        <input hidden="1" name="next_tab" type="hidden" value="media">      

        <div class="row">
          <div class="form-group col-sm-6">
            <label for="artwork-artwork_type">Category</label>
            {"type"|object_select:"artwork_type":["class" => "form-control", "value" => $artwork.type]}
          </div>
        </div>
                    
        <div class="row">        
          <div class="form-group col-sm-3 col-xs-6">
            <label for="artwork-primary_year">Primary Year</label>
            <input type="text" class="form-control" name="primary_year" value="{$artwork.primary_year}" maxlength="4">
          </div>
  
          {$year_types = ['', 'Created', 'Circa', 'Painted', 'Printed', 'Photographed', 'Negative', 'Filmed', 'Sculpted', 'Published', '1st Edition', 'Started']}
          <div class="form-group col-sm-3 col-xs-6">
            <label for="artwork-primary_year_type">Description of Year</label>
            <select class="form-control auto-select" id="artwork-primary_year_type" name="primary_year_type" data-default="Created" data-value="{$artwork.primary_year_type|default:'Created'}">
              {foreach from=$year_types item=type}
                <option value="{$type}">{$type}</option>
              {/foreach}                                            
            </select>
          </div>
          
          {$year_types = ['', 'Printed', 'Cast', 'Restored', 'Current Edition', 'Finished']}
          <div class="form-group col-sm-3 col-xs-6">
            <label for="artwork-secondary_year">Secondary Year</label>
            <input type="text" class="form-control" name="secondary_year" value="{$artwork.secondary_year}" maxlength="4">
          </div>
  
          <div class="form-group col-sm-3 col-xs-6">
            <label for="artwork-secondary_year_type">Description of Year</label>
            <select class="form-control auto-select" id="artwork-secondary_year_type" name="secondary_year_type"  data-default="" data-value="{$artwork.secondary_year_type|default:''}">
              {foreach from=$year_types item=type}
                <option value="{$type}">{$type}</option>
              {/foreach}                                            
            </select>
          </div>
        </div>
        
        {* Below are category (type) dependend fields *}     
        <div class="row type-10 type-11 type-20 type-21 type-22 type-30 type-40">        
          <div class="form-group col-sm-2 col-xs-6">
            <label for="artwork-height">Height</label>
            <input type="text" class="form-control" name="height" value="{$artwork.height}" maxlength="4">
          </div>
          <div class="form-group col-sm-2 col-xs-6">
            <label for="artwork-width">Width</label>
            <input type="text" class="form-control" name="width" value="{$artwork.width}" maxlength="4">
          </div>
          <div class="form-group col-sm-2 col-xs-6 type-30 type-40">
            <label for="artwork-depth">Depth</label>
            <input type="text" class="form-control" name="depth" value="{$artwork.depth}" maxlength="4">
          </div>
          <div class="form-group col-sm-2 col-xs-6">
            <label for="artwork-unit">Unit</label>
            <select class="form-control auto-select" id="artwork-unit" name="unit" data-default="cm" data-value="{$artwork.unit|default:'cm'}">
              {$units = ['', 'cm', 'meter', 'inches', 'feet']}
              {foreach from=$units item=unit}
                <option value="{$unit}">{$unit}</option>
              {/foreach}                                            
            </select>
          </div>
        </div>
        
        {$yes_no = [0 => "", -1 => "No", 1 => "Yes"]}
        <div class="row type-10 type-11 type-20 type-21 type-22">
          <div class="form-group col-sm-4 col-xs-6">
            <label for="media-frame">Frame</label>
            {$yes_no = [0 => "", -1 => "Unframed", 1 => "Framed"]}
            {html_options name="frame" class="form-control" options=$yes_no selected=$artwork.frame}                                            
          </div>
          <div class="form-group col-sm-4 col-xs-6">
            <label for="media-passepartout">Passe-Partout</label>
            {$yes_no = [0 => "", -1 => "No Passe-partout", 1 => "Passe-partout"]}
            {html_options name="passepartout" class="form-control" options=$yes_no selected=$artwork.passepartout}                                            
          </div>          
        </div>          
        
        
        {* film/video *}
        <div class="row type-50">
          <div class="form-group col-sm-4 col-xs-6">
            <label for="artwork-video_time">Time</label>
            <input type="text" class="form-control" name="video_time" value="{$artwork.video_time}" maxlength="128">
          </div>  
          <div class="form-group col-sm-4 col-xs-6">
            <label for="artwork-video_producer">Producer</label>
            <input type="text" class="form-control" name="video_producer" value="{$artwork.video_producer}" maxlength="128">
          </div>  
          <div class="form-group col-sm-4 col-xs-6">
            <label for="artwork-video_narrator">Narrator</label>
            <input type="text" class="form-control" name="video_narrator" value="{$artwork.video_narrator}" maxlength="128">
          </div>  
          <div class="form-group col-sm-4 col-xs-6">
            <label for="artwork-video_sound">Sound</label>
            <input type="text" class="form-control" name="video_sound" value="{$artwork.video_sound}" maxlength="128">
          </div>  
          <div class="form-group col-sm-4 col-xs-6">
            <label for="artwork-video_editor">Editor</label>
            <input type="text" class="form-control" name="video_editor" value="{$artwork.video_editor}" maxlength="128">
          </div>  
          <div class="form-group col-sm-4 col-xs-6">
            <label for="artwork-video_cast">Cast</label>
            <input type="text" class="form-control" name="video_cast" value="{$artwork.video_cast}" maxlength="128">
          </div>  
        </div>
        
        <div class="row type-10 type-11 type-30 type-40 type-50">
          <div class="form-group col-sm-4 col-xs-6">
            <label for="artwork-editions">Editions</label>
             <a data-toggle="tooltip" title="Set the number in series to 1 if there in only one original, and to 0 if there is no limit on prints/ copies"> <i class="fa fa-info-circle"></i></a>
            <input type="text" class="form-control" name="editions" value="{$artwork.editions|default:'1'}" maxlength="4">
          </div>
  
          <div class="form-group col-sm-4 col-xs-6">
            <label for="artwork-count">Edition No.</label>
            <input type="text" class="form-control" name="edition" value="{$artwork.edition}" maxlength="4">
          </div>
        </div>
        
        <div class="form-group col-sm-4 col-xs-6">
          <label for="artwork-price">Currency</label>
          {"currency"|object_select:"currency":["class" => "form-control", "value" => $artwork.currency, "search" => ["accepted" => 1]]}                
        </div>
        <div class="form-group col-sm-4 col-xs-6">
          <label for="artwork-price">Price</label>
          {* <a data-toggle="tooltip" title="If you want to have the price on inquiry, set the price to zero and 'Available for sale' to 'Yes'. Price will be hidden if 'Available for sale' is set to 'Hide'"> <i class="fa fa-info-circle"></i></a> *}
          <input type="text" class="form-control" name="price" value="{$artwork.price}" maxlength="10">
        </div>
        
        <div class="form-group col-sm-4">
          <label for="artwork-price_option">Price Options</label>
          <a data-toggle="tooltip" title="'No' will show red dot, 'Yes' shows green dot, 'Hide' hides the dot and the price."> <i class="fa fa-info-circle"></i></a>
          {$options = [1 => "Display Price", 0 => "Hide Price", -1 => "Price on inquiry"]}
          {html_options name="price_option" class="form-control" options=$options selected=$artwork.price_option}                                            
          <!--input name="available" value="1" class="form-control" type="checkbox" checked="{if ($artwork.available)}checked{/if}"-->
        </div>
        
        <div class="row">
          <div class="form-group col-sm-12">
            <label for="description">Description of artwork</label>
            <textarea class="summernote form-control special" data-height="50" name="description">{$artwork.description}</textarea>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-12">
            <label for="comment">Comments</label>
            <textarea class="summernote form-control special" data-height="50" name="comment">{$artwork.comment}</textarea>
          </div>
        </div>
        <input type="submit" class="btn btn-success" value="Save">
            
      </form>
      <div class="gap gap-small"></div>

      <script>
      var type = '{$artwork.type}';
      console.log("artwork type = " + type);
      {literal}
      $(function() {
        console.log( "ready!" );
        awb_set_type(type);
      });
      $(document).on("change",'#type',function() {
        var val = $(this).val();
        awb_set_type(val);
      });
      function awb_set_type(val) {
        $(".type-10, type-11, .type-20, .type-21, type-22, .type-30, .type-40, .type-50, .type-60").hide();
        console.log("showing type " + val);
        if(val) {
          $(".type-" + val).show();  
        }
      }
      </script>
      {/literal}
      