{$list_view = 1}
{{"extend": "_gallery-backend-base.html"}}

{block name="table"}
  
  <div id="toolbar" class="">
    {if (0 && !$scope.add_to)}
    <a class="btn btn-primary" href="/backend/artworks/add">
      <i class="fa fa-plus"></i> Add
    </a>
    {/if}
    <button id="remove" class="btn btn-danger collapse">
      <i class="glyphicon glyphicon-remove"></i> Delete
    </button>
    <div class="dropdown inline-block">
      <button id="selection" class="btn btn-success dropdown-toggle collapse" type="button" data-toggle="dropdown">
        Selected (<span id="sel_count">0</span>) <i class="fa fa-caret-down"></i>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#" id="sel_add" data-target_id="{$add_to}">Add to {if ($add_to)}exhibition{else}...{/if}</a></li>
        <li><a href="#" id="sel_show">Show</a></li>
        <li><a href="#" id="sel_clear">Clear</a></li>
        <li><a href="#" id="sel_del">Delete</a></li> <!--pradeepa-->
      </ul>            
    </div>
  </div>

  
  <table class="table" id="table"
     data-toggle="table" 
     data-url="{$scope.list_url}" 
     data-cache="false" 
     data-pagination="true"
     data-striped="true"
     data-side-pagination="server"             
     data-page-list="[5, 10, 20, 50, 100, 200]"
     data-page-size="10"
     
     data-toolbar="#toolbar"
     data-search="true"
     data-show-refresh="true"
     data-show-toggle="true"
     data-show-columns="true"
     data-show-export="true"
     data-detail-view="false"
     data-detail-formatter="detailFormatter"
     data-show-pagination-switch="true">
     
    <thead>     
      <tr>
      {block name="fields"}{/block}       
      </tr>
    </thead>

  </table>
  
  <script>
  
  function bstIDFormatter(value, row, index) {
    if(!value) return '';
    var print_val = value;
    var base_link = '{$base_link}';
    var link_class = pv ? 'ajax-loader' : '';
    var pv = base_link.indexOf('/plugin') > -1 ? 0 : 1; // no partial view for view plugin
    return '<a href="{$base_link}/'+ value + '?_pv='+ pv +'" class="' + link_class + '" data-target="#subview-container">' + print_val + '</a>';
  }

  function bstUrlFormatter(value, row, index) {
    if(!value) return '';
    var print_val = value;
    var base_link = '{$base_link}';
    var link_class = 'ajax-loader';
    return '<a href="{$base_link}/'+ row.id + '?_pv=1" class="' + link_class + '" data-target="#subview-container">' + print_val + '</a>';
  }

  function bstDomainFormatter(value, row, index) {
    if(!value) return '';
    var print_val = value;
    var base_link = '{$base_link}';
    var link_class = 'ajax-loader';
    return '<a href="{$base_link}/'+ row.id + '?_pv=1&domain=1" class="' + link_class + '" data-target="#subview-container">' + print_val + '</a>';
  }

  function bstMediaFormatter(value, row, index) {
    if(!value) return '';
    var thumb = row.path + 'tiny/' + row.src;
    var print_val = "<img class='table-thumb' src='" + thumb + "'/>";
    return '<a href="{$base_link}/'+ value + '?_pv=1" class="ajax-loader" data-target="#subview-container">' + print_val + '</a>';
  }

  function bstVaultIDFormatter(value, row, index) {
    if(!value) return '';
    var print_val = value;
    var base_link = row.obj_type == 'media' ? '/backend/medium' : '{$base_link}';
    return '<a href="' + base_link + '/' + value + '?_pv=1" class="ajax-loader" data-target="#subview-container">' + print_val + '</a>';
  }

  function bstTitleFormatter(value, row, index) {
    var print_val = value ? value : "[Untitled]";
    var base_link = row.obj_type == 'media' ? '/backend/medium' : '{$base_link}';
    var pv = base_link.indexOf('/plugin') > -1 ? 0 : 1; // no partial view for view plugin
    var link_class = pv ? 'ajax-loader' : '';
    console.log("base_link = " + base_link + " pv=" + pv);
    return '<a href="' + base_link + '/' + row.id + '?_pv=' + pv + '" class="' + link_class + '" data-target="#subview-container">' + print_val + '</a>';
  }

  function bstPriceOptionFormatter(value, row, index) { 
    
    if(value==0){
      return "Hide Price";
    }else if(value==1){
      return "Show Price";
    }else{
      return "Price on enquiry";
    }  
  }  //pradeepa

  function bstActionFormatter(value, row, index) {
    var base_link = row.obj_type == 'media' ? '/backend/medium' : '{$base_link}';
    var pv = base_link.indexOf('/plugin') > -1 ? 0 : 1; // no partial view for view plugin
    var link_class = pv ? 'ajax-loader' : '';
    console.log("base_link = " + base_link + " pv=" + pv);
    var view_button = '<a href="' + base_link + '/' + row.id + '?_pv=' + pv + '" class=" ' + link_class + '" data-target="#subview-container"><i class="fa fa-eye"></i></a>';
    var edit_button = '<a href="' + base_link + '/' + row.id + '/edit?_pv=' + pv + '" class="text-success ' + link_class + '" data-target="#subview-container"><i class="fa fa-pencil-square"></i></a>';
    return view_button + ' ' + edit_button;
  }

  function bstCollectionActionFormatter(value, row, index) {
    var base_link = row.obj_type == 'media' ? '/backend/medium' : '{$base_link}';
    var pv = base_link.indexOf('/plugin') > -1 ? 0 : 1; // no partial view for view plugin
    var link_class = pv ? 'ajax-loader' : '';
    var buttons = bstActionFormatter(value, row, index);
    var plugin_button = '<a href="/backend/plugins?_pt=media_collection&amp;_pid=' + row.id + '&amp;_pv=' + pv + '" class=" ' + link_class + '" data-target="#subview-container"><i class="fa fa-link"></i></a>';    
    return buttons + ' ' + plugin_button;    
  }
  
  function bstVaultTypeFormatter(value, row, index) {
    if(row.obj_type == 'media') {
      return row.type;
    } else {
      return 'Folder'; 
    }
  }
  
  function bstVaultImageFormatter(value, row, index) {
    //if(!value) return '';
    if(row.obj_type == 'media') {
      value = row.id;
      var thumb = row.path + 'tiny/' + row.src;
      var print_val = "<img class='table-thumb' src='" + thumb + "'/>";
      return '<a href="/backend/media/'+ value + '?_pv=1" class="ajax-loader" data-target="#subview-container">' + print_val + '</a>';
    } else {
      var print_val = '<i class="fa fa-folder"></i>'; 
      return '<a href="{$base_link}/'+ row.id + '?_pv=1" class="ajax-loader" data-target="#subview-container">' + print_val + '</a>';    
    }
  }

  function bstTitleImageFormatter(value, row, index) {
    return bstMediaJsonFormatter(value, row, index, 'title_image');
  }

  function bstUserPhotoFormatter(value, row, index) {
    return bstMediaJsonFormatter(value, row, index, 'photo');
  }
  
    
  function bstMediaJsonFormatter(value, row, index, field) {
    if(!value) return '';
    var json_field = field + '_json';
    var json = row[json_field];
    //console.log("field=" + field + " json=" + json_field + " json=" + json);
    
    if(!json) return bstIDFormatter(value, row, index);
    var obj = jQuery.parseJSON(json);
    
    if(!obj || !obj.length) return bstIDFormatter(value, row, index);
    var first = obj[0];
    //console.log("first = ", first);
    
    var filename = first.filename;
    //console.log("filename = " + filename);
    if(!filename) return bstIDFormatter(value, row, index);

    var base_link = '{$base_link}';
    var pv = base_link.indexOf('/plugin') > -1 ? 0 : 1; // no partial view for view plugin
    var link_class = pv ? 'ajax-loader' : '';
    console.log("base_link = " + base_link + " pv=" + pv);
    
    var thumb = filename.replace('/square', '/tiny');
    var print_val = "<img class='table-thumb' src='" + thumb + "'/>";
    return '<a href="{$base_link}/'+ row.id + '?_pv=' + pv + '" class="' +link_class + '" data-target="#subview-container">' + print_val + '</a>';
  }

  function bstMediaContextFormatter(value, row, index) {
    if(!value) return '';
    var parent_type = row.parent_type;
    var parent_id = row.parent_id;
    if(!parent_id) return value;
    switch(parent_type) {
      case 'artwork':
        return '<a href="/backend/artwork/'+ row.parent_id + '?_pv=1" class="ajax-loader" data-target="#subview-container">' + 'Artwork' + '</a>';
      break;
      case 'media_collection':
        return '<a href="/backend/exhibition/'+ row.parent_id + '?_pv=1" class="ajax-loader" data-target="#subview-container">' + 'Exhibition' + '</a>';
      break;
      case 'user':
        return '<a href="/backend/networks/'+ row.parent_id + '?_pv=1&amp" class="ajax-loader" data-target="#subview-container">' + 'profile' + '</a>';
      break;
      case 'user_profile':
        return '<a href="/backend/profile/'+ row.parent_id + '?_pv=1&amp;profile_id=1" class="ajax-loader" data-target="#subview-container">' + 'Profile' + '</a>';
      break;
      case 'gallery':
        return '<a href="/backend/vault/'+ row.parent_id + '?_pv=1&amp" class="ajax-loader" data-target="#subview-container">' + 'Vault' + '</a>';
      break;
      default:
        return value;
        break;
    }
  }

  
  var obj_type = '{$scope.obj_type}';
  
  var add_what = obj_type == 'artwork' ? 'add_art' : 'add_media';
  console.log("Add = " + add_what + " sub=" + obj_type);
  
  if({$add_to}) {
    console.log("Add-to, reseting selection");
    g_selections = []; // reset if we're adding
  }

  var selections = [];
  
    
  </script>

{/block}
