{$what = 'vault'}
{$plural = 'vault'}

{{"extend": "_gallery-backend-list-base.html"}}

{block name=main}              
{/block}

{block name="fields"}
  <th data-field="state" data-checkbox="true">Check</th>
  <!--th data-field="id" data-sortable="true" data-formatter="bstVaultIDFormatter">ID</th-->
  <th data-field="title_image" data-formatter="bstVaultImageFormatter">Image</th>
  <th data-field="title" data-sortable="true" data-formatter="bstTitleFormatter">Title</th>
  <th data-field="created" data-sortable="true" data-formatter="bstDateFormatter">Created</th>
  <th data-field="type" data-sortable="true" data-formatter="bstVaultTypeFormatter">Type</th>
  <th data-field="filename" data-sortable="true">File</th>
  <th data-field="user_id" data-sortable="true" data-formatter="bstArtistFormatter">Owner</th>
{/block}

{block name="script"}
{/block}
