  <h4 class="italic">{$event.title}, {$event.start_time|date} {$event.start_time|date_format:"H:i"} - {$event.end_time|date_format:"H:i"} 
    &nbsp;
  
    <span class="addtocalendar atc-style-blue">
      <a class="atcb-link" tabindex="1">
        <i class="fa fa-calendar"></i>
      </a>
      <var class="atc_event">
        <var class="atc_date_start">{$event.start_time}</var>
        <var class="atc_date_end">{$event.end_time}</var>
        <var class="atc_timezone">{$event.timezone|default:'Europe/London'}</var>
        <var class="atc_title">{$event.title|default:"Untitled Event"}</var>
        <var class="atc_description">{$event.description}</var>
        <var class="atc_location">{$event.start_address}</var>
        <var class="atc_organizer">{$scope.curator.display_name}</var>
        <var class="atc_organizer_email">{$scope.curator.email_address}</var>
      </var>
    </span>       
  </h4>
