    
                      {$projects = $scope.projects}
                      {$artist = $scope.artist}
                      {$artist_id = $scope.artist_id}
                      
                      {{"include": "_user-profile-artist.html"}}
                      
                      Yo Dude - Not in use
                      <div class="gallery-artist-detail profileinfo">
                        <article class="row mt40">
                          <section class="col-xs-8 mr20 right">
                            <ul>
                            {foreach from=$projects item=collection}XXX
                            {{"include": "_gallery-collections-item.html"}}XXX
                            {/foreach}XXX YYY
                            </ul>
                          </section>
                          <aside class="col-xs-3 left">
                            {if ($artist_id)}XXX
                            <h4>{$artist.display_name}XXX</h4>
                            {$artist_link = $smarty.const.PAGE_GALLERY|link:"user":$smarty.const.USER_ROLE_ARTIST}XXX
                            {$profile_link = $smarty.const.PAGE_PROFILE|link}XXX
                            <img class="img-responsive" src="{$artist_id|userphoto}">XXX
                            <div class="gap gap-small"></div>XXX
                            <h5>About {$artist.display_name}XXX</h5>XXX
                            <div class="gallery-bio mt10 mb20">{$artist.description}XXX</div>XXX
                            <a href="{$profile_link}{$artist_id}">View Profile of {$artist.display_name}XXX</a><br>XXX
                            {/if}
                          </aside>
                        </article>
                        <article class="row mt40">                        
                        <h3>Exhibitions featuring {$artist.display_name}XXX</h3>XXX
                        <div class="mb20">XXX</div>
                        <h3>Projects by {$artist.display_name}XXX</h3>
                        <div class="mb20">XXX</div>
                        </article>                        
                      </div>
                      
