      {$lat = $loc.location_lat}
      {$lng = $loc.location_long}
      {if ($loc.address_city || $loc.address_country)}<h3>{if ($loc.address_city)}{$loc.address_city}, {/if}{$loc.address_country|get:countries:name}</h3>{/if}
      {if ($loc.address_street)}<h4 class="italic">{$loc.address_street} {$loc.address_number|hide_false}      </h4>{/if}
      {if ($lat && $lng)}
        <br>
        <div id="mapCanvas" class="" style="width: 100%; height: 250px" data-lat="{$lat}" data-lng="{$lng}" data-title="{$loc.name}" data-address="{$loc.address_formatted}"></div>
        <script>
          $(function() {
            gmap_init("mapCanvas");
          });
        </script>
      {/if}
        
      
