{{"extend": "_gallery-detail-base.html"}}
{$plugin = $scope.plugin}

{block name=image}
  <script>
  {$scope.preview}
  </script>
  {* <img src="{$collection_id|collection_photo:'big'}" class=""><br> *}
{/block}

{block name=aside}  
  {$collection = $scope.collection}
  <h2>{$collection.title}</h2>
  {if ($collection.start_date && $collection.end_date)}
    {{"include": "_gallery-collection-date"}}
  {/if}
  
  {if ($collection.event)}
    {$event = $collection.event}
    {{"include": "_gallery-collection-event.html"}}
  {/if}
  
  {$profile_link = $smarty.const.PAGE_PROFILE|link}
  
  <br>
  
  
  {if ($collection_type == $smarty.const.MEDIA_COLLECTION_TYPE_PROJECT)}
    {$profile = $artist}
    {{"include": "_gallery-artist-information"}}

  {else if (($collection_type == $smarty.const.MEDIA_COLLECTION_TYPE_EXHIBITION))}
    {$artist_ids = $collection.artist_ids|@json_decode}
    {if (!$artist_ids)} 
      {$artist_ids = [$collection.artist_id]}
    {/if}
    {if ($artist_ids|@count > 0)}
      {if ($artist_ids|@count == 1)}
      <h2>Artist:</h2>
      {else}
      <h2>Artists:</h2>
      {/if}
      
      {foreach from=$artist_ids item=artist_id}      
        {$profile = $artist_id|get_user:1}
        {{"include": "_gallery-artist-information"}}
      {/foreach}
      <br>
    {/if}
  
    <h2>Represented by:</h2>
    {$profile = $curator}    
    {{"include": "_gallery-curator-information"}}
    
    {if ($collection.location_id)}
      {{"include": "_gallery-collection-location"}}
    {else}
      <h3>{if ($curator.city)}{$curator.city}, {/if}{$curator.country|get:countries:name}</h3>
    {/if}
    <br>
    
    {{"include": "_gallery-contact-information"}}
  {/if}

  {if ($collection.description)}
    <div class="gap gap-small"></div>
    <h3>About {$collection.title}</h3>
    {$collection.description}
  {/if}
  
{/block}


{block name=below}

{/block}
