{{"extend": "_gallery-detail-base.html"}}

{$media = $scope.media}

{block name=image}
            
  {* $scope|dump *}
  <img src="{$media.id|photo:"big"}" class=""><br>
{/block}


{block name=aside}
    
  {$profile = $scope.owner}
  {$profile_link = $smarty.const.PAGE_PROFILE|link}
  {{"include": "_gallery-artist-information.html"}}
  
  {{"include": "_gallery-media-information"}}
  
  <br>
  
  <h4>Context</h4>
  {$media.parent_type|gallery_link:$media.parent_id}  
  
{/block}

{block name=below}
                        
  <p>{$media.comment}<br>
   {$media.short_description}<br>
  </p>

{/block}

