    
    
      <h2>Edit folder</h2>
      {$folder = $scope.folder}
      <p>
      Add information to the folder such as title and description. 
      </p>

      <form class="ajax-submit" data-handler="save" data-reload_link="#btnReload">
        <input hidden="1" name="id" type="hidden" value="{$folder.id}">
        <input hidden="1" name="obj_type" type="hidden" value="gallery">      

        <div class="form-group">
          <label for="media-name">Title Image</label>
          <a data-toggle="tooltip" title="Select one title image to represent the front page of your folder. This doesn't need to be an artwork."> <i class="fa fa-info-circle"></i></a>
          {$scope.obj_type|object_uploader:$scope.obj_id:"title_image"}
          <!--img src="{$folder|folder_photo}"-->
          <div class="gap gap-small"></div>
        </div>
        
        <div class="form-group">
          <label for="media-name">Title *</label>
          <input type="text" class="form-control" name="title" value="{$folder.title}" maxlength="255">
        </div>

        <div class="form-group">
          <label for="comment">Description of folder</label>
          <textarea class="summernote form-control special" data-height="200" name="description">{$folder.description}</textarea>
        </div>
        
        <br>
        <input type="submit" class="btn btn-success" value="Save">
            
      </form>
      <div class="gap gap-small"></div>

