      <p><a class="btn btn-primary popup-iframe" inline_comment="lightbox" data-effect="mfp-fade" href="https://vimeo.com/160219836"><i class='fa fa-play-circle margin-right'></i>Intro to Embedding</a></p>
      <p>             
        Use the below form to create a link that you can copy/paste into your own website (embed). 
        When a user clicks the link, a viewer will open that shows the artwork in this collection. 
      </p>
                   
        <ul>
          <li> You can display the link as a plain link, or an image. 
          <li> If a title image has been set, this will be shown. Otherwise, the first artwork in the collection will be used.                     
          <li> By default, images are 200x200px. If you enter "large" in Container Class, it will be 500x500px.
          <li> You can further style the container containing the link or image using your own CSS.
          <li> You can choose set the size of the image by adding CSS like "width: 300px;height:400px".          
          <li> For plain links, the font and color of your own website will be applied.  
          <li> The title below will be used for the link text, or shown on the image when the user hovers on the image.
        </ul>
      <p>
      <b>After adding a new embed, use the preview link to get the code you need to copy to your website</b> 
      <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-eye"></i></a>
      </p>     