                      {$data = ["site_id" => $site.id, "obj_type" => "media_collection_map", "obj_id" => $artwork.id]}
                      {$json = $data|@json_encode}
                      {$link = $smarty.const.PAGE_GALLERY|link:"media_collection_map"}
                      
                      {if ($artwork.media_collection_id)}
                        {$title = $artwork.name}
                        {if ($artwork.artwork_id)}
                          {$link = '/artwork/'}
                          {$artwork_id = $artwork.artwork_id}
                        {else}
                          {$artwork_id = $artwork.id}
                          {$link = '/item/'}                          
                        {/if}
                      {else} {$artwork}
                        {$artwork_id = $artwork.id}
                        {$link = '/artwork/'}
                        {$title = $artwork.title}
                      {/if}
                      
                      
                      
                      {$artwork_link = ($link && $artwork) ? "`$link``$title|slugify`~`$artwork_id`" : "#"}
                      {$profile_link = $smarty.const.PAGE_PROFILE|link}
                      {if ($artwork.media_id|in_array:$scope.user_collection)}
                        {$fav_class = "fa-star"}
                        {$fav_title = "Unfollow"}
                      {else}
                        {$fav_class = "fa-star-o"}                      
                        {$fav_title = "Follow"}
                      {/if}
                      {$parent_data = ["site_id" => $site.id, "obj_type" => "media_collection", "obj_id" => $artwork.media_collection_id]}
                      {$parent_json = $parent_data|@json_encode}
                    
                      {$item_data = ["user_id" => $user.id, "site_id" => $site.id, "parent_type" => "media", "parent_id" => $artwork.media_id]}
                      {$item_json = $item_data|@json_encode}
                      
                      <li class="photo-grid-container gallery-list-item pdf-thumb-box gallery-artwork-item" 
                          data-index="{$index}" data-media_id="{$artwork.media_id}" id="map_{$artwork.id}">
                          {* id: {$artwork.id} index:{$index} media:{$artwork.media_id}<br><br><br><br> *}
                        <div class="pdf-thumb-box-overlay">
                          <div class="pdf-thumb-box-links">
                            {if ($user.id)}
                            <a href="#" class="pull-left favorite-link"
                               data-parent='{$parent_json}' 
                               data-search='{$item_json}'>
                              <i class="fa {$fav_class} fa-2x" title="{$fav_title}"></i>
                            </a>
                            {/if}
                            <a href="{$artwork_link}" class="cms-link gallery-link pull-right" title="Artwork Details" data-data='{$json}'>
                              <i class="fa fa-info-circle fa-2x"></i>
                            </a>
                          </div> 
                        </div> 
                        <a href="{$artwork_link}" class="cms-link gallery-link" data-data='{$json}'>
                          <img src="{$artwork.media_id|photo:'medium'}" class="">
                        </a>
                        <br>
                        <div class="photo-grid-title artinfo">
                          <a href="{$profile_link}{$artwork.artist_name|slugify}~{$artwork.artist_id}" class="cms-link gallery-link" data-data='{$json}'><h2 class="black">{$artwork.artist_name}</h2></a>
                          <a href="{$artwork_link}" class="cms-link gallery-link" data-data='{$json}'><h3>{$artwork.name}, <span>{$artwork.original_year}</span></h3></a>
                          <a href="{$profile_link}{$artwork.curator_name|slugify}~{$artwork.curator_id}" class="cms-link gallery-link" data-data='{$json}'><h4>{$artwork.curator_name}</h4></a>
                        </div>
                      </li>

