{{"extend": "_gallery-detail-base.html"}}

{block name=image}
            
  {* $artwork|dump *}
  {* $scope|dump *}
  <img src="{$artwork.title_image|photo:"big"}" class=""><br>
{/block}


{block name=aside}
    
  {$profile = $artist}
  {$profile_link = $smarty.const.PAGE_PROFILE|link}
  {{"include": "_gallery-artist-information.html"}}
  
  {{"include": "_gallery-artwork-information"}}
  
  <br>
  
  {$collection = $scope.collection}
  {if (($collection.type == $smarty.const.MEDIA_COLLECTION_TYPE_EXHIBITION))}
    {$collection_link = $smarty.const.PAGE_GALLERY|link:"media_collection":$collection.type}
  
    <div class='italic'>Featured in exhibtion:</div>
    <h2><a href="{$collection_link}{$collection.title|slugify}~{$collection.id}">{$collection.title}</a></h2>
    {if ($collection.start_date && $collection.end_date)}
      {{"include": "_gallery-collection-date"}}
    {/if}
    
    {if ($collection.event)}
      {$event = $collection.event}
      {{"include": "_gallery-collection-event.html"}}
    {/if}
    
    {$profile_link = $smarty.const.PAGE_PROFILE|link}
    
    <hr class="full">
    <br>
  
    <div class='italic'>For more information:</div>
    {$profile = $curator}    
    {{"include": "_gallery-curator-information"}}
    
    {if ($collection.location_id)}
      {{"include": "_gallery-collection-location"}}
    {else}
      <h3>{if ($curator.city)}{$curator.city}, {/if}{$curator.country|get:countries:name}</h3>
    {/if}
    <br>
    
    {{"include": "_gallery-contact-information"}}
  {/if}
    
{/block}

{block name=below}
                        
  <p>{$artwork.comment}<br>
   {$artwork.short_description}<br>
  </p>

{/block}

