        {$all_buttons = $smarty.const.POPUP_BUTTONS|@json_decode}
        {$all_tabs = $smarty.const.POPUP_TABS|@json_decode}
        {$all_titles = $smarty.const.POPUP_TITLES|@json_decode}

        {$defaultsJson = $smarty.const.POPUP_DEFAULTS}
        {$defaults = $defaultsJson|@json_decode}
      
        {$popupOptionsJson = $plugin.popup_options|default:$defaultsJson}
        {$popupOptions = $popupOptionsJson|@json_decode}
        
        {$buttons = $popupOptions->buttons}
        {$tabs = $popupOptions->tabs}        
        {$titles = $popupOptions->title}
        {$images = $scope.images}
        {$collection = $scope.parent_object}
        {*
        
                            
        Default: {$defaults|dump}
        Options: {$plugin.popup_options}<br>
        Dump: {$popupOptions|dump}
        Titles:{$titles|dump}                  
        *}
        
        {* Defaults *}
        {if (!$plugin.size)}
          {$plugin.size = 'medium'}
        {/if}
      <form class="ajax-submit" data-handler="save-plugin" data-success_handler="gbe_plugin_handler">
        <input type="hidden" name="id" value="{$plugin.id}">      
        <input type="hidden" name="obj_type" value="plugin">      
        <input type="hidden" name="obj_id" value="{$plugin.id}">      
        <input type="hidden" name="parent_type" value="{$plugin.parent_type|default:'media_collection'}">      
        <input type="hidden" name="parent_id" value="{$plugin.parent_id|default:$collection.id}">      
        <input type="hidden" name="site_id" value="{$plugin.site_id|default:$site.id}">      
        <input type="hidden" name="user_id" value="{$plugin.user_id|default:$user.id}">      
        <input type="hidden" class="form-control" name="popup_options" id="popup_options" value='{$popupOptions|json_encode}'>     
        <input type="hidden" class="form-control" name="popup_buttons" id="popup_tabs" value='{$tabs|json_encode}'>     
        <input type="hidden" class="form-control" name="popup_tabs"    id="popup_buttons" value='{$buttons|json_encode}'>     
        <input type="hidden" class="form-control" name="popup_buttons" id="popup_titles" value='{$titles|json_encode}'>     

        <br>        
        <div class="form-group">
          <label for="plugin_name">Name (not displayed)</label>
          <a data-toggle="tooltip" title="Choose a distinctive name for your plugin so you can easily distinctively identify it from other plugins you style for the same exhibition"> <i class="fa fa-info-circle"></i></a>
          <input type="text" class="form-control" name="name" id="plugin_name" value="{$plugin.name|default:$collection.title}" maxlength="255">
        </div>

        <br>   
        
        <div class="row">                   
          <div class="col-sm-4">
            <h3>Plugin Options</h3>
            {* <p><a class="btn btn-primary popup-iframe" inline_comment="lightbox" data-effect="mfp-fade" href="https://vimeo.com/160357815"><i class='fa fa-play-circle margin-right'></i>Styling the Plugin</a></p> *}
    
            <div class="form-group">
              <label for="plugin_title">Screen Title *</label>
              <a data-toggle="tooltip" title="This is the text that the collector will see on the plugin, either on the image when they mouseover it, or on the actual text of the plugin if the plugin is a text link"> <i class="fa fa-info-circle"></i></a>
              <input type="text" class="form-control" name="title" id="plugin_title" value="{$plugin.title|default:$collection.title}" maxlength="255">
            </div>
    
            <div class="form-group">
              <label for="plugin_subtitle">Screen Subtitle *</label>
              <a data-toggle="tooltip" title="This is the smaller title text that the collector will see on the plugin, either on the image when they mouseover it, or on the actual text of the plugin if the plugin is a text link"> <i class="fa fa-info-circle"></i></a>
              <input type="text" class="form-control" name="subtitle" id="plugin_subtitle" value="{$plugin.subtitle|default:''}" maxlength="128">
            </div>
            
            <div class="form-group">
              <label for="media-name">Plugin Image</label>
              <select name="title_image" class="form-control">
                <option value="">Title Image</option>   
              {foreach from=$images item=image}
                <option value="{$image.media_id}" {if ($plugin.title_image == $image.media_id)}SELECTED{/if}>{$image.name}</option>
              {/foreach}
              </select>
            </div>    

            {$image_sizes = ['tiny' => '40x40px', 'thumb' => '100px wide', 'square' => '200px wide', 'square' => '200x200px', 'small' => '240px wide', 'medium' => '640px wide', 'ig' => '640x640px', 'big' => '1280px wide', 'full' => '1920px wide']}
            <div class="form-group">
              <label for="media-size">Plugin Image Size</label>
              <select name="image_size" class="form-control" id="media-image_size">
              {foreach from=$image_sizes item=desc key=size}
              
                <option value="{$size}" {if ($plugin.size == $size)}SELECTED{/if}>{$size|capitalize} ({$desc})</option>
              {/foreach}
              </select>
            </div>                

            {$effects = ['zoom', 'flip', 'none']}
            <div class="form-group">
              <label for="media-size">Hover Effect</label>
              <select name="hover_effect" class="form-control" id="media-size">
                <option value="" {if (!$plugin.hover_effect)}SELECTED{/if}>Default</option>
              {foreach from=$effects item=effect}              
                <option value="{$effect}" {if ($plugin.hover_effect == $effect)}SELECTED{/if}>{$effect|capitalize}</option>
              {/foreach}
              </select>
            </div>                

            <a href="javascript:void(0);" data-toggle="collapse" data-target="#advanced_options" class="btn btn-primary"><i class="fa fa-caret-down"></i> Show Advanced Options</a>
            <div class="gap gap-small"></div>
            
            <div id="advanced_options" class="collapse">
              <div class="form-group">
                <label for="comment">Link Type</label>
                <a data-toggle="tooltip" title="Choose 'Link' if you want the plugin to look like text and 'Image' if you want to style the plugin as an image"> <i class="fa fa-info-circle"></i></a>
                <select name="type" class="form-control">
                  <option value="0">Select...</option>
                  <option value="image"  {if ($plugin.type == "image" || !$plugin.type)}SELECTED{/if}>Image</option>
                  <option value="link"   {if ($plugin.type == "link")}SELECTED{/if}>Link</option>
                  {* <option value="button" {if ($plugin.type == "button")}SELECTED{/if}>Button</option> *}
                </select>
              </div>
              
              <div class="form-group">
                <label for="media-name">Custom CSS</label>
                <a data-toggle="tooltip" title="For images enter the custom CSS here or simply set the size, for example - 'width: 300px;height:400px'"> <i class="fa fa-info-circle"></i></a>
                <input type="text" class="form-control" name="style" value="{$plugin.style}" maxlength="255">
              </div>
      
              <div class="form-group">
                <label for="media-name">Object Tag</label>
                <a data-toggle="tooltip" title="Enter a custom html tag for the plugin element"> <i class="fa fa-info-circle"></i></a>
                <input type="text" class="form-control" name="object_tag" value="{$plugin.object_tag|default:'figure'}" maxlength="16">
              </div>
              <div class="form-group">
                <label for="media-name">Object Class</label>
                <a data-toggle="tooltip" title="Enter a custom CSS class for the plugin element"> <i class="fa fa-info-circle"></i></a>
                <input type="text" class="form-control" name="object_class" value="{$plugin.object_class}" maxlength="255">
              </div>

              <div class="form-group">
                <label for="media-name">Container Tag</label>
                <a data-toggle="tooltip" title="Enter a custom tag to wrap the plugin element in"> <i class="fa fa-info-circle"></i></a>
                <input type="text" class="form-control" name="container_tag" value="{$plugin.container_tag|default:''}" maxlength="16">
              </div>
              <div class="form-group">
                <label for="media-name">Container Class</label>
                <a data-toggle="tooltip" title="Enter a custom CSS class for the the plugin element's container"> <i class="fa fa-info-circle"></i></a>
                <input type="text" class="form-control" name="container_class" value="{$plugin.container_class}" maxlength="255">
              </div>
            </div>
          </div>
          <div class="col-sm-8">
            <h3>Lightbox Options</h3>
            <div class="row">
              <div class="col-sm-6">
                <label>Which Buttons?</label>
                <div id="popup_options_div">
                  {foreach from=$all_buttons item=button}
                  <div class="checkbox">
                    <label><input type="checkbox" class="popup-button checkbox2array" name="{$button}" id="popup-option-{$button}" data-handler="update_popup_options" data-collection=".popup-button" data-target="#popup_buttons" {if ($button|in_array:$buttons)}checked{/if}> {$button|translate:'c'}</label>
                  </div>            
                  {/foreach}
                  <div id="lightbox_tabs" class="mt20{if (!'info'|in_array:$buttons)} collapse{/if}"}>
                    <label>Which Information Tabs?</label>
                    {foreach from=$all_tabs item=tab}
                    <div class="checkbox">
                      <label><input type="checkbox" class="popup-tab checkbox2array" name="{$tab}" id="popup-tab-{$button}" data-handler="update_popup_options" data-collection=".popup-tab" data-target="#popup_tabs" {if ($tab|in_array:$tabs)}checked{/if}> {$tab|translate:'c'}</label>
                    </div>            
                    {/foreach}
                  </div>
                </div>          
              </div>
              <div class="col-sm-6">
                {* (AVAILABILITY DOT) GALLERY/ CURATOR NAME  presents ARTWORK NAME(YEAR) TECHNQUE by ARTIST NAME, SIZE, SERIES OF X, PRICE *}
                <div id="lightbox_title" class="{if (!1)} collapse{/if}"}>
                  <label>Title under image</label>
                  {foreach from=$all_titles item=title}
                  <div class="checkbox">
                    <label><input type="checkbox" class="popup-title checkbox2array" name="{$title}" id="popup-title-{$button}" data-handler="update_popup_options" data-collection=".popup-title" data-target="#popup_titles" {if ($title|in_array:$titles)}checked{/if}> {$title|translate:'c'}</label>
                  </div>            
                  {/foreach}
                </div>                             
              </div>
            </div>
          </div>
          
        </div>
        
        <br>
        <input type="submit" class="btn btn-success" value="Save">

      </form>

