{$what = 'website'}
{$plural = 'websites'}

{$form = "_gallery-backend-website-form.html"}
{{"extend": "_gallery-backend-list-base.html"}}

{block name=main}              
{/block}

{block name="fields"}
  <!--th data-field="state" data-checkbox="true">Check</th>
  <th data-field="id" data-sortable="true" data-formatter="bstIDFormatter">ID</th>
  <th data-field="title_image" data-formatter="bstTitleImageFormatter">Image</th-->
  <th data-field="created" data-sortable="true" data-formatter="bstDateFormatter">Created</th>
  <th data-field="url" data-sortable="true" data-formatter="bstUrlFormatter">URL</th>
  <th data-field="domain" data-sortable="true" data-formatter="bstDomainFormatter">Domain</th>
  <th data-field="type" data-sortable="true">Type</th>
  <th data-field="user_id" data-sortable="true" data-formatter="bstArtistFormatter">User</th>
{/block}

{block name="script"}
{/block}
