      <form class="ajax-submit" data-handler="save-minisite">
        <input hidden="1" name="id" type="hidden" value="{$scope.obj_id}">
        <input hidden="1" name="obj_type" type="hidden" value="{$scope.obj_type}">      
                
        <div class="form-group col-sm-4">
          <label for="media-name">Title *</label>
          <input type="text" class="form-control" name="name" value="{$minisite.name}" maxlength="255">
        </div>
        <div class="form-group col-sm-4">
          <label for="media-original_technique">Technique *</label>
          <input type="text" class="form-control" name="original_technique" value="{$minisite.original_technique}" maxlength="255">
        </div>
      </form>