
      {$artwork = $scope.artwork}
      {$artist_id = $artwork.artist_id|default:$scope.artist_id}
      {$gallery_id = $artwork.gallery_id|default:$scope.gallery_id}
      
      <form class="ajax-submit" data-handler="save-artwork" data-success_handler="gbe_artwork_handler">
        <input hidden="1" name="id" type="hidden" value="{$artwork.id}">
        <input hidden="1" name="obj_id" type="hidden" value="{$artwork.id}">
        <input hidden="1" name="obj_type" type="hidden" value="artwork">      
        <input hidden="1" name="user_id" type="hidden" value="{$user.id}">
        <input hidden="1" name="artist_id" type="hidden" value="{$artist_id}">
        <input hidden="1" name="gallery_id" type="hidden" value="{$scope.gallery_id}">                
      
        <div class="gap gap-small"></div>
        <div class="row">
          <div class="form-group col-xs-12">
            <label>Preview</label>
            <a href="#visibility-settings"> <i class="fa fa-arrow-circle-down"></i> Scroll down for visibility settings.</a>

            {{"include": "_gallery-artwork-detail.html"}}
            
          </div>
        </div>
      
        <div class="gap gap-small"></div>

        <div class="row" id="visibility-settings">
          <div class="form-group col-xs-12">
            <label>Visibility Settings</label>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-sm-3 col-xs-3">
            <div class="checkbox">
              <label>
                <input name='active' value='0' type='hidden'>
                <input name="active" value="1" type="checkbox" {if ($artwork.active)}checked{/if} class="bootstrap-toggle" id="gbe_artwork_active">
                Published
              </label>
            </div>
          </div>
          <div class="form-group col-sm-9 col-xs-9">
          Hidden artworks can only be seen by you, they don't appear on your website, plugins or to your followers, or even to people with a private link online.
          </div>          
        </div>
        
        <div class="row gbe-visibility-row {$collapse}">
          <div class="form-group col-sm-3 col-xs-3">
            <div class="checkbox gbe-visibility-checkbox">
              <label>
                <input name='public' value='0' type='hidden'>
                <input name="public" value="1"  type="checkbox" {if ($artwork.public)}checked{/if} class="bootstrap-toggle gbe-visibility-checkbox">
                Public
              </label>
            </div>
          </div>
          <div class="form-group col-sm-9 col-xs-9">
          Turn off to disable this artwork being shared with a public link, or found through browsing. When off, you can still share using a private link.
          </div>          
        </div>
                
        <div class="row gbe-visibility-row {$collapse}">
          <div class="form-group col-sm-3 col-xs-3">
            <div class="checkbox gbe-visibility-checkbox">
              <label>
                <input name='show_website' value='0' type='hidden'>
                <input name="show_website" value="1"  type="checkbox" {if ($artwork.show_website)}checked{/if} class="bootstrap-toggle gbe-visibility-checkbox">
                Website
              </label>
            </div>
          </div>
          <div class="form-group col-sm-9 col-xs-9">
          Turn off to hide this artwork in your website built with the vPatina website builder.
          </div>          
        </div>
        
        <div class="row">
          <div class="form-group col-xs-12">
            <input type="submit" id="submit" class="btn btn-success" value="Save">
          </div>
        </div>
                
      </form>      
      
      <div class="gap gap-small"></div>
      