    
    

      {$plugin = $scope.plugin}
      
      <h2>View Plugin</h2>

      Link to plugin: 
      <a data-toggle="tooltip" title="Copy and paste the code below into the HTML of your website to embed your exhibition on your website"> <i class="fa fa-info-circle"></i></a>
      <input value="<script src='{$plugin.shorturl|default:$plugin.url}'></script>" class="form-control" readonly>
      
      {*      
      <link rel="canonical" href="/afr/jquery/fancybox/vp.css" />
      <script type="text/javascript" src="/afr/jquery/fancybox/vp.js"></script>
      {$scope.plugin_preview}
      *}
      
      <div class="gap gap-small"></div>
      <a id="embed_link" class="btn btn-success ajax-loader" 
         data-url="/admin/app_data.php?oper=load-content&amp;site_id={$site.id}&amp;user_level={$user.user_level}&amp;user_id={$user.id}&amp;obj_type={$plugin.parent_type}&amp;id={$plugin.parent_id}&amp;embed=1&amp;plugin_id={$plugin.id}" 
         data-target="#cms_viewer" href="#"><i class="fa fa-pencil"></i> Edit</a>
         <a class="btn btn-primary popup-iframe" inline_comment="lightbox" data-effect="mfp-fade" href="https://vimeo.com/160219836"><i class='fa fa-play-circle margin-right'></i>Embedding Overview</a>

      <h3>Preview</h3>
      <p>
      {$scope.plugin_preview}
      </p>

