                            
                            <h3 class="relative">
                              {$media.name}                            
                            </h3> 
                            
                            <p class='italic'>
                              {$media.type|capitalize}<br>
                              {if ($media.height > 0 && $media.width > 0)}
                                {$media.width} x {$media.height} pixels <br>
                              {/if}
                            </p>                             
