    
    
      {$collection = $scope.collection}
      <h2>Embed {$collection.title}</h2>
      
      {{"include": "_gallery-collection-embed-info.html"}}

      {if ($scope.plugin_count)}
        {{"include": "_gallery-collection-embed-list.html"}}
      {/if}
      
      <div class="row">
        <div class="col-xs-4">
          <img src="{$media.id|photo}">
        </div>
        <div class="col-xs-8">
        </div>
      </div>
      <div class="gap gap-small"></div>
      <h2>Add Embed</h2>
      
      {{"include": "_gallery-collection-embed-form.html"}}      

      <div class="gap gap-small"></div>

