

        <div class="row">
          <div class="form-group col-sm-4">
            <label for="location_id">Location</label>
            <select class="form-control auto-select" id="gbe_loc_id" name="location_id" required
                    data-value="{$event.location_id}" data-default="{$collection.location_id|default:$curator.location_id}">
              {foreach from=$locations item=loc key=val}
                <option value="{$val}">{$loc}</option>
              {/foreach}                                            
            </select>
          </div>          
        </div>
        
        <div class="row mb10">
          <div class="col-xs-12 {if ($event.location_id || $locations|@count > 1)}collapse{/if}" id="gbe_location">
            <label for="exhibition-address">{'location'|translate:'c'}</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
              <input name="exhibition-address" id="exhibition-address" class="form-control geocomplete" placeholder="123 Main street, New York" 
                     type="text" />
              {{"include": "_geocomplete-fields.html"}}                          
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-sm-6">
            <label>Title</label>
            <input name="title" class="form-control" value="{$event.title}" type="text" placeholder="Opening, Book Signing" maxlength="128" required/>
          </div>
          <div class="form-group col-sm-6">
            <label>Date</label>
            <div class="input-group">
              {$date = $collection.start_date|date_format:'d-m-Y'}
              <input type="text" value="{$date}" class="form-control datepicker" name="event_date" placeholder="Event Date">
              <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
            <!--div class="help-block with-errors">Whole Number</div-->                          
          </div>
        </div>

        <div class="row">

          <div class="form-group col-sm-4">
            <label>Start Time</label>
            <div class="input-group">
              <input type="text" name="event_start_time" class="form-control input-small timepicker" value="{$event.start_time|date_format:'H:i'}" data-time-format="H:i" data-step="15">
              <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
            </div>
          </div>

          <div class="form-group col-sm-4">
            <label>End Time</label>
            <div class="input-group">
              <input type="text" name="event_end_time" class="form-control input-small timepicker" value="{$event.end_time|date_format:'H:i'}" data-time-format="H:i" data-step="15">
              <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
            </div>
          </div>

          <div class="form-group col-sm-4">
            <label>Timezone</label>
            
            <select name="timezone" id="timezone" data-value="{$event.timezone|default:$user.timezone}" 
               class="form-control auto-select" autofocus="autofocus" autocorrect="off" autocomplete="off">
              <option value="">Select a timezone...</option>
              {{"include": "_timezones.html"}}
            </select>
          </div>
          
          <div class="row">
            <div class="form-group col-sm-12">
              <label for="description">Description</label>
              <textarea class="summernote form-control special" data-height="50" name="description">{$event.description}</textarea>
            </div>
          </div>
          
        </div>