                    {$id = $scope.obj_id}
                    {if ($id)}
                      {$projects = $scope.projects}
                      <div class="container">
                      {{"include": "_gallery-artist-detail.html"}}                      
                      </div>
                    {else}
                    
                      {$count = $scope.items|@count}
                      <ul class="photo-grid-5 list">
                        {foreach from=$scope.items item=artist}
                        {{"include": "_gallery-artist-item.html"}}
                        {/foreach}
                      </ul>
                    {/if}

