
      <!-- Wrapper for slides -->
      <header class='carousel slide hidden-xs' id='home_carousel' data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#home_carousel" data-slide-to="0" class="active"></li>
          <li data-target="#home_carousel" data-slide-to="1"></li>
          <li data-target="#home_carousel" data-slide-to="2"></li>
          <li data-target="#home_carousel" data-slide-to="3"></li>
          <li data-target="#home_carousel" data-slide-to="4"></li>
        </ol>
      
        <!-- Wrapper for slides -->
        <div class='carousel-inner'>
          <div class='item active'>
            <div class="fill" style="background-image:url('/user/17343/upload/object/page_element/1024/media/image/medium/hme1.jpg');"></div>
            <div class="carousel-caption">
            <h2 class="white"><em style="font-size: 24px;">"The trend is also clear, real world galleries and auction houses are already partnering with e-commerce platforms....enabling them to reach new clients and markets."</em></h2>
            <hr>
            <h2 class="white">HISCOX Online Art Trade Report 2014</h2>
            </div>
          </div>
              
          <div class='item'>
            <div class="fill" style="background-image:url('/user/17343/upload/object/page_element/1025/media/image/medium/johannes_vermeer_1632-1675_-_the_girl_with_the_pearl_earring_1665.jpg');"></div>
            <div class="carousel-caption">
              <h2 class="white"><em style="font-size: 24px;">&quot;Premier galleries&quot; with access to exclusive websites have &quot;analytics to see which artists are performing better, and stats which show where in the world audiences comes from&quot;</em></h2>
              <hr>
              <h2 class="white">Forbes</h2>
            </div>
          </div>
          <div class='item'>
            <div class="fill" style="background-image:url('/user/17343/upload/object/page_element/1026/media/image/medium/1024px-altamirabison.jpg');"></div>
            <div class="carousel-caption">
              <h2 class="white"><em style="font-size: 24px;">&quot;Christie&#39;s has been aggressively developing its internet presence and held 49 online only sales in 2013 - a huge jump compared with seven in 2012 and just one in 2011&quot;</em></h2>
              <hr>
              <h2 class="white">Financial Times</h2>
            </div>
          </div>
          <div class='item'>
            <div class="fill" style="background-image:url('/user/17343/upload/object/page_element/1027/media/image/medium/leonardo_da_vinci_-_female_head_la_scapigliata_-_wga12716-1.jpg');"></div>
            <div class="carousel-caption">
            <h2 class="white"><em style="font-size: 24px;">"Billionaire Leon Black's publishing company Phaidon acquired Artspace.com...</em><em style="font-size: 24px;">Phaidon said the deal will increase its access to global art collectors</em><em style="font-size: 24px;">,"</em></h2>
            <hr>
            <h2 class="white">Bloomberg</h2>
            </div>
          </div>
          <div class='item'>
            <div class="fill" style="background-image:url('/user/17343/upload/object/page_element/1028/media/image/medium/john_constable_015.jpg');"></div>
            <div class="carousel-caption">
              <h2 class="white"><em style="font-size: 24px;">&quot;Galleries are actively using new online platforms, which have created digital marketplaces, connecting buyers with established galleries and institutions.&quot;</em></h2>
              <hr>
              <h2 class="white">TEFAF, Maastricht, The Global Art Market in 2013<span style="font-size: 12px;">&nbsp;</span></h2>
            </div>
          </div>                   
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#home_carousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#home_carousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
      </header>

