html,body {height:100%;}
body {background:#000;margin:0;padding:0;font:10px/2em Verdana, Arial, Helvetica, sans-serif;color:#AC9F83;}
input {border: 1px solid #ab9e82;}
td {font:10px/2.2em Verdana, Arial, Helvetica, sans-serif;}
hr {border:0;background: #ab9e82;margin: 10px 0px;padding: 0px;height: 1px;width: 100%;}
a {color:#fff;text-decoration:underline;font-weight:700;outline:none;}
a:hover {color:#AC9F83;text-decoration:underline;font-weight:700;}
h1,h2,h3,h4,h5,h6 {font-family:Verdana, Arial, Helvetica, sans-serif;font-weight:700;padding:0;margin:0;}
h1 {color:#fff;margin:0;padding:0 0 8px;font-size:11px;}
h2 {color:#AC9F83;font-size:11px;margin:0;padding:0 0 8px;}
h3 {color:#AC9F83;font-size:10px;margin:0;padding:0 0 8px;}
h4,h5,h6 {color:#fff;font-size:10px;margin:0;padding:0 0 8px;}
p {margin:0;padding:0 0 18px;}
.whitetxt {color:#FFF;}
table.postbl {height:100%;width:100%;}
td.postd {text-align:center;}
div#maincell {width:850px;height:550px;margin:auto;border:2px solid #AC9F83;}
div.yborder {border-top:1px solid #AC9F83;width:850px;height:1px;line-height:.1em;}
div#ambiancepos {width:820px;height:192px;margin:auto;padding-top:10px;padding-bottom:10px;}
div#vervolg {width:820px;height:402px;margin:auto;text-align:center;}
div#content {width:650px;margin:auto;text-align:center;}
.smalltemplate {padding-top:10px;height:188px;}
.largetemplate {padding-top:10px;}
#mycustomscroll {/* Typical fixed height and fixed width example */width:650px;height:178px;overflow:auto;/* IE overflow fix, position must be relative or absolute*/position:relative;clear:both;padding-right:75px;}
#mycustomscroll2 {/* Typical fixed height and fixed width example */width:800px;height:392px;overflow:auto;/* IE overflow fix, position must be relative or absolute*/position:relative;clear:both;margin:auto;}
#menupos {border-top:1px solid #AC9F83;width:850px;border-bottom:1px solid #AC9F83;text-align:center;padding-bottom:1px;}
#menucell {margin:auto;}
.menutbl {margin:auto;}
#footer {line-height:24px;color:#FFF;font-size:9px;font-weight:700;text-align:left;margin:auto;width:850px;}
#bottomcell {width:850px;height:104px;text-align:left;}
#logo {padding-left:347px;height:100px;padding-top:4px;width:157px;float:left;}
span.spacer {color:#AC9F83;padding-left:4px;padding-right:4px;}
#bottomnav {float:left;width:328px;padding-top:70px;padding-right:18px;}
#bottomnav img {float:right;}
#L1,#L2,#L3 {width:84px;height:27px;line-height:26px;font-weight:700;text-align:right;float:right;padding-right:5px;}
#holdingnav {padding-left:89px;}
#footermenu {width:420px;float:left;padding-left:270px;}
#freshlabel {padding-left:56px;float:left;}
#freshlabel a {color:#191715;text-decoration:none;}
#freshlabel a:hover {color:#fff;}
#kaart {border:1px solid #AC9F83;padding:10px;}
a.nolinkstyle {color:#AC9F83;font-weight:400;text-decoration:none;}
a.nolinkstyle:hover {color:#FFF;font-weight:400;text-decoration:underline;}
a.nolinkstyle_links {}
a.nolinkstyle_links:hover {}
.mapcol {text-align:left;padding-left:25px;}
.linkscell {width:644px;margin:auto;text-align:center;padding-left: 14px;}
.linktbl {margin:auto;width:644px;}
div.links td {text-align:left;line-height:1.2em;}
.linkshr {margin:10px auto;width:644px;}
.links h4 {text-align:left;width:644x;}
.tellafriend  .formulier_input {width:207px;}
.tellafriend .formulier_area { width:238px;height:64px;}
.tellafriend .formulier_button {background: #000000;border-style: none;color:#ab9e82;cursor:pointer;font: 10px Verdana, Arial, Helvetica, sans-serif;padding:0;padding-top:8px;margin:0;text-align:right;}
.tellafriend form {padding:0;margin:0;}
table.prijzen {width:650px;}
.prijzen td {text-align:left;font:10px/1.8em Verdana, Arial, Helvetica, sans-serif;}
.sitemaptbl td {text-align:left;}
.contacttbl td {text-align:left;}
form.contacttbl {padding:0;margin:0;}
.ontvangers, .textcontact, .inputcontact {font-size:10px;border: 1px solid #ab9e82;}
.ontvangers {width:200px;height:19px;}
.inputcontact {width:200px;height:17px;}
.textcontact {width:220px;height:108px;font-size:12px;}
.btncontact {background: #000000;border-style: none;color:#ab9e82;cursor:pointer;font: 10px Verdana, Arial, Helvetica, sans-serif;margin:0;text-align:center;}
.scrollgeneric {line-height: 1px;font-size: 1px;position: absolute;top: 0;left: 0;}
.vscrollerbase {width: 15px;background-color: white;}
.vscrollerbar {width: 15px;background-color: black;}
.hscrollerbase {height: 15px;background-color: white;}
.hscrollerbar {height: 15px;background-color: black;}
.hscrollerbar {background: #99CBCB url("/./templates/css/horizontalbarbody_cornerjog.jpg") 0px -30px repeat-x;}
.vscrollerbar {background: #99CBCB url("/./templates/css/basebarcaps_verticalbarbody.jpg") -15px 0px repeat-y;}
.vscrollerbar, .hscrollerbar {padding: 10px;z-index: 2;cursor:pointer;}
.vscrollerbarbeg {background: url("/./templates/css/basebarcaps_verticalbarbody.jpg") -45px -30px no-repeat;width: 15px;height: 15px !important;}
.vscrollerbarend {background: url("/./templates/css/basebarcaps_verticalbarbody.jpg") -45px 0px no-repeat;width: 15px;height: 15px;}
.hscrollerbarbeg {background: url("/./templates/css/basebarcaps_verticalbarbody.jpg") -60px -15px no-repeat;height: 15px;width: 15px !important;}
.hscrollerbarend {background: url("/./templates/css/basebarcaps_verticalbarbody.jpg") -30px -15px no-repeat;height: 15px;width: 15px;}
.scrollerjogbox {width: 15px;height: 15px;top: auto;left: auto;bottom: 0px;right: 0px;background: #4E727C url("/./templates/css/horizontalbarbody_cornerjog.jpg") 0px 0px;}
.vscrollerbase {background: #D7EBDF url("/./templates/css/basebarcaps_verticalbarbody.jpg") 0px 0px repeat-y;}
.vscrollerbasebeg {background: url("/./templates/css/basebarcaps_verticalbarbody.jpg") -30px -30px no-repeat;width: 15px;height: 15px !important;cursor:pointer;}
.vscrollerbaseend {background: url("/./templates/css/basebarcaps_verticalbarbody.jpg") -60px -30px no-repeat;height: 15px;width: 15px;cursor:pointer;}
.hscrollerbase {background: #D7EBDF url("/./templates/css/horizontalbarbody_cornerjog.jpg") 0px -15px repeat-x;}
.hscrollerbasebeg {background: url("/./templates/css/basebarcaps_verticalbarbody.jpg") -60px 0px no-repeat;height: 15px;width: 15px !important;}
.hscrollerbaseend {height: 15px;width: 15px;background: url("/./templates/css/basebarcaps_verticalbarbody.jpg") -30px 0px no-repeat;}
.scrollerjogbox:hover {background: #5E828C url("/./templates/css/basebarcaps_verticalbarbody.jpg") -45px -15px;}
#lightbox{display:none;position: absolute;top:50%;left:50%;z-index:9999;width:435px;height:355px;margin:-172px 0 0 -217px;background:#000000;text-align:left;}
#lightbox[id]{position:fixed;}
#overlay{display:none;position:absolute;top:0;left:0;width:100%;height:100%;z-index:5000;background-color:#000;-moz-opacity: 0.8;opacity:.80;filter: alpha(opacity=80);}
#overlay[id]{position:fixed;}
#lightbox.done #lbLoadMessage{display:none;}
#lightbox.done #lbContent{display:block;}
#lightbox.loading #lbContent{display:none;}
#lightbox.loading #lbLoadMessage{display:block;}
#lightbox.done img{width:100%;height:100%;}

/* remove all list stylings */
.menu,.menu ul {margin:0;padding:0;border:0;list-style-type:none;display:block;line-height:1em;}
.menu li {margin:0;padding:0;border:0;display:block;float:left;/* move all main list items into one row, by floating them */position:relative;/* position each LI, thus creating potential IE.win overlap problem */z-index:5;/* thus we need to apply explicit z-index here... */}
.menu li:hover {z-index:10000;/* ...and here. this makes sure active item is always above anything else in the menu */white-space:normal;/* required to resolve IE7 :hover bug (z-index above is ignored if this is not present)see http://www.tanfa.co.uk/css/articles/pure-css-popups-bug.asp for other stuff that work */}
.menu li li {float:none;/* items of the nested menus are kept on separate lines */}
.menu ul {visibility:hidden;/* initially hide all submenus. */position:absolute;z-index:10;left:0;/* while hidden, always keep them at the bottom left corner, */bottom:0;/* to avoid scrollbars as much as possible */}
.menu li:hover>ul {visibility:visible;/* display submenu them on hover */bottom:100%;/* 1st level go above their parent item */}
.menu li li:hover>ul {/* 2nd+ levels go on the right side of the parent item */bottom:0;left:100%;}

/* -- float.clear --force containment of floated LIs inside of UL */
.menu:after,.menu ul:after {content:".";height:0;display:block;visibility:hidden;overflow:hidden;clear:both;}
.menu,.menu ul {/* IE7 float clear: */min-height:0;}
/* -- float.clear.END --  *//* sticky submenu: it should not disappear when your mouse moves a bit outside the submenuYOU SHOULD NOT STYLE the background of the ".menu UL" or this feature may not work properly!if you do it, make sure you 110% know what you do */.menu ul {background-image:url("/./templates/menu/empty.gif");/* required for sticky to work in IE6 and IE7 - due to their (different) hover bugs */padding:30px 30px 10px;margin:0 0 -10px -30px;/*background: #f00;*//* uncomment this if you want to see the "safe" area.you can also use to adjust the safe area to your requirement */}
.menu ul ul {padding:30px 30px 30px 10px;margin:0 0 -30px -10px;}

/* - - - ADxMenu: DESIGN styles - - - */
.menu,.menu ul li {color:#eee;background:#000;}
.menu ul {width:15em;margin-left:-16px;}
.menu a {text-decoration:none;color:#eee;height:26px;line-height:26px;padding-left:20px;padding-right:20px;display:block;position:relative;}
.menu a:hover,.menu li:hover>a {color:#AC9F83;}
.menu li li {/* create borders around each item *//* border: 1px solid #fff;*/background:#aa9d83;text-align:left;}
.menu li li a {padding:0;height:22px;line-height:22px;padding-left:10px;}
.menu ul>li + li {/* and remove the top border on all but first item in the list */border-top:0;}
.menu li li:hover>ul {/* inset 2nd+ submenus, to show off overlapping */bottom:5px;left:90%;}
.menu li li a:hover,.menu li li:hover>a {color:#AC9F83;background:#fff;}
/* special colouring for "Main menu:", and for "xx submenu" items in ADxMenuplaced here to clarify the terminology I use when referencing submenus in posts */.menu>li:first-child>a,.menu li + li + li li:first-child>a {}
/* Fix for IE5/Mac \*//*/.menu a {float: left;}
/* End Fix */.highslide {cursor: url("/./includes/../images/highslide/zoomin.cur"), pointer;outline: none;}
.highslide-active-anchor img {visibility: hidden;}
.highslide img {border: 1px solid gray;padding: 4px;}
.highslide:hover img {border: 1px solid gray;padding: 0px;}
.highslide-wrapper {background: white;}
.highslide-image {    border: 10px solid white;}
.highslide-image-blur {}
.highslide-caption {    display: none;border: 2px solid white;border-top: none;font-family: Arial, Helvetica;font-size: 10pt;padding-bottom: 8px;color: #444;background-color: white;}
.highslide-loading {    display: block;color: black;font-size: 8pt;font-family: sans-serif;font-weight: bold;text-decoration: none;padding: 2px;border: 1px solid black;background-color: white;padding-left: 22px;background-image: url("/./includes/../images/highslide/loader.white.gif");background-repeat: no-repeat;background-position: 3px 1px;}
a.highslide-full-expand {background: url("/./includes/../images/highslide/fullexpand.gif") no-repeat;display: block;margin: 0 10px 10px 0;width: 34px;height: 34px;}
/* These must always be last */.highslide-display-block {    display: block;}
.highslide-display-none {    display: none;}

