@font-face {
  font-family: 'weather';

  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot');
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
       url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.woff') format('woff'),
       url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.ttf') format('truetype'),
       url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
  font-weight: normal;
  font-style: normal;

}

.simple-weather {
  _width: 500px;
  _margin: 0px auto;
  _text-align: center;
  text-transform: uppercase;
}

.simple-weather h2 i {
  color: #fff;
  font-family: weather !important;
  font-size: 150px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.0;
}

.simple-weather h2 {
  margin: 0 0 8px;
  color: #fff;
  font-size: 40px;
  font-weight: 300;
  _text-align: center;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}

.simple-weather ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.simple-weather li {
  background: #fff;
  background: rgba(255,255,255,0.90);
  padding: 10px;
  color: #000;
  display: inline-block;
  border-radius: 5px;
}

.simple-weather .currently {
  margin: 0 20px;
}

.simple-weather i.icon-0:before { content: ":"; }
.simple-weather i.icon-1:before { content: "p"; }
.simple-weather i.icon-2:before { content: "S"; }
.simple-weather i.icon-3:before { content: "Q"; }
.simple-weather i.icon-4:before { content: "S"; }
.simple-weather i.icon-5:before { content: "W"; }
.simple-weather i.icon-6:before { content: "W"; }
.simple-weather i.icon-7:before { content: "W"; }
.simple-weather i.icon-8:before { content: "W"; }
.simple-weather i.icon-9:before { content: "I"; }
.simple-weather i.icon-10:before { content: "W"; }
.simple-weather i.icon-11:before { content: "I"; }
.simple-weather i.icon-12:before { content: "I"; }
.simple-weather i.icon-13:before { content: "I"; }
.simple-weather i.icon-14:before { content: "I"; }
.simple-weather i.icon-15:before { content: "W"; }
.simple-weather i.icon-16:before { content: "I"; }
.simple-weather i.icon-17:before { content: "W"; }
.simple-weather i.icon-18:before { content: "U"; }
.simple-weather i.icon-19:before { content: "Z"; }
.simple-weather i.icon-20:before { content: "Z"; }
.simple-weather i.icon-21:before { content: "Z"; }
.simple-weather i.icon-22:before { content: "Z"; }
.simple-weather i.icon-23:before { content: "Z"; }
.simple-weather i.icon-24:before { content: "E"; }
.simple-weather i.icon-25:before { content: "E"; }
.simple-weather i.icon-26:before { content: "3"; }
.simple-weather i.icon-27:before { content: "a"; }
.simple-weather i.icon-28:before { content: "A"; }
.simple-weather i.icon-29:before { content: "a"; }
.simple-weather i.icon-30:before { content: "A"; }
.simple-weather i.icon-31:before { content: "6"; }
.simple-weather i.icon-32:before { content: "1"; }
.simple-weather i.icon-33:before { content: "6"; }
.simple-weather i.icon-34:before { content: "1"; }
.simple-weather i.icon-35:before { content: "W"; }
.simple-weather i.icon-36:before { content: "1"; }
.simple-weather i.icon-37:before { content: "S"; }
.simple-weather i.icon-38:before { content: "S"; }
.simple-weather i.icon-39:before { content: "S"; }
.simple-weather i.icon-40:before { content: "M"; }
.simple-weather i.icon-41:before { content: "W"; }
.simple-weather i.icon-42:before { content: "I"; }
.simple-weather i.icon-43:before { content: "W"; }
.simple-weather i.icon-44:before { content: "a"; }
.simple-weather i.icon-45:before { content: "S"; }
.simple-weather i.icon-46:before { content: "U"; }
.simple-weather i.icon-47:before { content: "S"; }

