/* generic selectors - should not conflict with any other framework such as Bootstrap or jQuery*/
.left {text-align:left !important}
.right {text-align:right !important}
.center {text-align:center !important}
.top {vertical-align:top}
.auto_center > DIV {margin-left:auto;margin-right:auto;}
.margin-2 {margin:2px}
.margin {margin:1em !important}
.pad {padding:1em !important}
.pad-2 {padding:2em !important}
.pad-sm {padding:0.4em !important}
.pad-xs {padding:0.2em !important}
.nopad, .nopadding, .no-padding, .no-pad, .pad-none {padding:0 !important}
.nomargin, .no-margin {margin:0 !important}
.margin-top, .margin_top  {margin-top:1em;}
.margin-left, .margin_left {margin-left:1em;}
.margin-bottom, .margin_bottom {margin-bottom:1em;}
.margin-right, .margin_right {margin-right:1em;}
.margin_center, .margin-center {margin:0px auto}
.margin_middle, .margin-middle {margin:auto 0px}
.nowrap {white-space:nowrap !important;}
.pos_center {left:50%}
.pos_middle {top:50%}
.align-bottom {vertical-align:bottom}
.align-top {vertical-align:top}
.block {display:block;}
.inline {display:inline;}
.bold {font-weight:bold;}
.italic {font-weight:italic;}
.underline {text-decoration:underline;}
.strike{text-decoration:line-through}
.full_width, .full-width {width:100%}
.table {display:table;}
.table-cell {display:table-cell;float:none;}
.relative {position:relative}
.absolute {position:absolute}
.fixed {position:fixed}
.inline_block, .inline-block {display:inline-block;}
.transparent {filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity:0.5;opacity:0.5;}
.overflow_hidden {overflow:hidden;}
.border-box-sizing {box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.overstrike {text-decoration:line-through;}
.center-block {display:block;margin-left:auto;margin-right:auto;}
.pull-left {float: left !important;}

.hilite {background-color:#ffe45c !important;}
.disabled {color:#ccc;font-weight:normal}
.disabled_bg {background-color:#ccc !important;color:#000 !important;}

.abs_right_outside{position:absolute;right:-50px !important}
.abs_top, .abs-top {position:absolute;top:0px !important}
.abs_top_right, .abs-top-right {position:absolute;top:0px;right:0px !important}
.abs_top_right_inside{position:absolute;top:0px;right:50px !important}
.abs_top_right_outside {position:absolute;top:-25px !important;right:-25px !important;}
.abs_top_right_above {position:absolute;top:-25px !important}
.abs_top_left, .abs-top-left {position:absolute;top:0px;left:0px;}
.abs_top_left_outside {position:absolute;top:0px;left:-30px;}
.abs_top_left_inside {position:absolute;top:0px;left:30px;}
.abs_bottom_left_outside {position:absolute;bottom:-30px;left:-30px;}
.abs_left {position:absolute;left:0}
.abs_right {position:absolute;right:0}

.dot_outside {position:absolute;top:-8px !important;left:-18px !important;font-size:24px;}

.rel_right_outside{position:relative;right:-50px !important}
.rel_top_right_inside{position:relative;top:0px;right:50px !important}
.rel_top_right_outside {position:relative;top:-25px !important;right:-25px !important;}
.rel_top_right_above {position:relative;top:-25px !important}
.rel_top_left_outside {position:relative;top:0px;left:-30px;}
.rel_bottom_left_outside {position:relative;bottom:-30px;left:-30px;}

.gap {display: block;  position: relative;  margin: 30px 0 30px 0;  clear: both;}
.gap:after {clear: both;  content: '';  display: table;}
.gap-small {margin: 15px 0 15px 0;}
.gap-mini {margin: 10px 0 10px 0;}
.gap-big {margin: 60px 0 60px 0;}
.gap-large {margin: 90px 0 90px 0;}
.gap-top {margin-bottom: 0 !important;}
.gap-bottom {margin-top: 0 !important;}
.gap-border {border: 0;  border-top: 1px solid #ededed;  border-bottom: 1px solid #fff;}

.va-container-h {
  width: 100%;
}
.va-container-v {
  height: 100%;
}
.va-container {
  display: table;
  position: relative;
}

.link-reset {
  color: inherit;
}

.va-middle {
  vertical-align: middle;
}
.va-top, .va-middle, .va-bottom {
  display: table-cell;
}
.va-bottom {
  vertical-align: bottom;
}

.text-contrast {
  color: #fff;
}
.text-center {
  text-align: center;
}


.full-width {width:100%}

.show {
  display:block !important;
}
.hidden {
  display:none !important;
  visibility:hidden !important;
}

.invisible { visibility:hidden; }
.visible { visibility:visible; }
.middle {vertical-align:middle;}
UL.inline-list {
  padding: 0;
  list-style-type: none;
}
UL.inline-list LI {display:inline;}

.list-centered {
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.list-centered li {
  list-style-type: none;
  padding: 0 10px;
  float: left;  
}


/* Hide only visually, but have it available for screenreaders:h5bp.com/v */
.visuallyhidden { border:0; clip:rect(0 0 0 0); height:1px; margin:-1px; overflow:hidden; padding:0; position:absolute; width:1px; }
._hidden {position:absolute; top:0; left:-9999px; width:1px; height:1px; overflow:hidden; }
.float_left, .float-left {float:left;}
.float_right, .float-right {float:right;}
.float_clear {clear:both}
.clear_float, .clear, .clear-float {clear:both}
.clearfix:after {
    content:'';
    display:block;
    clear:both;
}

.border {border:1px solid black;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.border-top {border-top:1px solid black;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.border-bottom {border-bottom:1px solid black;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.border-bottom-light {border-bottom:1px solid grey;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.border-left-light {border-left:1px solid grey;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.red-border {border:1px solid red;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.green-border {border:1px solid green;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.blank-border {border:1px solid transparent;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.border-thick { border:2px solid black;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.border-10-thick { border:10px solid black;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.border-light {border:1px solid #ccc;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.dotted-border-left {border-left:1px dotted grey;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.courier {font-family:"Courier New", Courier, monospace;}

.pointer {cursor:pointer;}
.show-hide-icon {margin-right:6px;cursor:pointer;float:left}
.show-hide-body {clear:both}
.show-hide-title {cursor:pointer}

.font-size-18 {font-size:18px};
.font-size-24 {font-size:24px};

.black  {color:black;}
.red    {color:red;}
.blue   {color:blue;}
.green  {color:green;}
.yellow {color:yellow;}
.white  {color:white;}
.ztop {z-index:32000 !important}
.wide-modal {width: 800px !important}
.black_back, .blackbg  {background-color:black;}
.red_back, .redbg    {background-color:red;}
.blue_back, .bluebg   {background-color:blue;}
.green_back. .greenbg  {background-color:green;}
.yellow_back, .yellowbg {background-color:yellow;}
.white_back, .whitebg  {background-color:white;}
.salmon_back  {background-color:#fff7e0;}
.loading {
    -webkit-filter:grayscale(100%);
       -moz-filter:grayscale(100%);
        -ms-filter:grayscale(100%);
         -o-filter:grayscale(100%);
            filter:grayscale(100%);
}

.has-error input {border-width:2px;} /* not entirely generic, but.. */
.grey-filter {
    -webkit-filter:grayscale(100%);
       -moz-filter:grayscale(100%);
        -ms-filter:grayscale(100%);
         -o-filter:grayscale(100%);
            filter:grayscale(100%);
}
.center-cropped {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
}

/* Set the image to fill its parent and make transparent */
.center-cropped img {
  min-height: 100%;
  min-width: 100%;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 5-7 */
  filter: alpha(opacity=0);
  /* modern browsers */
  opacity: 0;
}
 
.css-table             { display: table }
.css-table .tr         { display: table-row }
.css-table .thead      { display: table-header-group }
.css-table .tbody      { display: table-row-group }
.css-table .tfoot      { display: table-footer-group }
.css-table .col        { display: table-column }
.css-table .colgroup   { display: table-column-group }
.css-table .td, .css-table .th { display: table-cell;padding-right:5px;}
.css-table .caption    { display: table-caption }
       
/* web20 table */
table.web20  {border-collapse: collapse;border: 1px solid #ccc;border-radius: 4px !important;-moz-border-radius: 4px !important;padding: 10px !important;font: normal 11px verdana, arial, helvetica, sans-serif;color: #363636;background: #f6f6f6;text-align:left;}
table.web20 caption {text-align: center;font: bold 16px arial, helvetica, sans-serif;background: transparent;padding:6px 4px 8px 0px;color: #363636;text-transform: uppercase;}
table.web20 thead, table.web20 tfoot {background:#d4d4d4;text-align:left;height:30px;}
table.web20 thead th, table.web20 tfoot th {padding:5px;}
table.web20  a {color: #333333;text-decoration:none;}
table.web20  a:hover {text-decoration:underline;}
table.web20 tr.odd {background: #f1f1f1;}
table.web20 tbody tr:hover td {background: #f6f6d4;}
table.web20 tbody th, table.web20 tbody td {padding:5px;}  

.w-80 {width: 80px !important}

/** From traveler styles.css */
.mb0 {  margin-bottom: 0 !important;}
.mt0 {  margin-top: 0 !important;}
.mr0 {  margin-right: 0 !important;}
.ml0 {  margin-left: 0 !important;}
.mb5 {  margin-bottom: 5px !important;}
.mt5 {  margin-top: 5px !important;}
.mr5 {  margin-right: 5px !important;}
.ml5 {  margin-left: 5px !important;}
.mb10 {  margin-bottom: 10px !important;}
.mt10 {  margin-top: 10px !important;}
.mr10 {  margin-right: 10px !important;}
.ml10 {  margin-left: 10px !important;}
.mb15 {  margin-bottom: 15px !important;}
.mt15 {  margin-top: 15px !important;}
.mr15 {  margin-right: 15px !important;}
.ml15 {  margin-left: 15px !important;}
.mb20 {  margin-bottom: 20px !important;}
.mt20 {  margin-top: 20px !important;}
.mr20 {  margin-right: 20px !important;}
.ml20 {  margin-left: 20px !important;}
.mb30 {  margin-bottom: 30px !important;}
.mt30 {  margin-top: 30px !important;}
.mr30 {  margin-right: 30px !important;}
.ml30 {  margin-left: 30px !important;}
.mb40 {  margin-bottom: 40px !important;}
.mt40 {  margin-top: 40px !important;}
.mr40 {  margin-right: 40px !important;}
.ml40 {  margin-left: 40px !important;}
.mb50 {  margin-bottom: 50px !important;}
.mt50 {  margin-top: 50px !important;}
.mt60 {  margin-top: 60px !important;}
.mr50 {  margin-right: 50px !important;}
.ml50 {  margin-left: 50px !important;}

/* Kjetil */
.mt-10 {  margin-top: -10px !important;}
.mt-15 {  margin-top: -15px !important;}
.mt-20 {  margin-top: -20px !important;}
.mt-30 {  margin-top: -30px !important;}
.mt-40 {  margin-top: -40px !important;}
.mt-50 {  margin-top: -50px !important;}
.pl5 {  padding-left: 5px !important;}
.pr5 {  padding-right: 5px !important;}
.pl10 {  padding-left: 10px !important;}
.pr10 {  padding-right: 10px !important;}
.pl15 {  padding-left: 15px !important;}
.pt5 {  padding-top: 5px !important;}
.pt10 {  padding-top: 10px !important;}
.pb10 {  padding-bottom: 10px !important;}
.pl20 {  padding-left: 20px !important;}
.pt20 {  padding-top: 20px !important;}
.pb20 {  padding-bottom: 20px !important;}
.pt30 {  padding-top: 30px !important;}
.pb30 {  padding-bottom: 30px !important;}
.pr30 {  padding-right: 30px !important;}
.pl30 {  padding-left: 30px !important;}
.pt40 {  padding-top: 40px !important;}
.pb40 {  padding-bottom: 40px !important;}
.pr40 {  padding-right: 40px !important;}
.pl40 {  padding-left: 40px !important;}
.pt50 {  padding-top: 50px !important;}
.pb50 {  padding-bottom: 50px !important;}
.pr50 {  padding-right: 50px !important;}
.pl50 {  padding-left: 50px !important;}

.gap {
  display: block;
  position: relative;
  margin: 30px 0 30px 0;
  clear: both;
}
.gap:after {
  clear: both;
  content: '';
  display: table;
}
.gap-small {
  margin: 15px 0 15px 0;
}
.gap-mini {
  margin: 10px 0 10px 0;
}
.gap-big {
  margin: 60px 0 60px 0;
}
.gap-large {
  margin: 90px 0 90px 0;
}
.gap-top {
  margin-bottom: 0 !important;
}
.gap-bottom {
  margin-top: 0 !important;
}
.gap-border {
  border: 0;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #fff;
}

/** full calendar - common to all sites */
.fc-event-selected {
  background-color: #8f8;
  font-weight: bold;
}

.intl-tel-input {
  display: table-cell;
  border: 1px solid transparent;
}

.bootstrap-tags .tags-input {
  height: 34px !important;
}

.pac-container {
  z-index: 2000 !important;
}

.user-avatar > a > img {
  width: 44px;
  height: 44px;
  margin-top: 5px;
  margin-right: 5px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  border: 2px solid rgba(0,0,0,0.1);
}

.user-avatar > a:hover > img {
  border: 2px solid #ed8323;
}

.round {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.round img {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

img.origin {
  width: auto;
}

