            <div class="sidebar-widget">
              <div class="Form">
                <input class="form-control" placeholder="Search..." type="text" />
              </div>
            </div>
            <div class="sidebar-widget">
              <h4>Categories</h4>
              <ul class="icon-list list-category">
                <li><a href="#"><i class="fa fa-angle-right"></i>Photos <small >(63)</small></a>
                </li>
                <li><a href="#"><i class="fa fa-angle-right"></i>Vacation <small >(94)</small></a>
                </li>
                <li><a href="#"><i class="fa fa-angle-right"></i>Flights <small >(56)</small></a>
                </li>
                <li><a href="#"><i class="fa fa-angle-right"></i>Travel Advices <small >(80)</small></a>
                </li>
                <li><a href="#"><i class="fa fa-angle-right"></i>Trending Now <small >(83)</small></a>
                </li>
                <li><a href="#"><i class="fa fa-angle-right"></i>Hotels <small >(89)</small></a>
                </li>
                <li><a href="#"><i class="fa fa-angle-right"></i>Places to Go <small >(69)</small></a>
                </li>
                <li><a href="#"><i class="fa fa-angle-right"></i>Travel Stories <small >(64)</small></a>
                </li>
              </ul>
            </div>
            <div class="sidebar-widget">
              <h4>Popular Posts</h4>
              <ul class="thumb-list">
                <li>
                  <a href="#">
                    <img src="/traveler/img/70x70.png" alt="Image Alternative text" title="Viva Las Vegas" />
                  </a>
                  <div class="thumb-list-item-caption">
                    <p class="thumb-list-item-meta">Jul 18, 2014</p>
                    <h5 class="thumb-list-item-title"><a href="#">Molestie praesent</a></h5>
                    <p class="thumb-list-item-desciption">Natoque rhoncus rhoncus sociis taciti</p>
                  </div>
                </li>
                <li>
                  <a href="#">
                    <img src="/traveler/img/70x70.png" alt="Image Alternative text" title="4 Strokes of Fun" />
                  </a>
                  <div class="thumb-list-item-caption">
                    <p class="thumb-list-item-meta">Jul 18, 2014</p>
                    <h5 class="thumb-list-item-title"><a href="#">Eleifend dis</a></h5>
                    <p class="thumb-list-item-desciption">Adipiscing ligula porttitor ipsum a</p>
                  </div>
                </li>
                <li>
                  <a href="#">
                    <img src="/traveler/img/70x70.png" alt="Image Alternative text" title="Cup on red" />
                  </a>
                  <div class="thumb-list-item-caption">
                    <p class="thumb-list-item-meta">Jul 18, 2014</p>
                    <h5 class="thumb-list-item-title"><a href="#">Porta nunc</a></h5>
                    <p class="thumb-list-item-desciption">Mattis a lacinia vulputate blandit</p>
                  </div>
                </li>
              </ul>
            </div>
            <div class="sidebar-widget">
              <h4>Twitter Feed</h4>
              <div class="twitter" id="twitter"></div>
            </div>
            <div class="sidebar-widget">
              <h4>Recent Comments</h4>
              <ul class="thumb-list thumb-list-right">
                <li>
                  <a href="#">
                    <img class="rounded" src="/traveler/img/70x70.png" alt="Image Alternative text" title="Afro" />
                  </a>
                  <div class="thumb-list-item-caption">
                    <p class="thumb-list-item-meta">6 minutes ago</p>
                    <h4 class="thumb-list-item-title"><a href="#">Keith Churchill</a></h4>
                    <p class="thumb-list-item-desciption">Erat praesent cursus taciti a dictum ridiculus...</p>
                  </div>
                </li>
                <li>
                  <a href="#">
                    <img class="rounded" src="/traveler/img/70x70.png" alt="Image Alternative text" title="Gamer Chick" />
                  </a>
                  <div class="thumb-list-item-caption">
                    <p class="thumb-list-item-meta">5 minutes ago</p>
                    <h4 class="thumb-list-item-title"><a href="#">Joseph Hudson</a></h4>
                    <p class="thumb-list-item-desciption">Iaculis faucibus etiam nisl facilisi massa ut...</p>
                  </div>
                </li>
                <li>
                  <a href="#">
                    <img class="rounded" src="/traveler/img/70x70.png" alt="Image Alternative text" title="AMaze" />
                  </a>
                  <div class="thumb-list-item-caption">
                    <p class="thumb-list-item-meta">5 minutes ago</p>
                    <h4 class="thumb-list-item-title"><a href="#">Cheryl Gustin</a></h4>
                    <p class="thumb-list-item-desciption">Tempor risus quisque egestas venenatis potenti lobortis...</p>
                  </div>
                </li>
              </ul>
            </div>
            <div class="sidebar-widget">
              <h4>Archive</h4>
              <ul class="icon-list list-category">
                <li><a href="#"><i class="fa fa-angle-right"></i>July 2014</a>
                </li>
                <li><a href="#"><i class="fa fa-angle-right"></i>June 2014</a>
                </li>
                <li><a href="#"><i class="fa fa-angle-right"></i>May 2014</a>
                </li>
                <li><a href="#"><i class="fa fa-angle-right"></i>April 2014</a>
                </li>
                <li><a href="#"><i class="fa fa-angle-right"></i>March 2014</a>
                </li>
                <li><a href="#"><i class="fa fa-angle-right"></i>February 2014</a>
                </li>
                <li><a href="#"><i class="fa fa-angle-right"></i>January 2014</a>
                </li>
                <li><a href="#"><i class="fa fa-angle-right"></i>December 2014</a>
                </li>
              </ul>
            </div>
            <div class="sidebar-widget">
              <h4>Gallery</h4>
              <div class="row row-no-gutter">
                <div class="col-md-4">
                  <a class="hover-img" href="#">
                    <img src="/traveler/img/100x100.png" alt="Image Alternative text" title="The Big Showoff-Take 2" />
                  </a>
                </div>
                <div class="col-md-4">
                  <a class="hover-img" href="#">
                    <img src="/traveler/img/100x100.png" alt="Image Alternative text" title="Spidy" />
                  </a>
                </div>
                <div class="col-md-4">
                  <a class="hover-img" href="#">
                    <img src="/traveler/img/100x100.png" alt="Image Alternative text" title="b and w camera" />
                  </a>
                </div>
                <div class="col-md-4">
                  <a class="hover-img" href="#">
                    <img src="/traveler/img/100x100.png" alt="Image Alternative text" title="Happy Bokeh Day" />
                  </a>
                </div>
                <div class="col-md-4">
                  <a class="hover-img" href="#">
                    <img src="/traveler/img/100x100.png" alt="Image Alternative text" title="sunny wood" />
                  </a>
                </div>
                <div class="col-md-4">
                  <a class="hover-img" href="#">
                    <img src="/traveler/img/100x100.png" alt="Image Alternative text" title="4 Strokes of Fun" />
                  </a>
                </div>
                <div class="col-md-4">
                  <a class="hover-img" href="#">
                    <img src="/traveler/img/100x100.png" alt="Image Alternative text" title="Good job" />
                  </a>
                </div>
                <div class="col-md-4">
                  <a class="hover-img" href="#">
                    <img src="/traveler/img/100x100.png" alt="Image Alternative text" title="a dreamy jump" />
                  </a>
                </div>
                <div class="col-md-4">
                  <a class="hover-img" href="#">
                    <img src="/traveler/img/100x100.png" alt="Image Alternative text" title="Me with the Uke" />
                  </a>
                </div>
              </div>
            </div>
            <div class="sidebar-widget">
              <h4>Facebook</h4>
              <div class="fb-like-box" data-href="https://www.facebook.com/FacebookDevelopers" data-colorscheme="light" data-show-faces="1" data-header="1" data-show-border="1" data-width="233"></div>
            </div>
