			<!-- CONTENT -->
			<section>
				<div class="container">

					<div id="blog" class="row">

						<!-- BLOG ARTICLE SINGLE -->
						<div class="col-md-9 col-sm-9">
						
            <a href="{$smarty.const.PAGE_NEWS|link}" class="btn btn-success"><i class="fa fa-arrow-left"></i> {'back'|translate:'t'}</a>
						<!-- ARTICLE FORM -->
            {if ($scope.auth_add_article)}
            <button href="#article-form-modal" data-form="#article-form" data-backdrop="static" data-toggle="modal" type="button" class="btn btn-success reset-form">{'add article'|translate:'t'}</button>
            {/if}

						{{"include": "_article-item.html"}}
						
						{{"include": "_article-pagination.html"}}
					  

						</div>
						<!-- /BLOG ARTICLE LIST -->

						{{"include": "_article-sidebar.html"}}
					</div>


				</div>
			</section>
			<!-- /CONTENT -->

