{$booking = $scope.booking}
{$in = $booking.checkin}
{$out = $booking.checkout}
{$date_range = $in|daterange:$out}

              <div class="panel-quote-flush panel">
                <div class="alert alert-with-icon alert-info alert-block row-space-4">
                 {{"include": "_booking-request-summary.html"}}
                  <div class="h3">
                     Ready to book?
                  </div>
                  <p>
                     {$booking.host_id|username} pre-approved your stay at {$booking.apartment_name}. Book now to confirm your reservation for {$date_range}.
                  </p>
                  <div class='gap gap-small'></div>
                  <a href="{$smarty.const.PAGE_PAYMENT|link}{$scope.inv_id}{if ($scope.pin_code)}?pin={$scope.invoice.booking_pin|myhash}{/if}" class="btn btn-primary">Book It</a>
                </div>
              </div>

