<div id="booking_arrival_dialog" class="modal wide-modal fade dialog-simple" tabindex="-1" data-replace="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <b class="modal-title">{$scope.title|default:"Edit Guest Details"}</b>
      </div>
      
      <div class="modal-body container-fluid">    
        <form id="booking_arrival_form" class="ajax-submit" data-handler="save-booking" data-reload_link="#booking-status-overview" method="post">
          <input name="res_id" type="hidden">
        
          <div class="form-group col-sm-4">
            <label for="salutation">Arrive By</label>
            <select class="form-control" id="salutation" name="arrival_method">
              <option value="">Select...</option>
              <option value="air" selected="selected">Air</option>
              <option value="car">Car</option>
              <option value="train">Train</option>
              <option value="bus">Bus</option>
              <option value="boat">Boat</option>
              <option value="other">Other</option>
            </select>
          </div>
          
          <div class="form-group col-sm-4">
            <label for="arrival-arrival_from">City of Departure</label>  
            <input class="form-control" type="text" name="arrival_from" id="arrival-arrival_from" maxlength="32">
          </div>
          <div class="form-group col-sm-4">
            <label for="arrival-arrival_number">Flight/Train #</label>
            <input class="form-control" type="text" name="arrival_number" id="arrival-arrival_number" maxlength="50">
          </div>
          <div class="form-group col-sm-4">
            <label for="arrival-arrival_time">Arrival time at airport/station</label>
            <input class="form-control timepicker" data-step="15" data-time-format="H:i" class="" name="arrival_time" type="text" id="arrival-arrival_time" autocomplete="off">
          </div>
          <div class="form-group col-sm-4">
            <label for="arrival-arrival_property">Expected arrival time at rental</label>
            <input class="form-control timepicker" data-step="15" data-time-format="H:i" name="arrival_property" type="text" id="arrival-arrival_property" autocomplete="off">
          </div>
          <div class="form-group col-sm-4">
            <label for="arrival-arrival_notes">Notes</label>
            <input class="form-control" type="text" name="arrival_notes" id="arrival-arrival_notes" maxlength="100">
          </div>
    
          <br>
      
          <input class="btn btn-success" name="edit_object" type="submit" value="Save"> 
          <button type="button" data-dismiss="modal" class="btn btn-danger">Cancel</button>
          
        </form>
      </div>
    </div>
  </div>
</div>
    
