                          {if ($scope.feedback) }
                            <h3>Guest feedback</h3>
                            {assign "review" $scope.feedback}
                            {{"include": "_rental-review-item.html"}}
                          {elseif ($scope.guest_id == $user.id) }
                            <h3>Write a Review</h3>                            
                            {{"include": "_rental-feedback-form.html"}}
                          {else}
                            <h3>No feedback yet</h3>
                          {/if}

