    {if ($scope.is_host)}
    {$grand_total = $booking.grand_total - $booking.fee_service}
    {else}
    {$grand_total = $booking.grand_total}    
    {/if}
    <div class="panel-body panel-dark">
      <div class="row">
        <div class="col-md-8">
          <div class="h4">
            {$scope.rental.name}
            <br>
            <small>
              {$date_range} ({$booking.num_days} {if ($booking.num_days == 1)}{"day"|translate}{else}{"days"|translate}{/if})
              ·
              {$booking.num_guests} {if ($booking.num_guests == 1)}{"guest"|translate}{else}{"guests"|translate}{/if}
            </small>
          </div>
        </div>
        <div class="col-md-4">
            <div class="h2 pull-right text-right">
              <sup class="h4">
                {$booking.currency|currency}
              </sup>{$grand_total}
              <span class="h6">
                <i data-behavior="tooltip" data-position="bottom" data-sticky="true" class="icon icon-question" aria-label="This is the total payout you could earn by booking this reservation (we've already deducted our service fees). It includes your cleaning fee, if you have added one. For more information about how payouts work, visit the <a href='/help/article/63' target='_blank'>Help Center</a>."></i>
              </span>
            </div>
        </div>
      </div>
    </div>

