          <div id="dt_spinner">
            <i class="fa fa-spinner fa-spin"></i>
          </div>
          <div id="dt_total" class='dialog-total collapse inline-block cd-hide-block'>
            <div id="dt_rate" class='inline-block' style="margin-left: 12px">
              <span class="reservation-currency"></span><span class='reservation-rate'>0.00</span>/<span class='reservation-rate_type'></span>
              <div id="dt_quantity" class='inline-block'> x <span class="reservation-quantity"></span></div>
            </div> 
            <div id="dt_discount" class='booking-total-line collapse inline-block'> - 
              <span class="reservation-currency"></span><span class='reservation-discount'></span><div id='dt_discount_unit' class='inline-block'>/</span><span class='reservation-rate_type'></span></div> (discount)
            </div> 
            <div id="dt_city_tax" class='collapse booking-total-line inline-block'> +
              <span class="reservation-currency"></span><span class='currency_total reservation-city_tax'>0.00</span> (city tax)
            </div>
            <div id="dt_fees" class='collapse booking-total-line inline-block'> +
              <span class="reservation-currency"></span><span class='currency_total reservation-fees'>0.00</span> (fees)
            </div>
            <div id="dt_service_fee" class='collapse booking-total-line inline-block'> +
              <span class="reservation-currency"></span><span class='currency_total reservation-service_fee'>0.00</span> (service)
            </div>  
            <div id="dt_tax" class='collapse booking-total-line inline-block'> +
              <span class="reservation-currency"></span><span class='currency_total reservation-tax'>0.00</span> (VAT)
            </div>  
          = <span class="reservation-currency bold"></span><span class='currency_total reservation-total bold'>0.00</span> 
            <div class="inline-block bold" id="dt_ch_tax">
              <span id="dt_ex_tax" class="collapse"> incl. VAT</span>
              <span id="dt_in_tax" class="collapse"> incl. VAT</span>
            </div>
          </div>
          