

<!-- New Modal Calendar Dialog -->
<div class="modal modal-admin fade" id="cal_dialog" data-backdrop="static" data-keyboard="false" 
     tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
     
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <b class="overlay-title">{$scope.title|default:"New Reservation"}</b>
      </div>
       
      <form name="booking-form" class="cal-form ajax-submit" id="calendar_dialog_form" 
        data-handler="calendar-booking" data-success_handler="calendar_reload">
        <div class="modal-body">
          {{"include": "_booking-form.html"}}
        </div>
        <div class="modal-footer">
          <div class="row">
            <div class="col-xs-12 col-sm-6">            
              {{"include": "_booking-form-footer.html"}}
            </div>
            <div class="col-xs-12 col-sm-6">
              <button type="button" class="btn btn-primary collapse" id="cd-reset">Reset</button>
              <button type="button" class="btn btn-danger" id="cd-cancel" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-success" id="cd-save">Save</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- /.modal -->

     
