  <form id="calendar_search_form" class="ajax-submit" action="/calendar/" data-handler="calendar-search" data-success_handler="calendar_search_handler">

    <input type="hidden" name="site_id" value="{$site.id}" />
    <input type="hidden" name="t" value="{$scope.cal_params.property_type|default:'shortstay'}" />

    {if ($scope.cal_params.clients|@count)}
    <div class="col-md-2 relative nogutter">
      <select class="form-control" id="client_id" name="client_id">
        <option {if (!$scope.cal_params.cal_search.client_id)} selected="selected"{/if} value="0">All Clients</option>
        {foreach $scope.cal_params.clients item=client}
          <option{if ($scope.cal_params.cal_search.client_id == $client.id)} selected="selected"{/if} value="{$client.id}">{$client.name|default:$client.id}</option>
        {/foreach}                                            
      </select>
      <span class="input-icon"><i class="fa fa-building-o"></i></span>
    </div>               
    {else}
    <input type="text" name="client_id" placeholder="client" class="" value="{$scope.cal_params.client_id}">
    {/if}

    {if (0)}
    <input type="text" name="host_id"   placeholder="host" class="" value="{$scope.cal_params.host_id}">
    {else}
    <div class="col-md-2 relative nogutter">
      <select class="form-control" id="host_id" name="host_id">
        <option {if (!$scope.cal_params.cal_search.host_id)} selected="selected"{/if} value="0">All Hosts</option>
        {foreach $scope.cal_params.hosts item=host}
          <option{if ($scope.cal_params.cal_search.host_id == $host.id)} selected="selected"{/if} value="{$host.id}">{$host.name|default:$host.id}</option>
        {/foreach}                                            
      </select>
      <span class="input-icon"><i class="icon-user"></i></span>
    </div>               
    {/if}
    
    <div class="col-md-2 relative nogutter">
      <select class="form-control" id="max_guests" name="max_guests">
        <option {if (!$scope.cal_params.cal_search.max_guests)} selected="selected"{/if} value="0">Guests</option>
        {section name=max_guests start=1 loop=8 step=1}
          <option{if ($scope.cal_params.cal_search.max_guests == $smarty.section.max_guests.index)} selected="selected"{/if} value="{$smarty.section.max_guests.index}">{$smarty.section.max_guests.index} Guest{if ($smarty.section.max_guests.index != 1)}s{/if} </option>
        {/section}                                            
        <option {if ($scope.cal_params.cal_search.max_guests >= 8)} selected="selected"{/if} value="8">8+ Guests</option>
      </select>
      <span class="input-icon"><i class="icon-users"></i></span>
    </div>               

    <input type="submit" class="btn btn-primary" value="Search">              
    <!--input type="submit" class="btn btn-danger form-resubmit" value="Reset">              
    <input type="submit" class="btn btn-danger reset-form-submit" value="R"-->              

  </form>
