

<!-- New Modal Calendar Dialog -->
<div class="modal fade" id="cal_dialog_old" data-backdrop="static" data-keyboard="false" 
     tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <form name="cal-dialog-form" class="cal-form ajax-submit" id="overlay_form" 
        data-handler="calendar-booking" data-success_handler="add_reservation_handler">
    <!--input name="obj_type"       type="text" id="obj_type">
    <input name="property_type"  type="text" id="property_type">
    <input name="city_id"        type="text" id="city_id">
    <input name="apartment_name" type="text" id="apartment_name">
    <input name="res_id"         type="text" id="res_id">
    <input name="hourly"         type="text" id="hourly">
    <input name="created"        type="text" id="created">
    <input name="num_hours"      type="text" id="num_hours">
    <input name="apt_list"       type="text" id="apt_list"-->

    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h2 class="modal-title">Add/Edit Reservation</h2>
    </div>
    <div class="modal-body" id="overlay_content">
      Loading dialog...
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
      <button type="submit" class="btn btn-success" id="cal_dialog_save">Save</button>
    </div>
  </form>
    
</div>
<!-- /.modal -->

