  <div class="panel">
    <ul class="nav nav-tabs" role="tablist" data-permalink="true">
      <li class="active">
        <a href="#flexible" data-toggle="tab" aria-controls="flexible" aria-selected="false" class="tab-item" role="tab">{'flexible'|translate:'c'}</a>
      </li>
      <li>
        <a href="#moderate" data-toggle="tab" aria-controls="moderate" aria-selected="true" class="tab-item" role="tab">{'moderate'|translate:'c'}</a>
      </li>
      <li>
        <a href="#strict" data-toggle="tab" aria-controls="strict" aria-selected="false" class="tab-item" role="tab">{'strict'|translate:'c'}</a>
      </li>
    </ul>
    <div class="tab-content">
      <div id="flexible" class="panel-body tab-pane fade in active" role="tabpanel" aria-hidden="true">
        <h3>{{"name": "cancellation-heading-flexible", "type":"text", "value":"Flexible: Full refund 1 day prior to arrival, except fees"}}</h3>
        {{"name": "cancellation-text-flexible", "type":"html", "value":"    
        <ul>
          <li>For a full refund, cancellation must be made a full 24 hours prior to listing’s local check in time (or 15.00/3:00 PM if not specified) on the day of check in. For example, if check-in is on Friday, cancel by Thursday of that week before check in time.</li>
          <li>If the guest cancels less than 24 hours before check-in, the first night is non-refundable.</li>
          <li>If the guest arrives and decides to leave early, the nights not spent 24 hours after the official cancellation are 100% refunded.</li>          
          <li>Cleaning fees are always refunded if the guest did not check in.</li>
          <li>The {$site.name} service fee is non-refundable.</li>
          <li>If there is a complaint from either party, notice must be given to {$site.name} within 24 hours of check-in.</li>
          <li>{$site.name} will mediate when necessary, and has the final say in all disputes.</li>
          <li>A reservation is officially canceled when the guest clicks the cancellation button on the cancellation confirmation page, which they can find in Dashboard &gt; Your Trips &gt; Change or Cancel.</li>
          <li>Cancellation policies may be superseded by the Guest Refund Policy, safety cancellations, or extenuating circumstances. Please review these exceptions.</li>
          <li>Applicable taxes will be retained and remitted.</li>
        </ul>
        "}}
      </div>
      <div id="moderate" class="panel-body tab-pane fade in" role="tabpanel" aria-hidden="false">
        <h3>{{"name": "cancellation-heading-moderate", "type":"text", "value":"Moderate: Full refund 5 days prior to arrival, except fees"}}</h3>
        {{"name": "cancellation-text-moderate", "type":"html", "value":"    
        <ul>
          <li>For a full refund, cancellation must be made five full days prior to listing’s local check in time (or 15.00/3:00 PM if not specified) on the day of check in. For example, if check-in is on Friday, cancel by the previous Sunday before check in time.</li>
          <li>If the guest cancels less than 5 days in advance, the first night is non-refundable but the remaining nights will be 50% refunded.</li>
          <li>If the guest arrives and decides to leave early, the nights not spent 24 hours after the cancellation occurs are 50% refunded.</li>
          <li>Cleaning fees are always refunded if the guest did not check in.</li>
          <li>The {$site.name} service fee is non-refundable.</li>
          <li>If there is a complaint from either party, notice must be given to {$site.name} within 24 hours of check-in.</li>
          <li>{$site.name} will mediate when necessary, and has the final say in all disputes.</li>
          <li>A reservation is officially canceled when the guest clicks the cancellation button on the cancellation confirmation page, which they can find in Dashboard &gt; Your Trips &gt; Change or Cancel.</li>
          <li>Cancellation policies may be superseded by the Guest Refund Policy, safety cancellations, or extenuating circumstances. Please review these exceptions.</li>
          <li>Applicable taxes will be retained and remitted.</li>
        </ul>
          "}}
      </div>
      <div id="strict" class="panel-body tab-pane fade in" role="tabpanel" aria-hidden="true">
        <h3>{{"name": "cancellation-heading-strict", "type":"text", "value":"Strict: 50% refund up until 1 week prior to arrival, except fees"}}</h3>
        {{"name": "cancellation-text-strict", "type":"html", "value":"    
        <ul>
          <li>For a 50% refund, cancellation must be made seven full days prior to listing’s local check in time (or 15.00/3:00 PM if not specified) on the day of check in, otherwise no refund. For example, if check-in is on Friday, cancel by Friday of the previous week before check in time.</li>
          <li>If the guest cancels less than 7 days in advance, the nights not spent are not refunded.</li>
          <li>If the guest arrives and decides to leave early, the nights not spent are not refunded.</li>
          <li>Cleaning fees are always refunded if the guest did not check in.</li>
          <li>The {$site.name} service fee is non-refundable.</li>
          <li>If there is a complaint from either party, notice must be given to {$site.name} within 24 hours of check-in.</li>
          <li>{$site.name} will mediate when necessary, and has the final say in all disputes.</li>
          <li>A reservation is officially canceled when the guest clicks the cancellation button on the cancellation confirmation page, which they can find in Dashboard &gt; Your Trips &gt; Change or Cancel.</li>
          <li>Cancellation policies may be superseded by the Guest Refund Policy, safety cancellations, or extenuating circumstances. Please review these exceptions.</li>
          <li>Applicable taxes will be retained and remitted.</li>
        </ul>
        "}}
      </div>
    </div><!-- tab content -->
  </div><!-- panel -->
