							<!-- SIDE NAV -->
							<ul class="side-nav list-group" id="sidebar-nav">
								<li class="list-group-item class-filter active" data-target=".item" data-on=""                   ><a href="#" class="click-parent">{'all'|translate:'c'}</a></li>
								<li class="list-group-item class-filter"        data-target=".item" data-on=".loc_local"         ><a href="#" class="click-parent">{'local'|translate:'c'}</a></li>
								<li class="list-group-item class-filter"        data-target=".item" data-on=".loc_national"      ><a href="#" class="click-parent">{'national'|translate:'c'}</a></li>
								<li class="list-group-item class-filter"        data-target=".item" data-on=".loc_international" ><a href="#" class="click-parent">{'international'|translate:'c'}</a></li>
							</ul>
							<!-- /SIDE NAV -->
