    <div id="wrapper">
			<div id="header"><!-- class="sticky" for sticky menu -->
				<!-- Top Bar -->
				<!--$bar-->
				<!-- /Top Bar -->

				<!-- Top Nav -->
				<header id="topNav">
					<div class="container">

						<!-- Mobile Menu Button -->
						<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
							<i class="fa fa-bars"></i>
						</button>

						<!-- Search -->
						<!--$search-->
						<!-- /Search -->

						<!-- Top Nav -->
						<!--$nav-->
						<!-- /Top Nav -->

					</div><!-- /.container -->
				</header>
				<!-- /Top Nav -->

			</div>


			<!-- PAGE TOP -->
			<!--$page_top-->
			<!-- /PAGE TOP -->

			<!-- CONTENT -->
                        <!--$content-->
			<!-- /CONTENT -->

			<!-- FOOTER -->
			<!--$footer-->
			<!-- /FOOTER -->

			<a href="#" id="toTop"></a>
		</div><!-- /#wrapper -->