{if (!$message)}
{$message = $scope}
{/if}

{if ($message.special_offer_id && $message.parent_id == $booking.res_id) && ($special_offer.active || $booking.host_id == $user.id)}
  {$special_offer = $message.special_offer_id|get:"special_offer"}
    {$class = ($special_offer.active) ? "" : "overstrike"} 
                            <div class="row margin-top">
                              <div class="panel-quote-flush panel">
                                <div class="alert alert-with-icon alert-info alert-block row-space-4">
                                  <div class="h3 no-margin nopad {$class}">
                                     Special Offer: {$special_offer.currency|currency} {$special_offer.rate_base|round} total for {$special_offer.num_days} nights
                                     {if ($special_offer.active && $booking && $booking.host_id == $user.id && ($booking.status == $smarty.const.STATUS_REQUEST || $booking.status == $smarty.const.STATUS_PROPOSED))}

                                      <form id="remove_so_form" class="ajax-submit"
                                            data-soft_reload="{$page_template}" data-controller="{$page_controller}" data-handler="remove-special-offer"
                                            data-success_handler="traveler_ready">
                                            <input type="hidden" name="special_offer_id" value="{$special_offer.id}">
                                            <div class="right">
                                              <a href="javascript:void(0)" class="btn btn-danger"
                                                 data-toggle="confirmation" data-on-confirm="submit_parent_form">
                                                <i class="fa fa-times"></i> Remove Special Offer
                                              </a>
                                            </div>
                                      </form>
                                     {/if}
                                  </div>
                                     {if (!$special_offer.active)}
                                     (Removed)
                                     {/if}
                                  
                                </div>
                              </div>
                            </div>

{elseif ($message.status_change && $message.parent_id == $booking.res_id)}
  {$status = $message.status_change}
  {$status_name = $message.status_change|get:"res_status":"name"|lower}
  {$status_text = "The booking was `$status_name`"}
  
  {$class = ($status < 0) ? 'danger' : 'success'}
  {if ($status == $smarty.const.STATUS_INQUIRY)} 
    {$status_text = "The guest made an inquiry."}
  {elseif ($status == $smarty.const.STATUS_REQUEST)} 
    {$status_text = "The request was made by the guest ."}
  {elseif ($status == $smarty.const.STATUS_PROPOSED)} 
    {$status_text = "The request was accepted by the host."}
  {elseif ($status == $smarty.const.STATUS_RESERVED || $status == $smarty.const.STATUS_COMPLETE)} 
    {$status_text = "The offer was accepted and paid by the guest."}
  {/if}
  
  
                            <div class="row margin-top">
                              <div class="panel-quote-flush panel">
                                <div class="alert alert-with-icon alert-{$class} alert-block row-space-4">
                                  <div class="h3 no-margin nopad">
                                     {$status_text} 
                                  </div>
                                </div>
                              </div>
                            </div>

  
{/if}

                            <div class="row margin-top">
{if ($message.receiver_id == $user.id || $message.receiver_id == $scope.first_user.id)}
{$class = ($message.read_on) ? '' : 'bold'}

                              <div class="col-md-1 table-cell">
                              </div>              
                              <div class="col-md-10 table-cell">
                                <p class="speech speech-right {$class}">{$message.message}</p>
                                <div class="right">Sent {$message.created|elapsed}</div>                                
                              </div>
                              <div class="col-md-1 table-cell user-avatar">
                                  {if ($message.sender_id)}<a href="{$smarty.const.PAGE_PROFILE|link}{$message.sender_id}">{/if}
                                      <img class="origin round" src="{$message.sender_id|userphoto:'thumb'}" 
                                           title="{$message.sender_id|username}">
                                  {if ($message.sender_id)}</a>{/if}
                              </div>              
{else}
                              <div class="col-md-1 table-cell user-avatar">
                                  {if ($message.sender_id)}<a href="{$smarty.const.PAGE_PROFILE|link}{$message.sender_id}">{/if}
                                      <img class="origin round" src="{$message.sender_id|userphoto:'thumb'}" 
                                           title="{$message.sender_id|username}">
                                  {if ($message.sender_id)}</a>{/if}
                              </div>              
                              <div class="col-md-10 table-cell">
                                <p class="speech speech-left">{$message.message}</p>
                                <div class="left">Sent {$message.created|elapsed}</div>
                              </div>
                              <div class="col-md-1 table-cell">
                              </div>              
{/if}
                            </div>


