        {if ($scope.threads)}          
          <ul class="list thread-list panel">
          {foreach from=$scope.threads item=thread}   
            {if ($thread.parent_type == 'reservation' && $thread.parent_id > 0)}
              {$res = $thread.parent_id|get:"reservation"}
              {$in = $res.checkin}
              {$out = $res.checkout}
              {$rental_name = $res.apartment_name}
              {$status = $res.status|get:"res_status":"name"}
              {$label = $res.status|get:"res_status":"label"}
            {else}
            {/if}
            {$thread_class = ($thread.unread_count > 0) ? "bold" : ""}
            <li class="panel-body thread js-thread thread-read">
              <div class="row">
                <div class="user-avatar col-sm-1 col-xs-4">
                  <a href="{$smarty.const.PAGE_PROFILE|link}{$thread.other_user_id}">
                    <img class="round" src='{$thread.other_user_id|userphoto:"thumb"}'>
                  </a>
                </div>
                <div class="col-sm-2 thread-name">
                  {$thread.other_user_id|username}
                  <br>
                  <span class="thread-date">{$thread.created|elapsed}</span>
                </div>
                <div class="col-sm-8  col-xs-8 thread-body">
                  <a href="{$smarty.const.PAGE_INBOX|link}{$thread.thread}" class="thread-link link-reset text-muted">
                    <span class="thread-subject {$thread_class}">
                    {$thread.id|get:"chat":"message"|truncate:80:"..."}
                    {if ($thread.unread_count >0)}
                    <br>
                    {if ($thread.alert)} <i class="fa fa-bell-o"></i> Action required! {/if} {$thread.unread_count} unread messages.
                    {/if}
                    </span>
                    <div class="text-muted show-lg">
                    {if ($thread.parent_type == 'reservation' && $thread.parent_id)}
                      {$rental_name}<br>
                      {$in|daterange:$out}
                    {/if}
                    </div>
                  </a>    
                </div>
                <div class="col-sm-1 col-xs-1 thread-label">
                  <div class="row">
                    <div class="col-sm-12 col-md-6">
                      <a href="{$smarty.const.PAGE_INBOX|link}{$thread.thread}" class="thread-link link-reset text-muted">
                        <span class="label label-{$label}">{$status}</span>
                        <br>
                        {$res.currency|currency}{$res.grand_total|round}<br>
                        {$thread.unread_count}{if ($thread.alert)} {/if}
                      </a>
                    </div>
                    {*
                    <div class="col-sm-6 options thread-actions hide-sm">
                      <ul class="thread-actions list-unstyled">
                        <li class="row-space-1">
                          <a class="link-reset thread-action js-star-thread " href="#">
                            <i class="icon icon-star icon-beach"></i>
                            <i class="icon icon-star-alt icon-gray"></i>
                            <span class="thread-unstar">
                              Unstar
                            </span>
                            <span class="thread-star">
                              Star
                            </span>
                          </a>
                        </li>
                        <li id="thread_85190875_hidden">
                          <a class="link-reset thread-action js-archive-thread " href="#" data-thread-id="85190875">
                            <i class="icon icon-archive icon-gray"></i>
                            Archive
                          </a>
                        </li>
                      </ul>
                    </div>
                    *}
                    
                  </div>
                </div>
              </div>
            </li>
          {/foreach}
          </ul>          
        {else}
        <b>{"no new messages"|translate:'c'}</b> 
        {if ($page.page_type != $smarty.const.PAGE_INBOX)}<a href="{$smarty.const.PAGE_INBOX|link}">{'view inbox'|translate:'c'}</a>{/if}       
        <div class="gap gap-small"></div>
        {/if}

