<div id="invoice_edit_dialog" class="modal wide-modal fade dialog-simple" tabindex="-1" data-replace="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <b class="modal-title">{$scope.title|default:"Edit Invoice"}</b>
      </div>
      
      <div class="modal-body container-fluid">
        <table class="table" id="invoice_table" 
           data-cache="false" 
           data-striped="true"
           data-search="false"
           >
           
          <!--thead>     
            <tr>
              <th data-field="type">Type</th>
              <th data-field="tax_percentage">Tax Category</th>
              <th data-field="description" data-editable="true">Description</th>
              <th data-field="quantity" data-editable="true">Quantity</th>
              <th data-field="amount" data-editable="true">Amount</th>
              <th data-field="total">Total</th>
              <th data-field="tax_of_which">Of Which Tax</th>
            </tr>
          </thead-->
          <tfoot>     
            <tr>
              <th>Total</th>
              <th></th>
              <th></th>         
              <th></th>         
              <th></th>
              <th>{$scope.sum_total}</th>
              <th>{$scope.sum_tax_of_which}</th>
            </tr>
          </tfoot>
        
        </table>
      </div>
    </div>
  </div>
</div>

<!--
       data-pagination="true"
       data-side-pagination="server"             
       data-page-list="[5, 10, 20, 50, 100, 200]"
       
       data-toolbar="#toolbar"
       data-search="true"
       data-show-refresh="true"
       data-show-toggle="true"
       data-show-columns="true"
       data-show-export="true"
       data-detail-view="true"
       data-detail-formatter="detailFormatter"
       data-show-pagination-switch="true"       
-->       
<script>
    var edit_url = '{$scope.edit_url}';
{literal}
    var g_columns = [
    {
      field: 'id',
      title: 'ID',
      sortable: true,
      footerFormatter: totalTextFormatter
    }, {
      field: 'description',
      title: 'Item Name',
      sortable: true,
      editable: {
        params: function(params) {
          var rows = $table.bootstrapTable('getData'),
              index = $(this).parents('tr').data('index');
          var row = rows[index];
          var data = {"id": row.id};
          data[params.name] = params.value;
          return data;
        },
        url: edit_url,
      },
      footerFormatter: totalNameFormatter,
    }, {
      field: 'quantity',
      title: 'Quantity',
      sortable: true,
      editable: {
        params: function(params) {
          var rows = $table.bootstrapTable('getData'),
              index = $(this).parents('tr').data('index');
          var row = rows[index];
          var data = {"id": row.id};
          data[params.name] = params.value;
          return data;
        },
        url: edit_url,
      }
    }, {
      field: 'amount',
      title: 'Amount',
      sortable: true,
      editable: {
        type: 'text',
        params: function(params) {
          var rows = $table.bootstrapTable('getData'),
              index = $(this).parents('tr').data('index');
          var row = rows[index];
          var data = {"id": row.id};
          data[params.name] = params.value;
          return data;
        },
        url: edit_url,
        validate: function (value) { 
          if(isNaN(value)) return "Must be a number";
          value = $.trim(parseFloat(value));
          if (!value) {
            return 'This field is required';
          }    
          if (value < 0) {
            return 'Must be positive';
          }
          var data = $table.bootstrapTable('getData'),
              index = $(this).parents('tr').data('index');
          return '';
        }
      },
      footerFormatter: totalPriceFormatter
    }, {
      field: 'subtotal',
      title: 'Line Total',
      sortable: true,
      editable: false,
    }, {
      field: 'operate',
      title: 'Item Operate',
      events: operateEvents,
      formatter: operateFormatter
    }];

</script>
{/literal}
