                        
                        
                        {$p = "`$smarty.const.PAGE_PAYMENT|link``$scope.invoice.id`"}                        
                        <ul class="list user-profile-nav">
                          <li class="class-filter active"><a href="{$p}/payment{$pin}" id="payment-payment"><i class="fa fa-credit-card"></i>Payment</a></li>
                          <li class="class-filter">       <a href="{$p}/print{$pin}"   id="invoice_pdf_link"><i class="fa fa-file-pdf-o"></i>Print Invoice</a></li>                            
                        </ul>
                                                                                      
