        <!--div id='fullcalendar-loading'><h3>Loading...</h3></div-->           
        {if ($scope.rental.rate_day > 0 && $scope.rental.currency)}
          {* cur: {$scope.rental.currency} rate: {$scope.rental.rate_day} *}
          <p><b>This is your private calendar and information other than availability and price is not shown to others.</b></p>
          <ul>
            <li>Click on a specific date to change availability and/or price.</li> 
            <li>Click and drag to select and change multiple dates. </li>
          </ul>

          <div id='fullcalendar' class="relative"
               data-options='{$scope.single_calendar_options|@json_encode}' 
               data-url='{$scope.single_calendar_url}'  
               data-rental='{$scope.single_calendar_rental|@json_encode}'>
               <div id='cal_menu' class='collapse'></div>          
          </div>
          <a href="#" class="btn btn-primary linkref" data-target="#rental-listing">Click here for next step <i class="fa fa-arrow-right"></i></a>                      
          {{"include": "_calendar-dialog.html"}}
          {{"include": "_calendar-dialog-simple.html"}}
          {{"include": "_calendar-dialog-weekly-rate.html"}}
          {{"include": "_calendar-dialog-monthly-rate.html"}}
        {else}
          {"Please set daily rate and currency first"|alert:"error"}
        {/if}
        
