            <h4>Photos</h4>
            <p>Either drag one or more files from your finder/explorer and drop them on the "Add Files" button below, or click the button and select one of more photos from your disk.</p>
            <p>To upload multiple photos, click the "Start upload button" that appears just below, not the "Upload" button next to the individual photos.</p>
            {$scope.uploader}
            <a href="#" class="btn btn-primary linkref" data-target="#rental-guide">Click here for next step <i class="fa fa-arrow-right"></i></a>
