            <h4>Property Import</h4>
            <p>For owners with multiple properties, we can also work with you to import your properties from an external source, 
            when the other party allows it. To arrange this, please <a href="mailto:{$site.email_address}">contact us</a> us.</p>
            <div class="gap gap-small"></div>
            <h4>Calendar Import</h4>
            <p>Use this to import external calendars. If you would like to see another source added, please 
               <a href="mailto:{$site.email_address}">contact us</a> to let us know
            </p>
            
            {if ($scope.sources|@count)}
              <h5>Existing sources</h5>
              <table class="table table-bordered table-striped table-booking-history">
                <thead>     
                  <tr>
                    <th>Type</th>
                    <th>Name</th>
                    <th>Source</th>
                    <th>Last Sync</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                {foreach from=$scope.sources item=source}
                  {$row_id = "import-"|cat:$source.id}
                  {$selector = "#"|cat:$row_id}
                  <tr id="{$row_id}">
                    <td class="booking-history-type"><i class="fa fa-home"></i><small>rental</small></td>
                    <td>{$source.name}</td>
                    <td>{$source.source_id|get:"source":"name"}</td>
                    <td>{$source.last_sync|datetime}</td>
                    <td class="text-center">
                     <a class="fa fa-download ajax-link" href="#" 
                        data-target="#import-result" 
                        data-handler="calendar-import"
                        data-load_text = "Importing..."
                        data-data='{["source_id" => $source.id, "user_id" => $user.id]|@json_encode}' rel="tooltip"
                        
                        data-placement="top" title="{$source.url}"> Import
                     </a>
                     <a class="fa fa-times" href="#" id="delete-{$source.id}" 
                       data-toggle="confirmation" data-on-confirm="delete_object" 
                       data-obj_type="calendar_import" data-id="{$source.id}" data-handler="delete_object_handler" 
                       data-handler_data='{["target" => $selector]|@json_encode}' 
                       rel="tooltip" data-placement="top" title="Really?"> Delete
                     </a>
                     
                    </td>
                  </tr>
                {/foreach}
                </tbody>
              </table>          
            {/if}
            
            <h5>Add source</h5>
            <form id="property_import_form" class="ajax-submit" data-handler="add" data-reload_link="#rental-import-link" data-toggle="validator">
              <input type="hidden" name="obj_type" value="calendar_import">
              <input type="hidden" name="user_id" value="{$user.id}">
              <input type="hidden" name="host_id" value="{$scope.rental.host_id}">
              <input type="hidden" name="site_id" value="{$site.id}">
              <input type="hidden" name="property_type" value="{$scope.rental.type}">
              <input type="hidden" name="apt_id" value="{$scope.rental.id}">
              <div class="form-group">
                <label>Source</label>
                {"source_id"|object_select:"source":["class" => "form-control", "value" => $scope.rental.source, "search" => ["active" => 1]]}
              </div>
              <div class="form-group">
                <label>Calendar Name</label>
                <input name="name" class="form-control" type="text" placeholder="" required/>
              </div>
              <div class="form-group">
                <label>Property ID @ Source</label>
                <input name="fid" class="form-control" type="text" placeholder=""/>
              </div>
              <div class="form-group">
                <label>Property Name @ Source <a href="#" data-toggle="tooltip" title="If you leave this blank, all entries from the remote calendar will be imported. If you fill it in, only entries with matching Location Attribute will be imported (for iCal)"><i class="fa fa-question-circle"></i></a></label>
                <input name="fname" class="form-control" type="text" placeholder=""/>
              </div>
              <div class="form-group">
                <label>Url</label>
                <input name="url" class="form-control" type="url" data-error="Ooops, that URL is invalid"
                placeholder="https://www.airbnb.com/calendar/ical/45442.ics?s=ed7d9a6191df449851669b1c673375f"/>
                <div class="help-block with-errors"></div>
              </div>
              <hr>
              <input type="submit" class="btn btn-primary" value="Add">
            </form>

