<h4>Short Description</h4>

<p>Great views over the Santa Maria G&CC from the spacious terrace of our 3 bedroom 
apartment. Recently renovated. Just 200 meters from the club house, super market and choice 
of restaurants in walking distance. Centre Marbella only 15 minutes by car.</p>

<h4>Detailed description</h4>

<p>The apartment is situated on the 3rd floor if the very well kept apartment block "Las terrazas 
de Santa Maria Golf". Just 1 km from the centre of Elviria, 2 km from the beach and 15 
minutes drive from the all year round lively centre of Marbella.
Living/dining room with comfortable furnishing, TV/DVD (DVD collection available) and 
entrance to the big, sunny terrace with dining table (seats 8) and 4 deck chairs. Air-
conditioning, forced-air heating.</p>

Bedroom 1: 1 king size double bed 200 x 200 cm, ensuite bathroom with toilet<br>
Bedroom 2: 1 queen size double bed 160 x 200 cm<br>
Bedroom 3: 2 single beds 90 x 200 cm<br>
Second bathroom with separate bath and shower. Separate toilet.<br>
<p>
Fully equipped kitchen (oven, dishwasher, 4 ceramic glass hob hotplates, microwave, freezer, 
Nespresso coffee machine). Washing machine.
Garden with lawn and 2 swimming pools for shared use (15.05. - 30.09. pool opening hours: 
10:00-22:00). Children's pool, communal covered parking. Please note: non-smokers only.
</p>

<h4>Interaction with guests</h4>

<p>We only rent out the house when we are on holidays. So we won't be available ourselves, but 
our caretaker will check you in personally and is always eager to answer questions. We enjoy 
communicating with our guests before their arrival in order to let them take the most out of 
their stay in our property</p>

<h4>House rules</h4>

<p>This is our private home, treat it if it was your own. No smoking inside, you are welcome to 
smoke on the terrace. Respect our neighbours both in the apartment, the communal area’s and 
on the street. Don’t litter.</p>

<h4>The neighbourhood</h4>

<p>The apartment is in the safe, gated Urbanization Las Terrazas de Santa Maria Golf, next to the 
Santa Maria Golf course in Elviria, 15 minutes drive from Marbella city centre on the east 
side. The very well-kept community offers a beautiful Mediterranean garden, various 
swimming pools for children and adults and lots of tranquility. Located a couple of minutes 
from the centre of Elviria with supermarket, shops, banks,bars, restaurants and the beautiful 
sandy beaches in Elviria.</p>

<h4>Insider tips</h4>
<p>Our favourite restaurant is Rosmarino della Piazza with its enthusiastic owner Pepe. The 
Nikki Beach Club is the place to be on the beach in Elviria.</p>

