                    
                    <!--h4>Statistics</h4>
                    <ul class="list list-inline user-profile-statictics mb30">
                        <li><i class="fa fa-dashboard user-profile-statictics-icon"></i>
                            <h5>20</h5>
                            <p>Nights</p>
                        </li>
                        <li><i class="fa fa-globe user-profile-statictics-icon"></i>
                            <h5>2</h5>
                            <p>Guests</p>
                        </li>
                        <li><i class="fa fa-building-o user-profile-statictics-icon"></i>
                            <h5>{$scope.rental.rental.currency|currency}1500</h5>
                            <p>Earned</p>
                        </li>
                    </ul-->
                    
                    {$steps = $scope.steps_remaining}
                    {$step_count = $steps|@count}
                    {if ($step_count)}
                    <div class="panel-quote-flush panel">
                      <div class="alert alert-with-icon alert-info alert-block row-space-4">
                        <div class="h3 no-margin nopad">
                           <!--i class="fa fa-clock-o fa-4x middle"></i-->
                           We recommend you to fill in all the fields of the Edit Rental menu.<br>                            
                        </div>
                        <div class="mt20">
                          The <b>minimum</b> requirements for publishing your rental are:
                          <ul>
                          {foreach from=$steps item=step}
                            <li>{$step}</li>
                          {/foreach}
                          </ul>
                        </div>                       
                      </div>
                    </div>
                    
                    {/if}
                    {* Outside form on purpose as we don't want to trigger update, b/c unchecked checkbox is not sent *}
                    <!--div class="clearfix">
                      <h4 class="pull-left inline">Do you want to publish this listing?</h4>
                      <div class="checkbox pull-right">
                        <label>
                          <input type="checkbox" data-target="#property_active" class="bootstrap-toggle cb-update-target" {if ($scope.rental.active)}checked{/if} data-toggle="toggle" data-onstyle="success" data-offstyle="danger">                            
                        </label>                               
                      </div>
                      <input type="text" name="active" id="property_active" value="{$scope.rental.active}">
                    </div-->
                    <form id="basic-edit-form" class="ajax-submit geo-details autosave" 
                          data-obj_type="{$scope.rental.type}" data-obj_id="{$scope.rental.id}" data-toggle="validator" data-handler="save"
                          data-message='Saved!' data-reload_link="#rental-description">
                      <input name="user_id" type="hidden" value="{$user.id}" />
                      <input name="site_id" type="hidden" value="{$site.id}" />
                      <input name="obj_type" type="hidden" value="{$scope.rental.type}" />
                      <input name="id" type="hidden" value="{$scope.rental.id}" />

                      {if (!$step_count)}
                      {$yes_no = [0 => "No", 1 => "Yes"]}
                      <div class="form-group">
                        <label>Do you want to publish this rental</label>
                        {html_options name="active" class="form-control" options=$yes_no selected=$scope.rental.active}                                            
                      </div>
                      {/if}

                      <h4>Location</h4>
                      <!--div class="form-group form-group-icon-left"><i class="fa fa-plane input-icon"></i>
                          <label>Home Airport</label>
                          <input name="aiport" class="form-control" value="London Heathrow Airport (LHR)" type="text" />
                      </div-->
                      <div class="row">
                        <div class="form-group col-sm-8">
                          <label>Street</label>
                          <input name="address_street" class="form-control" value="{$scope.rental.address_street}" type="text" placeholder="High Street" maxlength="100"/>
                        </div>
                        <div class="form-group col-sm-2">
                          <label>Number</label>
                          <input name="address_number" class="form-control" value="{$scope.rental.address_number}" type="number" min="0" placeholder="33" data-error="Numbers only" />
                          <!--div class="help-block with-errors">Whole Number</div-->                          
                        </div>
                        <div class="form-group col-sm-2">
                          <label>Extension</label>
                          <input name="address_suffix" class="form-control" value="{$scope.rental.address_suffix}" type="text" placeholder="For ex. B" maxlength="10"/>
                        </div>
                      </div>
                      
                      <div class="form-group">
                          <label>City</label>
                          <input name="address_city" class="form-control" value="{$scope.rental.address_city}" type="text" maxlength="50"/>
                      </div>
                      <div class="form-group">
                          <label>State/Province/Region</label>
                          <input name="address_state" class="form-control" value="{$scope.rental.address_state}" type="text" maxlength="50"/>
                      </div>
                      <div class="form-group">
                          <label>ZIP code/Postal code</label>
                          <input name="address_postcode" class="form-control" value="{$scope.rental.address_postcode}" type="text" maxlength="20"/>
                      </div>
                      <!--div class="form-group">
                          <label>Country</label>
                          <input name="address_country" class="form-control" value="{$scope.rental.address_country}" type="text" />
                      </div-->
                      <input type="submit" class="btn btn-primary" value="Click here for next step">                      

                      <div class="gap gap-small"></div>
                      <div class="row">
                        <input name="address" id="geocomplete" data-zoom="14" data-lat="{$scope.rental.location_lat}" data-lng="{$scope.rental.location_long}"  class="form-control visuallyhidden" placeholder="123 Main street, New York" type="text"/>
                      
                        <div class="form-group col-sm-6">
                          <label>Latitude</label>        
                          <input readonly name="location_lat" class="form-control" placeholder="" value="{$scope.rental.location_lat}" type="text" data-geo="lat"/>
                        </div>
                        <div class="form-group col-sm-6">
                          <label>Longitude</label>        
                          <input readonly name="location_long" class="form-control" placeholder="" value="{$scope.rental.location_long}" type="text" data-geo="lng"/>
                        </div>             
                      </div>
                    
                      <div id="property_map" class="{$class} big_gmap margin-top">The Map</div>                      
                    </form>
                                     
