{$analytics = $scope['analytics']}
{$profile = $scope.profile}

<div class="container">
	<form id="user_profile_form" class="ajax-submit" data-handler="get-analytics" data-toggle="validator" data-reload_link="#user-verification-link">
		
	    <input type="hidden" name="year"  id="selected_year" value="" />
	    <input type="hidden" name="month"  id="selected_month" value="" />

    	<input hidden="1" name="next_tab" type="hidden" value="styling"> 
  		<div class="form-group col-sm-12">
    		<label for="website-type">Select Month and Year<span style="font-size:16px;font-weight: lighter;">: </span></label>
    	</div>
		<div class="form-group col-sm-2">
			<SELECT style="width:150px;" name="type" class="form-control auto-select" id ="year" name = "yyyy" onchange="change_year(this)"></SELECT>
        </div>
		<div class="form-group col-sm-2">

	    	<SELECT  style="width:150px;" name="type" class="form-control auto-select" id ="month" name = "mm" onchange="change_month(this)"></SELECT>
    	</div>
		<div class="form-group col-sm-2">
	  		<input type="submit" id="submit" class="btn btn-success" value="Get Data">         
    	</div>

  		<br />
	</form>

	<table class="table table-bordered">
	    <thead>
	      	<tr>
		        <th>Name</th>
		        <th>Account Type</th>
		        <th>Logins</th>
		        <th>Media</th>
		        <th>Artworks</th>
		        <th>Exhibition</th>
		        <th>Minisites</th>
		        <th>Connected</th>

	      	</tr>
	    </thead>
	   
	</table>
	
</div>
<script type="text/javascript">
	var Days = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];// index => month [0-11]
	$(document).ready(function () {


		$("#submit").click(function() {
            $('#selected_year').val($("#year").val());
            $('#selected_month').val($("#month").val());
        });
		var option = '<option value="day">day</option>';
		var selectedDay = "day";
		for (var i = 1; i <= Days[0]; i++) { //add option days
			option += '<option value="' + i + '">' + i + '</option>';
		}
		$('#day').append(option);
		$('#day').val(selectedDay);

		var option = '<option value="month">month</option>';
		var selectedMon = "month";
		for (var i = 1; i <= 12; i++) {
		    option += '<option value="' + i + '">' + i + '</option>';
	  	}
		$('#month').append(option);
		$('#month').val(selectedMon);

		var option = '<option value="month">month</option>';
		var selectedMon = "month";
		for (var i = 1; i <= 12; i++) {
			option += '<option value="' + i + '">' + i + '</option>';
		}
		$('#month2').append(option);
		$('#month2').val(selectedMon);

		var d = new Date();
		var option = '<option value="yearr">year</option>';
		selectedYear = "year";
	  	for (var i = 2021; i <= d.getFullYear(); i--) {
		    option += '<option value="' + i + '">' + i + '</option>';
	  	}
	  	$('#year').append(option);
	  	$('#year').val(selectedYear);
	});
	function isLeapYear(year) {
		year = parseInt(year);
		if (year % 4 != 0) {
			return false;
		} else if (year % 400 == 0) {
			return true;
		} else if (year % 100 == 0) {
			return false;
		} else {
			return true;
		}
	}

	function change_year(select) {
	  	if (isLeapYear($(select).val())) {
	    	Days[1] = 29;
	  	}
	  	else {
	   		Days[1] = 28;
	  	}
	  	if ($("#month").val() == 2) {
		    var day = $('#day');
		    var val = $(day).val();
		    $(day).empty();
		    var option = '<option value="day">day</option>';
		    for (var i = 1; i <= Days[1]; i++) { //add option days
		      	option += '<option value="' + i + '">' + i + '</option>';
		    }
	    	$(day).append(option);
	    	if (val > Days[month]) {
	      		val = 1;
	    	}
	    	$(day).val(val);
	  	}
	}

	function change_month(select) {
		var day = $('#day');
		var val = $(day).val();
		$(day).empty();
		var option = '<option value="day">day</option>';
		var month = parseInt($(select).val()) - 1;
		for (var i = 1; i <= Days[month]; i++) { //add option days
			option += '<option value="' + i + '">' + i + '</option>';
		}
		$(day).append(option);
		if (val > Days[month]) {
			val = 1;
		}
		$(day).val(val);
	}
</script>


