
                  {$profile = $scope.profile}
                  
                    <form id="user_overview_form" class="ajax-submit"  data-handler="save" data-toggle="validator">
                      <input type="hidden" name="obj_type" value="user_profile" />
                      <input type="hidden" name="id"  value="{$profile.profile_id}" />
                      <input type="hidden" name="user_id" value="{$profile.user_id}" />
                      <input type="hidden" name="site_id" value="{$site.id}" />

                      <label>Logo Image</label>
                      {"user_profile"|object_uploader:$profile.profile_id:"photo":["resize" => 1]}
                      
                      {* $scope.uploader *}

                      <div class="form-group">
                        <label>About Title</label>
                        <input name="title" id="title" class="form-control" value="" type="text" style= "width:500px" /> 
                      </div>

                      <div class="form-group">
                        <label>About</label>
                        <textarea name="description" class="summernote form-control" placeholder="Please describe yourself and your interests.">{$scope.profile.description}</textarea>
                      </div>

                      {if ($site.golf_site)}
                      <div class="form-group form-group-icon-left">
                        <i class="fa fa-search input-icon"></i>                      
                        <label>What is your home course?</label>
                        {"golf_home_course"|object_select:"golf_club":["class" => "form-control", "value" => $scope.profile.golf_home_course]}
                      </div>
                      <div class="form-group">
                        <label>What is your handicap?</label>
                        <input name="golf_handicap" class="form-control" value="{$scope.profile.golf_handicap}" type="number" />
                      </div>
                      <div class="form-group form-group-icon-left">
                        <i class="fa fa-search input-icon"></i>                      
                        <label>What is your favorite course?</label>
                        {"golf_favorite_course"|object_select:"golf_club":["class" => "form-control", "value" => $scope.profile.golf_favorite_course]}
                      </div>
                      {/if}
                      
                      <input type="submit" class="btn btn-success" value="Save">
                      <div class="gap gap-small"></div>
                      
                    </form>
                    

                                   
                    <!--div id="map-canvas" style="width:100%; height:400px;"></div-->

