{$profile = $scope.profile}
<form id="user_profile_form" class="ajax-submit" data-handler="save-details" data-toggle="validator" data-reload_link="#user-verification-link">
  <!-- <input type="hidden" name="obj_type" value="user_profile" /> -->
  <input type="hidden" name="obj_id"  value="{$scope.user.profile_id}" />
  <input type="hidden" name="user_id" value="{$scope.user.user_id}" />
  <input type="hidden" name="site_id" value="{$site.id}" />
  <input type="hidden" name="page"  value="profile" />
  <input type="hidden" name="artist" value="1" />


  <div class="row mb20">
    <div class="col-sm-6">
    <label>Gallery Name</label>
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-user"></i></span>
      <input name="gallery_name" id="gallery_name" class="form-control" value="{$scope.profile.gallery_name}" type="text"  />
    </div>
    </div>
  </div>

  {$days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']}
  {$working_hour = json_decode($profile.working_hours, True)}
  <div class="row mb20">
    <div class="form-group col-sm-12">
      <label for="Time">Opening Times</label>
      <table cellspacing="20">
        <tr style="height: 15px;"> 
        {if ($working_hour)}
          {for $i=0 to 6}
            {$time = explode('-', $working_hour[{$days[$i]}])}
            {$holiday = 0}
            {if (($time[0] =='0:00') && ($time[1] =='0:00'))}
              {$holiday = 1}
            {/if}
            <tr>
              <td style= "width:200px">
                <label for="days">{$days[$i]}</label>
              </td>          
                <td style= "width:200px">
                  <div class="input-group" style= "width:150px">
                    <input type="text" id ="open_time" name="opening_time[{$days[$i]}]" class="form-control input-small timepicker"  value="{$time[0]|date_format:'H:i'}"  data-time-format="H:i">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                  </div>
                </td>
                <td style= "width:200px">
                  <div class="input-group" style= "width:150px">
                    <input type="text" id ="close_time" name="closing_time[{$days[$i]}]" class="form-control input-small timepicker" value="{$time[1]|date_format:'H:i'}" data-default="00:00" data-time-format="H:i">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                  </div>
                </td>
                <td>
                  <input type="checkbox" id="holiday" {if ($holiday == '1')}checked{/if} class="form-control" name="holiday[{$days[$i]}]" value="1" style= "width:20px"> 
                </td> 
                <td style= "width:200px">Closed</td> 
            </tr>
            
          {/for}
        {else}
          {$i = 0}
          {foreach from=$days  item=$day}
            <tr>
              <td style= "width:200px">
                <label for="days">{$day}</label>
              </td>          
                <td style= "width:200px">
                  <div class="input-group" style= "width:150px">
                    <input type="text" id ="open_time" name="opening_time[{$days[$i]}]" class="form-control input-small timepicker"  value="{$time[0]|default:'00:00'}"  data-time-format="H:i">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                  </div>
                </td>
                <td style= "width:200px">
                  <div class="input-group" style= "width:150px">
                    <input type="text" id ="close_time" name="closing_time[{$days[$i]}]" class="form-control input-small timepicker" value="{$time[1]|default:'00:00'}"  data-time-format="H:i">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                  </div>
                </td>
                <td>
                  <input type="checkbox" id="holiday" {if ($holiday == '1')}checked{/if} class="form-control" name="holiday[{$days[$i]}]" value="1" style= "width:20px" checked>
                </td> 
                <td style= "width:200px">Closed</td> 
            </tr>
            {$i = $i + 1}
          {/foreach}
        {/if}
        <tr style="height: 15px;"/>
      </table>           
    </div> 
  </div>

  {$contact = json_decode($profile.contact, True)}
  {$count = count($contact)}
  <div class="row mb20">
    <div class="form-group col-sm-6">
      <label for="contacts">Additional Contacts</label>
      {if ($contact)}
        {for $i = 0 to 4}
          <div class="row mt20" style="margin-bottom: 10px;">
            <div class="col-md-3 col-sm-3">
              <label for="contacts">Contact Title</label> 
            </div>
            <div class="col-md-6 col-sm-6">    
              <input name="contact[title][]" id="name" class="form-control" value="{$contact[$i]['title']}" type="text" placeholder="Title" />
            </div>
          </div>

          <div class="row" style="margin-bottom: 10px;">
            <div class="col-md-3 col-sm-3">
              <label for="contacts">E-mail address</label> 
            </div>
            <div class="col-md-6 col-sm-6">    
              <input name="contact[email][]" id="name" class="form-control" value="{$contact[$i]['email']}" type="email" placeholder="E-mail" />
            </div>
          </div>
          <div class="row mb20">
            <div class="col-md-3 col-sm-3">
              <label for="contacts">Phone No.</label> 
            </div>
            <div class="col-md-6 col-sm-6">    
              <input name="contact[phone][]" id="name" class="form-control" value="{$contact[$i]['phone']}" type="tel" placeholder="Phone Number" />
            </div>
          </div>
        {/for}
      {else}
        <div class="row mt20" style="margin-bottom: 10px;">
          <div class="col-md-3 col-sm-3">
            <label for="contacts">Contact Title</label> 
          </div>
          <div class="col-md-6 col-sm-6">    
            <input name="contact[title][]" id="name" class="form-control" value="" type="text" placeholder="Title" />
          </div>
        </div>

        <div class="row" style="margin-bottom: 10px;">
          <div class="col-md-3 col-sm-3">
            <label for="contacts">E-mail address</label> 
          </div>
          <div class="col-md-6 col-sm-6">    
            <input name="contact[email][]" id="name" class="form-control" value="" type="email" placeholder="E-mail" />
          </div>
        </div>

        <div class="row mb20">
          <div class="col-md-3 col-sm-3">
            <label for="contacts">Phone No.</label> 
          </div>
          <div class="col-md-6 col-sm-6">    
            <input name="contact[phone][]" id="name" class="form-control" value="" type="tel" placeholder="Phone Number" />
          </div>
        </div>

        <div class="row mt20" style="margin-bottom: 10px;">
          <div class="col-md-3 col-sm-3">
            <label for="contacts">Contact Title</label> 
          </div>
          <div class="col-md-6 col-sm-6">    
            <input name="contact[title][]" id="name" class="form-control" value="" type="text" placeholder="Title" />
          </div>
        </div>

        <div class="row" style="margin-bottom: 10px;">
          <div class="col-md-3 col-sm-3">
            <label for="contacts">E-mail address</label> 
          </div>
          <div class="col-md-6 col-sm-6">    
            <input name="contact[email][]" id="name" class="form-control" value="" type="email" placeholder="E-mail" />
          </div>
        </div>

        <div class="row mb20">
          <div class="col-md-3 col-sm-3">
            <label for="contacts">Phone No.</label> 
          </div>
          <div class="col-md-6 col-sm-6">    
            <input name="contact[phone][]" id="name" class="form-control" value="" type="tel" placeholder="Phone Number" />
          </div>
        </div>

        <div class="row mt20" style="margin-bottom: 10px;">
          <div class="col-md-3 col-sm-3">
            <label for="contacts">Contact Title</label> 
          </div>
          <div class="col-md-6 col-sm-6">    
            <input name="contact[title][]" id="name" class="form-control" value="" type="text" placeholder="Title" />
          </div>
        </div>

        <div class="row" style="margin-bottom: 10px;">
          <div class="col-md-3 col-sm-3">
            <label for="contacts">E-mail address</label> 
          </div>
          <div class="col-md-6 col-sm-6">    
            <input name="contact[email][]" id="name" class="form-control" value="" type="email" placeholder="E-mail" />
          </div>
        </div>

        <div class="row mb20">
          <div class="col-md-3 col-sm-3">
            <label for="contacts">Phone No.</label> 
          </div>
          <div class="col-md-6 col-sm-6">    
            <input name="contact[phone][]" id="name" class="form-control" value="" type="tel" placeholder="Phone Number" />
          </div>
        </div>

        <div class="row mt20" style="margin-bottom: 10px;">
          <div class="col-md-3 col-sm-3">
            <label for="contacts">Contact Title</label> 
          </div>
          <div class="col-md-6 col-sm-6">    
            <input name="contact[title][]" id="name" class="form-control" value="" type="text" placeholder="Title" />
          </div>
        </div>

        <div class="row" style="margin-bottom: 10px;">
          <div class="col-md-3 col-sm-3">
            <label for="contacts">E-mail address</label> 
          </div>
          <div class="col-md-6 col-sm-6">    
            <input name="contact[email][]" id="name" class="form-control" value="" type="email" placeholder="E-mail" />
          </div>
        </div>

        <div class="row mb20">
          <div class="col-md-3 col-sm-3">
            <label for="contacts">Phone No.</label> 
          </div>
          <div class="col-md-6 col-sm-6">    
            <input name="contact[phone][]" id="name" class="form-control" value="" type="tel" placeholder="Phone Number" />
          </div>
        </div>

        <div class="row mt20" style="margin-bottom: 10px;">
          <div class="col-md-3 col-sm-3">
            <label for="contacts">Contact Title</label> 
          </div>
          <div class="col-md-6 col-sm-6">    
            <input name="contact[title][]" id="name" class="form-control" value="" type="text" placeholder="Title" />
          </div>
        </div>

        <div class="row" style="margin-bottom: 10px;">
          <div class="col-md-3 col-sm-3">
            <label for="contacts">E-mail address</label> 
          </div>
          <div class="col-md-6 col-sm-6">    
            <input name="contact[email][]" id="name" class="form-control" value="" type="email" placeholder="E-mail" />
          </div>
        </div>

        <div class="row mb20">
          <div class="col-md-3 col-sm-3">
            <label for="contacts">Phone No.</label> 
          </div>
          <div class="col-md-6 col-sm-6">    
            <input name="contact[phone][]" id="name" class="form-control" value="" type="tel" placeholder="Phone Number" />
          </div>
        </div>
      {/if}
    </div>
  </div>

  {$socio = $scope.profile.social}
  {$jsonData = stripslashes(html_entity_decode($socio))}
  {$social = json_decode(trim($jsonData), TRUE)}

  <div class="row mb20">
    <div class="col-sm-12">
      <label for="title">Social Media Profiles</label>
      <table cellspacing="20"> 
        <tr style="height: 15px;"/>
        <tr>
          <td style= "width:200px">
            <label for="Instagram">Instagram</label>
          </td>
          <td style= "width:500px">
            <div class="input-group" style= "width:300px">
              <input name="social[insta]" id="instagram" class="form-control" value="{$social['insta']}" type="text" /> 
            </div>
          </td>
        </tr>
        <tr style="height: 15px;"/>
        <tr>
          <td style= "width:200px">
            <label for="Facebook">Facebook</label>
          </td>
          <td style= "width:500px">
            <div class="input-group" style= "width:300px">
              <input name="social[fbook]" id="facebook" class="form-control" value="{$social['fbook']}" type="text" />
            </div>
          </td>
        </tr>
        <tr style="height: 15px;"/>
        <tr>
          <td style= "width:200px">
            <label for="Twitter">Twitter</label>
          </td>
          <td style= "width:500px">
            <div class="input-group" style= "width:300px">
              <input name="social[twit]" id="twitter" class="form-control" value="{$social['twit']}" type="text" />
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
                         
  <input type="submit" class="btn btn-success" value="Save">            

</form>