          <form class="ajax-submit password-form" method="post" data-handler="reset-password">
            <div class="form-group form-group-icon-left"><i class="fa fa-user input-icon"></i>
              <label>Username or email</label>
              <input name="username_or_email" class="form-control" placeholder="e.g. johndoe@gmail.com" type="text" value="{$smarty.get.u}"/>
            </div>
            <input name="site_id" type="hidden" value="{$site.id}" id="site_id">
            <input class="btn btn-primary" type="submit" value="Send" />
            <div class='gap gap-small'></div>                      
          </form>

