
                  <div class="row">
                    <div class="col-xs-6">
                      <div class="row">
                        <div class="col-xs-4" style="padding: 0 0 0 15px !important">
                          <a href="{$smarty.const.PAGE_PROFILE|link}{$thisuser.id}">
                            <img src="{$thisuser.id|userphoto:'square'}" alt="{$thisuser.display_name}" />
                          </a>
                        </div>
                        <div class="col-xs-8">
                          <b>{$user_type|capitalize}:</b><br>                        
                          <h5>{$thisuser.display_name|default:$user.first_name}</h5>
                          {$thisuser.country|flag}
                          {$thisuser.city} <br>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-12">
                          {if ($thisuser.created)}
                          {'member since'|translate:'c'} {$thisuser.created|date_format:'%B %Y'}
                          {/if}
                          {if ($thisuser.golf_handicap)}<br>Handicap: {$thisuser.golf_handicap}{/if}
                        </div>
                      </div>
                    </div>                      
                    <div class="col-xs-6">
                    {$quote}
                    </div>
                  </div>
                      
                        
                          
