<div id="verify_modal" class="modal fade" tabindex="-1" data-replace="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <b id="overlay_title">Verify Payment</b>
      </div>
      <div class="modal-body" class="container-fluid">
        <h4>Contacting gateway... <i class="fa fa-spinner fa-spin"></i></h4>
      </div>
    </div>
  </div>
</div>

